<script src="{{ 'account-saved-items.js' | asset_url }}" defer="defer"></script>

<section class="saved-items" data-customer-id="{{customer.id}}">
  <div class="wrap">
    <h3>Saved Designs</h3>
    {% assign sfl = customer.metafields.scl-save_for_later.save_for_later %}

    {% if sfl.size > 0 %}
      <p class="desc">Here are your saved designs (you can have up to 24 at one time). Return to the Customizer to continue tweaking, share the design, or place it into your&nbsp;cart.</p>
      {% comment %} <a class="deleteAll overlayBtn" data-overlay="deleteAll">Delete all</a> {% endcomment %}

      <div id="saved">
        {% for item in sfl reversed %}
  			<div class="product">
          <span class="photo"><img src='{{ item.screenshot }}' /></span>
          <p class="info">
            <strong>{{ item.name }}</strong><br/>
            <time>{{ item.date | date: "%B %e, %Y | %l:%M %p" }}</time>
          </p>
  				<p class="product-footer">
    				<a class="return" data-saved-id="{{ item.id }}" data-link-id="{{ item.link_id }}">Return to Customizer</a>
    				<a class="remove" data-saved-id="{{ item.id }}">Delete</a>
    		  </p>
  			</div>
        {% endfor %}
      </div>
    {% else %}
      <p class="desc">You haven't saved any items yet.</p>
    {% endif %}
  </div>
</section>