{%- if item.properties -%}
  {%- for p in item.properties -%}
    {%- if p.first == 'Promo' -%}
      {%- assign promo_product = 'data-fgwp-product' -%}
      {%- assign promo_message = p.last -%}
    {%- endif -%}
    {%- unless p.last == blank -%}
      {%- if p.first contains 'Customized Bag Url'  -%}
        {%- assign customize_bag_url = p.last  -%}
      {%- elsif p.first contains 'Patch Count'  -%}
        {%- assign patchCount = p.last -%}
      {%- elsif p.first contains 'Timestamp'  -%}
        {%- assign timestamp = p.last -%}
      {%- elsif p.first contains 'Screenshot'  -%}
        {%- assign screenshot = p.last -%}
      {%- elsif p.first contains 'Tidy'  -%}
        {%- assign tidyMessage = p.last -%}
      {%- elsif p.first contains 'Name'  -%}
        {%- assign propName = p.last -%}
      {%- endif -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endif -%}

{% assign isCustomizedProduct = false %}
{% for prop in item.properties %}
  {% if prop contains '_Customized Bag Url' %}
    {% assign isCustomizedProduct = true %}
  {% endif %}
{% endfor %}

{% assign has_children = false %}
{%- if isCustomizedProduct -%}
  {%- for subitem in cart.items -%}
    {%- for prop in subitem.properties -%}
      {%- if prop.first contains '_Parent Variant' and prop.last == item.id -%}
        {% assign has_children = true %}
        {% break %}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endif -%}

{% if has_children %}
  {% assign itemTitle = item.title | prepend: "Customized "  %}
{% else %}
  {% assign itemTitle = item.title %}
{% endif %}

<div
  class="cart-item product-group {% if has_children %}customized{% endif %} {% if item.title contains 'Gift Wrapping' %}gift-wrap-item{% endif %} {% if groupGiftWrapProducts and item.title contains 'Gift Wrapping' %}hidden{% endif %}"
  id="CartItem-{{ item.index | plus: 1 }}"
  data-key="{{ item.key }}"
  data-vid="{{ item.id }}"
  data-quantity="{{item.quantity}}"
  {% if item.title contains "Gift Wrapping" %}
    data-item-key="{{item.properties.itemKey}}"
    data-gift-variant="{{item.properties.vid}}"
    data-note="{{item.properties.giftNote}}"
    data-to="{{item.properties.to}}"
    data-from="{{ item.properties.from }}"
  {% endif %}
>
  <div class="cart-item__media">

    {% if screenshot %}
      <img class="cart-item__image"
        src="{{ screenshot }}"
        loading="lazy"
      >
    {% elsif item.image %}
      <img class="cart-item__image"
        src="{{ item.image | img_url: '224x' }}"
        alt="{{ item.image.alt | escape }}"
        loading="lazy"
        width="224"
        height="{{ 224 | divided_by: item.image.aspect_ratio | ceil }}"
      >
    {% endif %}
  </div>


  <div class="cart-item__details">
    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
      <header>
        <div class="cart-item__title">
        {% if has_children %}
          <h3>{{itemTitle}}</h3>
        {% else %}
          <h3><a href="{{ item.url }}">{{itemTitle}}</a></h3>
        {% endif %}
        {%- comment -%} Sold Out {%- endcomment -%}
        {%- if item.variant.inventory_quantity <= 0 and item.variant.inventory_policy != 'continue' -%}
          <span class="cart-sold-out" data-soldout>Sold Out</span>
        {%- else -%}
          {% if settings.final_sale_enabled %}
            {% if item.product.tags contains settings.final_sale_tag %}
              <span class="final-sale__text final-sale__cart">{{ settings.final_sale_message  }}</span>
            {% endif %}
          {% endif %}
        {%- endif -%}
        {%- if propName != blank -%}
          <span class="cart-item__property">Name: {{ propName }}</span>
        {%- endif -%}
        {%- for p in item.properties -%}
          {%- if p.first == 'GWP' -%}
            <span class="cart-item__property">{{ p.last }}</span>
          {%- endif -%}
          {%- if p.first contains 'GC ' -%}
            <span class="cart-item__property">{{ p.first | replace_first: 'GC', '' | replace: 'Recipient', "Recipient's email"  }}: {{ p.last }}</span><br/>
          {%- endif -%}
        {%- endfor -%}
        </div>
        <div class="cart-item__totals">

          <div class="loading-overlay hidden">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

          {% if has_children %}
            {% assign groupPrice = 0 %}
            {% assign groupOriginalPrice = 0 %}
            {%- for subitem in cart.items -%}
              {%- for prop in subitem.properties -%}
                {%- if prop.first contains '_Timestamp' and prop.last == timestamp -%}
                  {% assign updatedPrice = groupPrice | plus: subitem.price %}
                  {% assign updatedOriginalPrice = groupOriginalPrice | plus: subitem.original_price %}
                  {% assign groupPrice = updatedPrice  %}
                  {% assign groupOriginalPrice = updatedOriginalPrice  %}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
            {%- if groupOriginalPrice != groupPrice -%}
                <dl class="cart-item__discounted-prices">
                  <dt class="visually-hidden">
                    {{ 'products.product.price.regular_price' | t }}
                  </dt>
                  <dd>
                    <s class="cart-item__old-price price price--end">
                      {{ groupOriginalPrice | money }}
                    </s>
                  </dd>
                  <dt class="visually-hidden">
                    {{ 'products.product.price.sale_price' | t }}
                  </dt>
                  <dd class="price price--end">
                    {{ groupPrice | money }}
                  </dd>
                </dl>
            {%- else -%}
              <div class="cart-item__price-wrapper">
                <span class="price">{{ groupPrice | money }}</span>
              </div>
            {%- endif -%}
          {% else %}
            <div class="cart-item__price-wrapper">

              {%- if item.original_line_price != item.final_line_price -%}
                <dl class="cart-item__discounted-prices">
                  <dt class="visually-hidden">
                    {{ 'products.product.price.regular_price' | t }}
                  </dt>
                  <dd>
                    <s class="cart-item__old-price price price--end">
                      {{ item.original_line_price | money }}
                    </s>
                  </dd>
                  <dt class="visually-hidden">
                    {{ 'products.product.price.sale_price' | t }}
                  </dt>
                  <dd class="price price--end">
                    {{ item.final_line_price | money }}
                  </dd>
                </dl>
              {%- else -%}
                <span class="price price--end">
                  {{ item.original_line_price | money }}
                </span>
              {%- endif -%}

              {%- if item.variant.available and item.unit_price_measurement -%}
                <div class="unit-price caption">
                  <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                  {{ item.variant.unit_price | money }}
                  <span aria-hidden="true">/</span>
                  <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                  {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                    {{- item.variant.unit_price_measurement.reference_value -}}
                  {%- endif -%}
                  {{ item.variant.unit_price_measurement.reference_unit }}
                </div>
              {%- endif -%}

              {% if item.title contains 'Gift Wrapping' %}
                <p class="price-note">({{ item.quantity }} x {{item.variant.price | money}})</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </header>

      {% if has_children %}
      <div class="children-dropdown active">
        <div class="toggle">
          <span>Details</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </div>

        <div class="list">

          {%- for subitem in cart.items -%}
            {%- for prop in subitem.properties -%}
              {%- if prop.first contains '_Timestamp' and prop.last == timestamp -%}
                <div class="child-item" data-key="{{ subitem.key }}">
                  {% if subitem.image %}
                    <img class="child-image"
                      src="{{ subitem.image | img_url: '100x' }}"
                      alt="{{ subitem.image.alt | escape }}"
                      loading="lazy"
                      width="60"
                      height="{{ 60 | divided_by: subitem.image.aspect_ratio | ceil }}"
                    >
                  {% endif %}
                  <span class="title {% if subitem.title=='Customization Fee' %}pink{% endif %}" >
                  {{ subitem.title }}
                  </span>
                  {% comment %} <span class="price">
                  {{ subitem.price | money }}
                  </span> {% endcomment %}

                  {%- comment -%} SoldOut {%- endcomment -%}
                  {%- if subitem.variant.inventory_quantity <= 0 and subitem.variant.inventory_policy != 'continue' -%}
                    <span class="cart-sold-out small" data-soldout>Sold Out</span>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          {% if tidyMessage and tidyMessage != "null" %}
            <div class="child-item tidy-item">
                <img src="//cdn.shopify.com/s/files/1/0278/8062/0137/t/12/assets/tidy-icon.svg?v=1585923638" alt="Tidy" width="60">
                <span class="title">
                Tidy message: {{ tidyMessage }}
                </span>
              </div>
          {%- endif -%}
        </div>
      </div>
      {% endif %}

      <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
    {%- endif -%}

    {% unless item.title contains 'Gift Wrapping' %}
      {% unless has_children or item.title contains 'Route Package' %}
        <div class="cart-item__quantity">
          <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
            {{ 'products.product.quantity.label' | t }}
          </label>
          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
              type="number"
              name="updates[]"
              value="{{ item.quantity }}"
              min="0"
              aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
              id="Quantity-{{ item.index | plus: 1 }}"
              data-index="{{ item.index | plus: 1 }}"
              data-sku="{{ item.sku }}"
            >
            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
      {% endunless %}

      {% assign gid = item.key | replace: ":", "" %}
      {% assign giftId = "gift-" | append: gid %}
      {% assign note = item.properties['gift-note'] %}
      {% assign to = item.properties['to'] %}
      {% assign from = item.properties['from'] %}
      {% assign properties = item.properties | json | replace: "amp;", "" %}
      {% assign quantity = item.quantity %}

      {% comment %} Check for a gift wrapping product associated with this product {% endcomment %}
      {% for subitem in cart.items %}
        {% if subitem.properties.itemKey and subitem.properties.itemKey == item.key %}
          {% assign note = subitem.properties.giftNote %}
          {% assign to = subitem.properties.to %}
          {% assign from = subitem.properties.from %}
        {% endif %}
      {% endfor %}

      {% unless item.title contains 'Route Package' %}
        {% render "cart-gift-checkbox", id: giftId, label: "Gift wrap for $5", note: note, to: to, from: from, key: item.key, properties: properties, quantity: quantity, vid: item.id %}
      {% endunless %}

      <div class="cart-item__actions">
        {% if has_children %}
          <a class="cart-item-action edit" href="{{ customize_bag_url | replace: 'amp;', '' }}&timestamp={{ timestamp }}">Edit</a>
          <a class="cart-item-action remove" href="#">Remove</a>
          <a type='button' class="cart-item-action save" data-save-json='
            {
              "name": "{{ itemTitle }}",
              "customizer_link": "{{ customize_bag_url | replace: "amp;", "" }}",
              "customer_id": "{{ customer.id }}",
              "screenshot_link": "{{ screenshot }}"
            }
          '>
            Save For Later
          </a>
          <a class="cart-item-action duplicate" href="{{ customize_bag_url | replace: 'amp;', '' }}">Make Another</a>
        {% else %}
          <button class="cart-item-action remove" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
            Remove
          </button>
        {% endif %}
      </div>

      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
        {%- for discount in item.discounts -%}
          <li class="discounts__discount">
            {%- render 'icon-discount' -%}
            {{ discount.title }}
          </li>
        {%- endfor -%}
      </ul>

      <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
        <small class="cart-item__error-text"></small>
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
      </div>
    {% endunless %}
  </div>

  <div class="cart-item__actions mobile">
    {% if has_children %}
      <a class="cart-item-action edit" href="{{ customize_bag_url | replace: 'amp;', '' }}&timestamp={{ timestamp }}">Edit</a>
      <a class="cart-item-action remove" href="#">Remove</a>
      <a type='button' class="cart-item-action save" data-save-json='
        {
          "name": "{{ itemTitle }}",
          "customizer_link": "{{ customize_bag_url | replace: "amp;", "" }}",
          "customer_id": "{{ customer.id }}",
          "screenshot_link": "{{ screenshot }}"
        }
      '>
        Save For Later
      </a>
      <a class="cart-item-action duplicate" href="{{ customize_bag_url | replace: 'amp;', '' }}">Make Another</a>
    {% else %}
      <button class="cart-item-action remove" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
        Remove
      </button>
    {% endif %}
  </div>

</div>