
<div 
  class="gift-checkbox-wrapper {% if note != blank %}has-note{% endif %}" 
  id="{{ id }}" 
  data-id="{{ id }}" 
  data-vid="{{ vid }}" 
  data-key="{{ key }}" 
  data-note="{{ note }}" 
  data-to="{{ to }}"
  data-from="{{ from }}"
  data-properties='{{properties}}' 
  data-quantity="{{quantity}}"
>

  <div class="field-checkbox">
    <input type="checkbox" id="{{ id }}-checkbox" name="{{ id }}-checkbox" {% if note != blank %}checked{% endif %}/>
    <label for="{{ id }}-checkbox">{{ label }}</label>
  </div>

  {% if description %}
    <p class="description">{{ description }}</p>
  {% endif %}
  

  <div class="gift-note">
    <h4>Your gift note</h4>
    <div class="{% if to == blank %}inactive{% endif %}">To: <textarea class="to" readonly>{{ to }}</textarea></div>
    <div class="{% if from == blank %}inactive{% endif %}">From: <textarea class="from" readonly>{{ from }}</textarea></div>
    <div>Note: <textarea class="note" readonly>{{ note }}</textarea></div>
    <button type='button' class="edit-note">Edit Note</button>
  </div>


  <div class="gift-modal" id="{{ id }}-modal">
    <button type='button' class="close">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>

    </button>
    <h3>They're Going To Love It</h3>
    <p>Fill out the below information for your gift recipient—we’ll provide a handwritten note with your gift-wrapped order!</p>
    <div class="gift-message-wrapper">
      <input type="text" class="gift-to" value="{{ to }}" placeholder="To" />
      <input type="text" class="gift-from" value="{{ from }}" placeholder="From" />
      <textarea class="gift-message" placeholder="I think you’re wonderful because.">{{ note }}</textarea>
    </div>
    <div class="error-text">Error: Please fill out the above information.</div>
    <div class="actions">
      <button type='button' class="cancel">Nevermind</button>
      <button type='submit' class="confirm">Add Note</button>
    </div>
  </div>

</div>