{%- liquid

    assign products_to_remove = ""
    assign parents_found = ""

    for child_item in cart.items
        if child_item.properties['_Parent Variant'] != blank

            assign parent_in_cart = false
            assign parent_id = child_item.properties['_Parent Variant']
            assign timestamp = child_item.properties['_Timestamp']

            if parents_found contains timestamp
                continue
            endif

            for item in cart.items
                if item.properties['_Timestamp'] == timestamp and item.properties['_Parent Variant'] == blank and parent_id == item.id
                    assign parent_in_cart = true
                    assign parents_found = parents_found | append: ',' | append: timestamp
                    break
                endif
            endfor

            if parent_in_cart == false
                if products_to_remove == ""
                    assign products_to_remove = child_item.key | append: '||0'
                else
                    assign products_to_remove = products_to_remove | append: ',' | append: child_item.key | append: '||0'
                endif
            endif

        endif
    endfor

    if products_to_remove != ""
        echo '<span data-cart-integrity="' | append: products_to_remove | append: '"></span>'
    endif
-%}