{% comment %} 
Horizontal filter bar on collection page, 
these buttons dont apply filters but just open the filter sidebar with the chosen section expanded
{% endcomment %}
<div class="filters-bar-mobile page-width">
  <button class="filter-button">
    {% render "icon-filter" %}
    Filter & Sort
  </button>
</div>
<div class="filters-bar page-width">
  <div class="filters-bar-sections">
    <button class="filter-button" data-sidebar-section="filter-color">Color</button>
    <button class="filter-button" data-sidebar-section="filter-style">Style</button>
    <button class="filter-button" data-sidebar-section="filter-collection">Collection</button>
    <button class="filter-button" data-sidebar-section="filter-collaboration">Collaboration</button>
    <button class="filter-button" data-sidebar-section="filter-material">Material</button>
    <button class="filter-button" data-sidebar-section="filter-price">Price</button>
  </div>
  <div class="filters-bar-sort">
    <span class="product-count">300 Items</span>
    <button class="filter-button" data-sidebar-section="filter-sort">
      Sort by:
      <strong class="current-sort-option">Featured</strong>
    </button>
  </div>
</div>

{% comment %} 
filters sidebar overlay
{% endcomment %}
<div class="filters-sidebar">
  <header>
    <h3 class="title">Filter & Sort</h3>
    <button class="clear-filters">Clear Selected</Button>
    <button class="close">
      {% render "icon-close" %}
    </button>
  </header>

  <div class="filter-sidebar-content">
    <div class="filter-section" id="filter-sort">
      <div class="title">Sort By {% render "icon-caret" %}</div>
      <div class="selected-option">Featured</div>
      <div class="options">
        <ul>
          <li>
            <input type="radio" id="sort-featured" name="sort" value="sort-featured" checked>
            <label for="sort-featured">Featured</label>
          </li>  
          <li>
            <input type="radio" id="sort-new" name="sort" value="sort-new" >
            <label for="sort-new">New</label>
          </li>  
          <li>
            <input type="radio" id="sort-price-low" name="sort" value="sort-price-low" >
            <label for="sort-price-low">Price: Low to High</label>
          </li>  
          <li>
            <input type="radio" id="sort-price-high" name="sort" value="sort-price-high" >
            <label for="sort-price-high">Price: High to Low</label>
          </li>  
          <li>
            <input type="radio" id="sort-alpha" name="sort" value="sort-alpha" >
            <label for="sort-alpha">A - Z</label>
          </li>   
        </ul>  
      </div>
    </div>
    <div class="filter-section" id="filter-color">
      <div class="title">Color {% render "icon-caret" %}</div>
      <div class="selected-option"></div>
      <div class="options color-options">
        <ul>
          <li>
            <input type="checkbox" id="filter-color-white" name="filter-color-white">
            <label for="filter-color-white">
              <span style="background-color: #F8F8F8;"></span>
              White
            </label>
          </li>
          <li>
            <input type="checkbox" id="filter-color-blue" name="filter-color-blue">
            <label for="filter-color-blue">
              <span style="background-color: #6DD3F3;"></span> 
              Blue
            </label>
          </li>
          <li>
            <input type="checkbox" id="filter-color-pink" name="filter-color-pink">
            <label for="filter-color-pink">
              <span style="background-color: #FFA4CC;"></span> 
              Pink
            </label>
          </li>
          <li>
            <input type="checkbox" id="filter-color-green" name="filter-color-green">
            <label for="filter-color-green">
              <span style="background-color: #36C75F;"></span> 
              Green
            </label>
          </li>
          <li>
            <input type="checkbox" id="filter-color-purple" name="filter-color-purple">
            <label for="filter-color-purple">
              <span style="background-color: #AA36C7;"></span> 
              Purple
            </label>
          </li>
          <li>
            <input type="checkbox" id="filter-color-yellow" name="filter-color-yellow">
            <label for="filter-color-yellow">
              <span style="background-color: #FED955;"></span> 
              Yellow
            </label>
          </li>
          <li>
            <input type="checkbox" id="filter-color-orange" name="filter-color-orange">
            <label for="filter-color-orange">
              <span style="background-color: #F9A23C;"></span> 
              Orange
            </label>
          </li>
          <li>
            <input type="checkbox" id="filter-color-black" name="filter-color-black">
            <label for="filter-color-black">
              <span style="background-color: #282828;"></span> 
              Black
            </label>
          </li>
        </ul>  
      </div>
    </div>
    <div class="filter-section" id="filter-style">
      <div class="title">Style {% render "icon-caret" %}</div>
      <div class="selected-option"></div>
      <div class="options">
        <ul>
          <li>
            <input type="checkbox" name="filter-style-option-1" id="filter-style-option-1"/>
            <label for="filter-style-option-1"><span class="check">{% render "icon-check" %}</span>Style Option 1</label>
          </li>  
          <li>
            <input type="checkbox" name="filter-style-option-2" id="filter-style-option-2"/>
            <label for="filter-style-option-2"><span class="check">{% render "icon-check" %}</span>Style Option 2</label>
          </li>  
        </ul>  
      </div>
    </div>
    <div class="filter-section" id="filter-collection">
      <div class="title">Collection {% render "icon-caret" %}</div>
      <div class="selected-option"></div>
      <div class="options">
        <ul>
          <li>
            <input type="checkbox" name="filter-collection-option-1" id="filter-collection-option-1"/>
            <label for="filter-collection-option-1"><span class="check">{% render "icon-check" %}</span>collection Option 1</label>
          </li>  
          <li>
            <input type="checkbox" name="filter-collection-option-2" id="filter-collection-option-2"/>
            <label for="filter-collection-option-2"><span class="check">{% render "icon-check" %}</span>collection Option 2</label>
          </li>  
        </ul>  
      </div>
    </div>
    <div class="filter-section" id="filter-collaboration">
      <div class="title">Collaboration {% render "icon-caret" %}</div>
      <div class="selected-option"></div>
      <div class="options">
        <ul>
          <li>
            <input type="checkbox" name="filter-collaboration-option-1" id="filter-collaboration-option-1"/>
            <label for="filter-collaboration-option-1"><span class="check">{% render "icon-check" %}</span>collaboration Option 1</label>
          </li>  
          <li>
            <input type="checkbox" name="filter-collaboration-option-2" id="filter-collaboration-option-2"/>
            <label for="filter-collaboration-option-2"><span class="check">{% render "icon-check" %}</span>collaboration Option 2</label>
          </li>  
        </ul>  
      </div>
    </div>
    <div class="filter-section" id="filter-material">
      <div class="title">Material {% render "icon-caret" %}</div>
      <div class="selected-option"></div>
      <div class="options">
        <ul>
          <li>
            <input type="checkbox" name="filter-material-option-1" id="filter-material-option-1"/>
            <label for="filter-material-option-1"><span class="check">{% render "icon-check" %}</span>material Option 1</label>
          </li>  
          <li>
            <input type="checkbox" name="filter-material-option-2" id="filter-material-option-2"/>
            <label for="filter-material-option-2"><span class="check">{% render "icon-check" %}</span>material Option 2</label>
          </li>  
        </ul>  
      </div>
    </div>
    <div class="filter-section" id="filter-price">
      <div class="title">Price {% render "icon-caret" %}</div>
      <div class="selected-option"></div>
      <div class="options">
        <ul>
           <li>
            <input type="checkbox" name="filter-price-option-1" id="filter-price-option-1"/>
            <label for="filter-price-option-1"><span class="check">{% render "icon-check" %}</span>price Option 1</label>
          </li>  
          <li>
            <input type="checkbox" name="filter-price-option-2" id="filter-price-option-2"/>
            <label for="filter-price-option-2"><span class="check">{% render "icon-check" %}</span>price Option 2</label>
          </li>  
        </ul>  
      </div>
    </div>
    <!-- <div class="filter-sidebar-footer">
      <span class="product-count">300 Products</span>
      <button class="apply-filters">APPLY FILTERS</button>
    </div> -->
    <footer>
      <span class="product-count">300 Items</span>
      <button class="apply-filters">APPLY FILTERS</button>
    </footer>
  </div>


</div>


