<section id="faq" class="page-width">
	<div class="faq-container">
		<h1 class="careers-h1">{{ title }}</h1>
    {% for block in blocks %}
        <div class="faq-item">
          <input type="checkbox" id="question{{forloop.index0}}" name="q" class="questions">
          <div class="plus">{% render 'icon-plus' %}</div>
          <label for="question{{forloop.index0}}" class="question">
            {{block.settings.question}}
          </label>
          <div class="answers">
            {{block.settings.answer}}
          </div>
        </div>
    {% endfor %}
  </div>
</section>