{%- comment -%} Gift Card {%- endcomment -%}
<div class="gc-container" data-gift-card-container>
  <div class="gc-input-group">
    <label for="gc_recipient" class="visually-hidden">Recipient's Email</label>
    <input id="gc_recipient" onkeyup="ValidateEmail();" class="gc-card-input" type="email" name="gc_recipient" placeholder="Recipient's Email" required />
    <span id="gcError"></span>
  </div>
  <label for="gc_message" class="visually-hidden">Message</label>
  <textarea
    id="gc_message"
    name="gc_message"
    class="gc-card-textarea"
    cols="10"
    rows="3"
    placeholder="I think you're wonderful because."
    required></textarea>
  <div class="inputs-required-error">All fields are required.</div>
</div>

<style>
  .gc-container {
    margin-top: 18px;
  }
  .gc-container textarea {
    resize: vertical;
  }
  #gcError {
    font-size: 12px;
    color: red;
    text-align: right;
    padding-right: 30px;
    position: relative;
    margin-top: 5px;
  }
  .gc-input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    margin-bottom: 18px;
  }
  .gc-container .inputs-required-error {
    text-align: center;
    margin-top: 10px;
    color: red;
    display: none;
  }
  .gc-container .inputs-required-error.show {
    display: block;
  }
  #gc_recipient.red-border {
    border-color: red;
    outline-color: red !important;
  }
</style>


<script type="text/javascript">
    function ValidateEmail() {
        const inputErrorMesasge = document.querySelector('.inputs-required-error');
        const emailSelector = document.getElementById("gc_recipient");
        const email = emailSelector.value;
        emailSelector.classList.remove("error");
        emailSelector.classList.remove("red-border");
        let gcError = document.getElementById("gcError");
        gcError.innerHTML = "";
        const expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            emailSelector.classList.add("error");
            gcError.innerHTML = "Invalid email address.";
        }
        if (email && inputErrorMesasge) {
          inputErrorMesasge.classList.remove('show');
        }
    }
</script>
