<div id="like-{{ section.id }}" class="like" data-section-type="like" data-section-id="{{ section.id }}">
  <div class="like-container">
    <div class="like-slider__box">
      <a href="#" class="like_prev hidden">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="24" transform="rotate(-180 25 25)" stroke="#FFE2E8" stroke-width="2"></circle>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.78 25.0403C12.7794 25.0269 12.7792 25.0135 12.7792 25C12.7792 24.4477 13.2269 24 13.7792 24C19.5274 24 24.1626 19.4105 24.1626 13.7792C24.1626 13.2269 24.6103 12.7792 25.1626 12.7792C25.7149 12.7792 26.1626 13.2269 26.1626 13.7792C26.1626 18.0602 23.9355 21.8182 20.5696 24L36.2207 24C36.773 24 37.2207 24.4477 37.2207 25C37.2207 25.5523 36.773 26 36.2207 26L20.5696 26C23.9355 28.1818 26.1626 31.9398 26.1626 36.2208C26.1626 36.7731 25.7148 37.2208 25.1626 37.2208C24.6103 37.2208 24.1626 36.7731 24.1626 36.2208C24.1626 30.5895 19.5274 26 13.7792 26C13.2404 26 12.8011 25.5739 12.78 25.0403Z" fill="#2C272D"></path>
        </svg>
      </a>
      <a href="#" class="like_next">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="25" fill="#FFE2E8"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 24.9598C37.2204 24.9732 37.2207 24.9866 37.2207 25.0001C37.2207 25.5524 36.773 26.0001 36.2207 26.0001C30.4725 26.0001 25.8373 30.5896 25.8373 36.2208C25.8373 36.7731 25.3896 37.2208 24.8373 37.2208C24.285 37.2208 23.8373 36.7731 23.8373 36.2208C23.8373 31.9399 26.0643 28.1818 29.4302 26.0001L13.7791 26.0001C13.2269 26.0001 12.7791 25.5524 12.7791 25.0001C12.7791 24.4478 13.2269 24.0001 13.7791 24.0001L29.4302 24.0001C26.0644 21.8183 23.8373 18.0602 23.8373 13.7793C23.8373 13.227 24.285 12.7793 24.8373 12.7793C25.3896 12.7793 25.8373 13.227 25.8373 13.7793C25.8373 19.4105 30.4725 24 36.2207 24C36.7595 24 37.1988 24.4262 37.2199 24.9598Z" fill="#2C272D"/>
        </svg>
      </a>
      <div class="like-slider swiper like-slider_swiper">
        <div class="like-slider__wrapper swiper-wrapper">
          {% assign cat = section.settings.collection_handle %}
          {%- comment %}<locksmith:c14e>{% endcomment -%}
            {%- assign locksmith_e355_forloop__size = 0 %}{% for product in collections[cat].products limit: 5 offset:index %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[cat], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_e355_forloop__size = locksmith_e355_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_e355_forloop__index = nil -%}
          {%- comment %}</locksmith:c14e>{% endcomment -%}
          {% for product in collections[cat].products limit: 5 offset:index %}
            {%- comment %}<locksmith:3df4>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[cat], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_e355_forloop__index == nil %}{% assign locksmith_e355_forloop__index = 1 %}{% assign locksmith_e355_forloop__index0 = 0 %}{% else %}{% assign locksmith_e355_forloop__index = locksmith_e355_forloop__index | plus: 1 %}{% assign locksmith_e355_forloop__index0 = locksmith_e355_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_e355_forloop__index == 1 %}{% assign locksmith_e355_forloop__first = true %}{% else %}{% assign locksmith_e355_forloop__first = false %}{% endif %}{% if locksmith_e355_forloop__index == locksmith_e355_forloop__size %}{% assign locksmith_e355_forloop__last = true %}{% else %}{% assign locksmith_e355_forloop__last = false %}{% endif %}{% assign locksmith_e355_forloop__rindex = locksmith_e355_forloop__size | minus: locksmith_e355_forloop__index | minus: 1 %}{% assign locksmith_e355_forloop__rindex0 = locksmith_e355_forloop__size | minus: locksmith_e355_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:3df4>{% endcomment -%}
            <div class=" like-slide swiper-slide" data-product-variations="product-variations">
              <a href="{{product.url}}" class="like-slide__link">
                <img src="{{ product.featured_image | img_url: '600x600'}}" alt="{{ product.featured_image.alt | escape }}" class="featured__image" loading="lazy">
                <button data-with-epi="true" class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-variant-id="{{product.variants[0].id}}" data-product-url="{{ shop.url }}{{ product.url }}"></button>
              </a>
              <div class="like-slide__title_box">
                <a href="{{product.url}}" class="like-slide__title">{{product.title}}</a>
                <p class="like-slide__price">{{ product.price | money }}</p>
              </div>
              <div class="like-variations">
                {% assign MobileFlag = 1 %}
                {% assign MobileLoadMoreFlag = 1 %}
                {% for variant in product.variants %}
                {% assign variantIndex = forloop.index %}
                  {% if variant.metafields.general.swatch_image != blank %}
                    {% if forloop.index <= 9 %}
                      {% if MobileFlag <= 1 %}
                        <ul  class="hide">
                          {% for image in product.images %}
                            {% for variant in image.variants %}
                              <!-- {{ image.src }} - used for the variant: {{ variant.title }} -->
                              <li class="thumb">
                                <img class="variant-image-{{variant.id}}" src="{{ image.src | product_img_url: '600x600' }}" alt="{{ image.alt | escape }}" data-like-variation-image="variation-image-{{variant.id}}" />
                              </li>
                            {% endfor %}
                          {% endfor %}
                          {% assign MobileFlag = MobileFlag | plus:1 %}
                        </ul>
                        {% endif %}
                      {% for variant_image in variant.metafields.general.swatch_image %}
                      <span class="like-dropdownVariations {% if variantIndex > 5 %} loadMore_mob {% endif %} {% unless variant.available %}disabled{% endunless %}">
                        <div style="border-image:url({{variant_image['src']}}) 30 fill">
                          <img data-swatch-id="{{variant_image['scope']}}"  src="{{variant_image['src']}}" data-swatch-image="{{variant_image['scope']}}" loading="lazy">
                        </div>
                      </span>
                      {% endfor %}
                    {% else %}
                      {% if MobileLoadMoreFlag <= 1 %}
                        <ul  class="hide">
                          {% for image in product.images %}
                            {% for variant in image.variants %}
                              <!-- {{ image.src }} - used for the variant: {{ variant.title }} -->
                              <li class="thumb">
                                <img class="variant-image-{{variant.id}}" src="{{ image.src | product_img_url: '600x600' }}" alt="{{ image.alt | escape }}" />
                              </li>
                            {% endfor %}
                          {% endfor %}
                        </ul>
                        {% assign MobileLoadMoreFlag = MobileLoadMoreFlag | plus:1 %}
                      {% endif %}
                      {% for variant_image in variant.metafields.general.swatch_image %}
                      <span class="like-dropdownVariations loadMore loadMore_mob">
                        <div style="border-image:url({{variant_image['src']}}) 30 fill">
                          <img data-swatch-id="{{variant_image['scope']}}"  src="{{variant_image['src']}}" data-swatch-image="{{variant_image['scope']}}" loading="lazy">
                        </div>
                      </span>
                      {% endfor %}
                      {% if forloop.last == true %}
                        <span class="like-more ">+{{ forloop.index | minus: 9 }}</span>
                        <span class="like-more like-more_mob">+{{ forloop.index | minus: 5 }}</span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </div>
          </div>
        <!-- collection info -->
        {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>