{%- assign gwp_discounts = "" -%}
{%- assign _divider = "###" -%}
{%- assign is_admin = false -%}
{%- assign cart_collections = "" -%}

{%- if customer -%}
  {%- for tag in customer.tags -%}
    {%- if tag == "admin" or tag == 'Admin' -%}
      {%- assign is_admin = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{% for enabled_gwp in shop.metafields.globals.gwp_discount_enabled %}
  {%- unless enabled_gwp == 'true' -%}
    {%- continue -%}
  {%- endunless -%}

  {%- assign index = forloop.index0 -%}

  {%- assign test_mode = shop.metafields.globals.gwp_test_mode_enabled[index] -%}
  {%- if test_mode == 'true' and is_admin == false -%}
    {%- continue -%}
  {%- endif -%}

  {%- assign discount_type = shop.metafields.globals.gwp_discount_type[index] -%}
  {%- assign free_product = all_products[shop.metafields.globals.gwp_free_product[index]] -%}
  {%- assign random_variant_enabled = all_products[shop.metafields.globals.gwp_random_variant_enabled[index]] -%}
  {%- assign min_purchase_amount =  shop.metafields.globals.gwp_minimum_purchase_amount[index] -%}
  {%- assign description = shop.metafields.globals.gwp_discount_message[index] -%}
  {%- assign product_types = shop.metafields.globals.gwp_product_types[index] -%}
  {%- assign product_types_condition = shop.metafields.globals.gwp_product_types_condition[index] | downcase -%}
  {%- assign product_collection = shop.metafields.globals.gwp_collection[index] -%}

  {%- if all_products[shop.metafields.globals.gwp_random_variant_enabled[index]] -%}
    {%- assign random_variant_enabled = 'true' -%}
  {%- else -%}
    {%- assign random_variant_enabled = 'false' -%}
  {%- endif -%}

  {%- unless product_types_condition != blank -%}
    {%- assign product_types_condition = 'includes' -%}
  {%- endunless -%}

  {%- assign start_date = shop.metafields.globals.gwp_start_date[index] -%}
  {%- assign start_time = shop.metafields.globals.gwp_start_time[index] -%}
  {%- assign end_date = shop.metafields.globals.gwp_end_date[index] -%}
  {%- assign end_time = shop.metafields.globals.gwp_end_time[index] -%}

  {%- assign property_key = "GWP" -%}
  {%- if shop.metafields.globals.gwp_property_key[index] -%}
    {%- assign property_key = shop.metafields.globals.gwp_property_key[index] -%}
  {%- endif -%}

  {%- if cart_collections == "" -%}
    {%- for item in cart.items -%}
      {%- assign product_collections = item.product.collections | map: 'handle' -%}
      {%- for handle in product_collections -%}
        {%- comment %}<locksmith:d281>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: handle, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:d281>{% endcomment -%}
        {%- unless cart_collections contains handle -%}
          {%- if cart_collections == "" -%}
            {%- assign cart_collections = handle -%}
          {%- else -%}
            {%- assign cart_collections = cart_collections | append: ',' | append: handle -%}
          {%- endif -%}
        {%- endunless -%}
      {%- endfor -%}
    {%- endfor -%}
  {%- endif -%}

  {%- unless free_product == blank -%}
    {%- assign free_variant = free_product.selected_or_first_available_variant -%}

    {%- comment -%}
      Free Variant for Random Discounts
    {%- endcomment -%}
    {%- capture free_variants -%}
    [
    {%- for variant in free_product.variants -%}
      {"id": "{{ variant.id }}", "available": "{{ variant.available | json }}"}
      {%- unless forloop.last == true -%},{%- endunless -%}
    {%- endfor -%}
    ]
    {%- endcapture -%}

    {%- case discount_type -%}
      {%- when "Get free product with minimum purchase" -%}
        {%- capture discount_json -%}
          {"min_purchase_amount": "{{min_purchase_amount}}", "description": "{{description}}", "start_date": "{{start_date}}", "start_time": "{{start_time}}", "end_date": "{{end_date}}", "end_time": "{{end_time}}", "free_product": "{{free_variant.id}}", "free_product_available": "{{ free_variant.available }}", "free_product_variants": {{free_variants}}, "property_key": "{{property_key}}", "product_types": "{{ product_types}}", "product_types_condition": "{{ product_types_condition }}", "collection": "{{ product_collection }}", "cart_collections": "{{ cart_collections }}", "random_variant_enabled": "{{ random_variant_enabled }}"}
        {%- endcapture -%}
    {%- endcase -%}

    {%- assign gwp_discounts = discount_json | append: _divider | append: gwp_discounts -%}
  {%- endunless -%}
{%- endfor -%}

{%- unless gwp_discounts == "" -%}
  {%- assign gwp_discounts = gwp_discounts | split: _divider | join: ',' -%}
  {%- capture gwp_discounts_json -%}
    {%- if gwp_discounts -%}
      [{{ gwp_discounts }}]
    {%- endif -%}
  {%- endcapture -%}

  {%- assign gwp_discounts_json = gwp_discounts_json | replace: '\n', '<br>' -%}

  {%- if gwp_discounts_json -%}
    <script>
      window.GWP = window.GWP || {};
      var discounts_json = '{{ gwp_discounts_json }}';
      window.GWP.discounts = JSON.parse(discounts_json);
    </script>
  {%- endif -%}
{%- endunless -%}

<script type="text/javascript" src="{{ 'app.gwp.bundle.js' | asset_url }}" defer></script>