<svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20.25 9.75C20.5261 9.75 20.75 9.52614 20.75 9.25C20.75 8.97386 20.5261 8.75 20.25 8.75L20.25 9.75ZM17.25 8.75L16.75 8.75L16.75 9.75L17.25 9.75L17.25 8.75ZM20.25 8.75L17.25 8.75L17.25 9.75L20.25 9.75L20.25 8.75Z" fill="#2C272D"/>
<path d="M11.75 9.75L12.25 9.75L12.25 8.75L11.75 8.75L11.75 9.75ZM0.75 8.75C0.473858 8.75 0.25 8.97386 0.25 9.25C0.25 9.52614 0.473858 9.75 0.75 9.75L0.75 8.75ZM11.75 8.75L0.75 8.75L0.75 9.75L11.75 9.75L11.75 8.75Z" fill="#2C272D"/>
<circle cx="14.5469" cy="9.25" r="2" transform="rotate(180 14.5469 9.25)" stroke="#2C272D"/>
<path d="M0.75 2.25C0.473858 2.25 0.25 2.47386 0.25 2.75C0.25 3.02614 0.473858 3.25 0.75 3.25V2.25ZM3.75 3.25H4.25V2.25H3.75V3.25ZM0.75 3.25H3.75V2.25H0.75V3.25Z" fill="#2C272D"/>
<path d="M9.25 2.25H8.75V3.25H9.25V2.25ZM20.25 3.25C20.5261 3.25 20.75 3.02614 20.75 2.75C20.75 2.47386 20.5261 2.25 20.25 2.25V3.25ZM9.25 3.25H20.25V2.25H9.25V3.25Z" fill="#2C272D"/>
<circle cx="6.45312" cy="2.75" r="2" stroke="#2C272D"/>
</svg>
