<svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M28.98 8.28C28.98 11.65 25.94 14.43 23.82 16.67C21.16 19.49 18.45 22.19 15.61 24.83C15.28 25.14 14.95 25.44 14.62 25.75C14.62 25.75 12.41 23.35 11.56 22.38C10.97 21.76 10.37 21.13 9.78 20.5C8.58 19.22 7.37 17.95 6.17 16.67C4.04 14.44 1 11.65 1 8.28C1 4.27 4.01 1 7.71 1C10.99 1 14.21 3.91 14.91 7.37C14.95 7.53 15.15 7.53 15.18 7.37C15.87 3.91 18.99 1 22.26 1C25.96 1 28.97 4.27 28.97 8.28H28.98Z" stroke="#2C272D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>