<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.0001 14.4C17.9824 14.4 20.4001 11.9823 20.4001 8.99997C20.4001 6.01764 17.9824 3.59998 15.0001 3.59998C12.0178 3.59998 9.6001 6.01764 9.6001 8.99997C9.6001 11.9823 12.0178 14.4 15.0001 14.4Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
  <path d="M3.99951 26.9999C3.99951 24.3477 5.21111 21.8042 7.36778 19.9288C9.52445 18.0534 12.4495 16.9999 15.4995 16.9999C18.5495 16.9999 21.4746 18.0534 23.6312 19.9288C25.7879 21.8042 26.9995 24.3477 26.9995 26.9999" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
</svg>