<svg class="icon icon-hamburger" width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line x1="4.30002" y1="7.6999" x2="26.9" y2="7.6999" stroke="#2C272D" stroke-width="1.4" stroke-linecap="round"/>
  <line x1="4.30002" y1="14.8999" x2="26.9" y2="14.8999" stroke="#2C272D" stroke-width="1.4" stroke-linecap="round"/>
  <line x1="4.30002" y1="22.0998" x2="26.9" y2="22.0998" stroke="#2C272D" stroke-width="1.4" stroke-linecap="round"/>
</svg>