<svg width="74" height="65" viewBox="0 0 74 65" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M72.7403 19.6372C72.7403 28.2216 64.9838 35.3031 59.5747 41.0091C52.7878 48.1925 45.8733 55.0703 38.6271 61.7952C37.7851 62.5848 36.9431 63.349 36.1012 64.1387C36.1012 64.1387 30.4624 58.0251 28.2937 55.5542C26.7883 53.9749 25.2574 52.3701 23.752 50.7653C20.6903 47.5048 17.603 44.2697 14.5412 41.0091C9.10658 35.3286 1.3501 28.2216 1.3501 19.6372C1.3501 9.42248 9.03003 1.09277 18.4705 1.09277C26.8393 1.09277 35.0551 8.50544 36.8411 17.3191C36.9431 17.7267 37.4534 17.7267 37.53 17.3191C39.2905 8.50544 47.2511 1.09277 55.5944 1.09277C65.0349 1.09277 72.7148 9.42248 72.7148 19.6372H72.7403Z" stroke="#2C272D" stroke-width="1.298" stroke-linecap="round" stroke-linejoin="round"/>
</svg>