<svg width="83" height="70" viewBox="0 0 83 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M73 1H10V5H73V1Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M73.6698 5L81 19H2L9.73596 5" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M18 23C18 26.8657 14.6417 30 10.5 30C6.35833 30 3 26.8571 3 23" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M34 23C34 26.8657 30.4178 30 26 30C21.5822 30 18 26.8571 18 23" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M49 23C49 26.8657 45.6417 30 41.5 30C37.3583 30 34 26.8571 34 23" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M65 23C65 26.8657 61.4178 30 57 30C52.5822 30 49 26.8571 49 23" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M80 23C80 26.8657 76.6417 30 72.5 30C68.3583 30 65 26.8571 65 23" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M9 30V71H74V30" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M47 58H14V36H29.9796H47V58Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M53 70.721V41.1842V40H69V71" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
    <path d="M61 40V71" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
</svg>