<svg class="volume_svg" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">

  <path d="M17.6712 22.371H16C15.4477 22.371 15 22.8187 15 23.371V28.7742C15 29.3265 15.4477 29.7742 16 29.7742H17.6784C17.8875 29.7742 18.0914 29.8397 18.2613 29.9616L23.7029 33.8647C24.3645 34.3393 25.2857 33.8664 25.2857 33.0521V18.9795C25.2857 18.1593 24.3526 17.6879 23.6923 18.1746L18.2646 22.1759C18.0927 22.3026 17.8848 22.371 17.6712 22.371Z" fill="#2C272D"/>
  <path d="M29.4715 31.1212C31.2962 29.2959 31.7643 28.06 31.7449 26.3927C31.7255 24.7253 31.2962 23.3443 29.3613 21.645" stroke="#2C272D" stroke-width="2" stroke-linecap="round"/>
  <path d="M34.1431 33.7938C37.0468 30.8892 37.7916 28.9225 37.7607 26.2693C37.7298 23.6161 37.0468 21.4184 33.9678 18.7144" stroke="#2C272D" stroke-width="2" stroke-linecap="round"/>
 
  </svg>