<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-arrow">
  <circle cx="22" cy="22" r="22" fill="#FFF1F5"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M33 22C33 22.5523 32.5523 23 32 23L18.4092 23C21.2712 24.9884 23.1452 28.2737 23.1452 32C23.1452 32.5523 22.6975 33 22.1452 33C21.593 33 21.1452 32.5523 21.1452 32C21.1452 27.043 17.0645 23 12.0003 23C11.9782 23 11.9563 22.9993 11.9346 22.9979C11.9222 22.9971 11.91 22.9961 11.8978 22.9948C11.3935 22.9436 11 22.5178 11 22C11 22 11 22 11 22C11 21.4477 11.4477 21 12 21C17.0642 21 21.1449 16.957 21.1449 12C21.1449 11.4477 21.5926 11 22.1449 11C22.6972 11 23.1449 11.4477 23.1449 12C23.1449 15.7263 21.2709 19.0116 18.4089 21L32 21C32.5523 21 33 21.4477 33 22Z" fill="#2C272D"/>
</svg>