<svg class="icon icon-cart-empty" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10 8C10 5.23774 12.2394 3 15 3C17.7606 3 20 5.23774 20 8" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
    <path d="M4.31149 8H25.6964C27.2181 8 28.3216 9.26914 27.915 10.5579L24.5596 25.5172C24.3881 25.9693 24.0805 26.3554 23.6803 26.6211C23.2802 26.8868 22.8076 27.0186 22.3294 26.9979H7.97663C7.5053 27.0168 7.03974 26.8876 6.64387 26.6281C6.24801 26.3686 5.94126 25.9915 5.76574 25.5486L2.1006 10.5892C1.65145 9.29656 2.7627 8 4.31149 8Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
    
</svg>