<svg width="19" height="19" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-plus">
  <circle cx="20" cy="20" r="20" fill="white"/>
  <line x1="21" y1="13" x2="21" y2="28" stroke="#9D9D9D" stroke-width="2" stroke-linecap="round"/>
  <line x1="28" y1="21" x2="13" y2="21" stroke="#9D9D9D" stroke-width="2" stroke-linecap="round"/>
</svg>