<svg width="72" height="70" viewBox="0 0 72 70" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M34.4787 33.8696C43.5554 33.8696 50.9135 26.5115 50.9135 17.4348C50.9135 8.3581 43.5554 1 34.4787 1C25.402 1 18.0439 8.3581 18.0439 17.4348C18.0439 26.5115 25.402 33.8696 34.4787 33.8696Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
  <path d="M1 68.3044C1 60.2326 4.68748 52.4914 11.2512 46.7838C17.815 41.0761 26.7174 37.8696 36 37.8696C45.2826 37.8696 54.185 41.0761 60.7487 46.7838C67.3125 52.4914 71 60.2326 71 68.3044" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round"/>
</svg>
