<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-close">
  <path d="M1 1L20.9999 21" stroke="#2C272D" stroke-width="2"/>
  <path d="M1 21L21 1.00009" stroke="#2C272D" stroke-width="2"/>
</svg>