{% assign includedCollections = settings.included_collections | split: ',' %}
{% assign imgUrlWidth = settings.website_cursor_width | append: 'x' %}
{% assign hasHandle = false %}
{% for collectionHandle in includedCollections %}
  {%- comment %}<locksmith:7dd0>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collectionHandle, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:7dd0>{% endcomment -%}
  {% if collection.handle contains collectionHandle or template contains collectionHandle %}
    {% assign hasHandle = true %}
  {% endif %}
{% endfor %}

{% if settings.website_cursor_image_enabled and settings.website_cursor_image != blank %}
  {% if template contains 'index' or hasHandle %}
    <style>
        body,
        a,
        p,
        .ql-editor h2,
        .footer button.needsclick:after,
        .instagram-slider,
        [role="button"],
        button,
        .btn,
        .hero-banner_slide_content,
        #product-details-page .action_button,
        #product-details-page input.action_button[type="submit"],
        #product-details-page input.action_button[type="button"]{
          cursor: url("{{ settings.website_cursor_image | img_url: imgUrlWidth }}"), auto !important;
        }
    </style>
  {% endif %}
{% endif %}
