{% assign p_hide_tags = "" %}
{%- assign customizer_swatch_category = "" -%}
{%- for tag in product.tags -%}
  {%- if tag contains 'hide-variant' -%}
    {%- assign p_hide_tags = p_hide_tags | append: '##' | append: tag -%}
  {%- endif -%}
  {%- if tag contains "customizer_swatch_category_" -%}
    {%- assign customizer_swatch_category = tag | split: 'customizer_swatch_category_' | last -%}
  {%- endif -%}
{%- endfor -%}
{% assign is_custom_bag = true %}
  {% if settings.size_chart != blank %}
    <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }}</a>
  {% endif %}

  <form action="/cart/add" method="post" class="clearfix product_form" data-money-format="{{ shop.money_format }}"
        data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}"{% if product.variants.size == 1 %} data-inventory="{{ product.variants.first.inventory_quantity }}" {% endif %}>

    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if product.variants.first.inventory_management != blank and product.variants.first.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if product.variants.first.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}

          <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
        {% endif %}
      </div>
    {% endif %}
    {% if product.options.size > 1 %}
      <div class="select select-1">
        <select id="product-select-{{ product.id }}{{ product-form-customizer }}" name="id" class="multi_select prodMainSel" data-show-bgimage="{{ product.metafields.global.back }}">
          {% for variant in product.variants %}
            {%- assign hide_variant_title = 'hide-variant-' | append: variant.title -%}

            {% assign custom_variant_price = variant.price %}
            {% if template.name == blank and variant.compare_at_price > variant.price %}
              {% assign custom_variant_price = variant.compare_at_price %}
            {% endif %}

            {%- if p_hide_tags contains hide_variant_title -%}
              {%- continue -%}
            {%- endif -%}
            {%- if product.metafields.global.front != blank -%}
            {%- assign frontImage = product.metafields.global.front -%}
            {%- else -%}
            {%- assign frontImage = variant.featured_image | img_url: 'grande' -%}
            {%- endif -%}
            <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}"
            data-product="{{ product.handle }}"
            data-product-id="{{ product.id }}"
            data-product-title="{{ product.title }}"
            data-price="{{  custom_variant_price }}"
            data-fimage="{{ frontImage }}"
            data-bimage="{{ variant.metafields.global.image }}"
            data-sku="{{ variant.sku }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and (product.variants.size > 1 or product.options[0] != "Title") %}

      <div class="select select-2">
        <label for="product-select-{{ product.id }}{{ product-form-customizer }}">{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ product-form-customizer }}" name="id" class="single_select prodMainSel" data-show-bgimage="{{ product.metafields.global.back }}">
          {% for variant in product.variants %}
            {%- assign hide_variant_title = 'hide-variant-' | append: variant.title -%}

            {% assign custom_variant_price = variant.price %}
            {% if template.name == blank and variant.compare_at_price > variant.price %}
              {% assign custom_variant_price = variant.compare_at_price %}
            {% endif %}

            {%- if p_hide_tags contains hide_variant_title -%}
              {%- continue -%}
            {%- endif -%}
            {%- if product.metafields.global.front != blank -%}
            {%- assign frontImage = product.metafields.global.front -%}
            {%- else -%}
            {%- assign frontImage = variant.featured_image | img_url: 'grande' -%}
            {%- endif -%}
            <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}"
            data-product="{{ product.handle }}"
            data-product-id="{{ product.id }}"
            data-product-title="{{ product.title }}"
            data-price="{{  custom_variant_price }}"
            data-fimage="{{ frontImage }}"
            data-bimage="{{ variant.metafields.global.image }}"
            data-sku="{{ variant.sku }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      {%- if product.metafields.global.front != blank -%}
      {%- assign frontImage = product.metafields.global.front -%}
      {%- else -%}
      {%- assign frontImage = product.variants.first.featured_image | img_url: 'grande' -%}
      {%- endif -%}
      {% assign custom_variant_price = product.variants.first.price %}
      {% if template.name == blank and product.variants.first.compare_at_price > product.variants.first.price %}
        {% assign custom_variant_price = product.variants.first.compare_at_price %}
      {% endif %}
      <div class="select select-3">
        <label for="product-select-{{ product.id }}{{ product-form-customizer }}" class="visuallyhidden">{{ variant.title }}</label>
        <select id="product-select-{{ product.id }}{{ product-form-customizer }}" name="id" class="single_select prodMainSel"  data-show-bgimage="{{ product.metafields.global.back }}">
          <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ product.variants.first.id }}"
          data-product="{{ product.handle }}"
          data-product-id="{{ product.id }}"
          data-product-title="{{ product.title }}"
          data-price="{{  product.variants.first.price }}"
          data-fimage="{{  frontImage }}"
          data-bimage="{{ product.metafields.global.image }}"
          data-sku="{{ product.variants.first.sku }}">{{ variant.title }}</option>
        </select>
      </div>
    {% endif %}

    {% if settings.product_form_style == "swatches" and (product.variants.size > 1 or product.options[0] != "Title") %}
    {% endif %}
      <div class="swatch_options" data-customizer-swatch-category="{{ customizer_swatch_category }}">
        {% assign p_hide_tags = "" %}
        {%- for tag in product.tags -%}
          {%- if tag contains 'hide-variant' -%}
            {%- assign p_hide_tags = p_hide_tags | append: '##' | append: tag -%}
          {%- endif -%}
        {%- endfor -%}
        {% for option in product.options %}
          {% if option != "Variant") %}
            {% render 'isc-product-swatch', option: option, p_hide_tags: p_hide_tags, product: product %}
          {% endif %}
        {% endfor %}
      </div>

    {% if settings.display_product_quantity %}
        <div class="qty-selection">
          <label for="qty-{{ product.id }}" class="visuallyhidden">Quantity</label>
          <a class="down gray_action_button" field="quantity">-</a>
          <input min="1" id="qty-{{ product.id }}" type="text" name="quantity" class="quantity" value="1" />
          <a class="up gray_action_button" field="quantity">+</a>
        </div>
    {% endif %}
    <div class="purchase clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
      {% if settings.cart_action == 'reload_page' %}
        <input type="hidden" name="return_to" value="back" />
      {% elsif settings.cart_action == 'redirect_checkout' %}
        <input type="hidden" name="return_to" value="/checkout" />
      {% endif %}


      {% capture add_to_cart_label %}{% if product.variants.first.inventory_policy == "continue" and product.variants.first.inventory_management != blank and product.variants.first.inventory_quantity <= 0 %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
    </div>

    <div style="display:none" id="product-success-message">Just Added</div>
    <input class="post-success-msg" type="hidden" name="post-success-msg" value="{{ 'layout.general.add_to_cart_success' | t }}" />
    </form>

  {% if product.variants.size > 1 or product.options.size > 1 %}
  {% endif %}
<!--     <script type="text/javascript">
      // <![CDATA[
        $(function() {
          $product = $('.product-' + {{ product.id }});

           function sawholesale_product_json(product) {
             var saw_discount_js = 1;
                 if (saw_discount_js == 1) {
                 return product
                 }
             var saw_product_compare_at_price_js, variant_price
             for (var vi = 0, vlen = product.variants.length; vi < vlen; vi++) {
                 saw_product_compare_at_price_js = product.variants[vi].compare_at_price
                 if (saw_product_compare_at_price_js == null) {
                   saw_product_compare_at_price_js = product.variants[vi].price
                 }
                 variant_price = saw_product_compare_at_price_js * saw_discount_js
                 if (variant_price > product.variants[vi].price) {
                   variant_price = product.variants[vi].price
                 }

                 product.variants[vi].price = variant_price
                 if (saw_product_compare_at_price_js > variant_price) {
                  product.variants[vi].compare_at_price = saw_product_compare_at_price_js
                 }
             }
             product.price = product.variants[0].price
             product.compare_at_price = product.variants[0].compare_at_price
             product.compare_at_price_min = product.variants[0].compare_at_price_min
             product.compare_at_price_max = product.variants[0].compare_at_price_max

            //console.log(product)
             return product
          }
          new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form-customizer }}", { product: sawholesale_product_json({{ product | json }}), onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: true{% endif %} });

      });

      // ]]>
    </script> -->
