{% paginate collections.letters.products by 200 %}
{% for product in collections.letters.products %}

{% if product.available == false %}
      {% continue %}
{% endif %}

	{% for variant in product.variants %}
		{% assign xvar = forloop.length %}
	{% endfor%}
	
	{%- assign hide_for_collections = "" -%}
	{%- if product.metafields.customizer.product_collections -%}
		{%- assign hide_for_collections = product.metafields.customizer.product_collections -%}
	{%- endif -%}
  
		{% assign min_price = product.price %}
		{% if product.compare_at_price > product.price %}
			{% assign min_price = product.compare_at_price %}
		{% endif %}	
		<div class="draggable patch snap loading" data-collection="{{ block.settings.patch_collection }}" data-tag='{{ product.tags }}
	    {%- if product.metafields.global.size == 0  -%}
	    1.5 Patches
	    {%- endif -%}
	    {%- if product.metafields.global.size == '1.5' -%}
	    1.5 Patches
	    {%- endif -%}
	    {%- if product.metafields.global.size == '2' -%}
	    2 Patches
	    {%- endif -%}
	    {%- if product.metafields.global.size == '3' -%}
	    3 Patches
	    {%- endif -%}' title='{{ product.title }}' data-price="{{ min_price }}" data-url="{{ product.handle }}" data-var-id-temp="{% for variant in product.variants limit:1%}{{variant.id}}{% endfor%}"
	    data-var-id="{% for variant in product.variants %}{%- if variant.available -%}{{variant.id}}{% break %}{%- endif -%}{% endfor%}"
	    data-var-idx="{{ xvar }}"
		data-modal="/pages/patch-modal .modalWrapBox"
		data-section-settings='{"tag_title": "{{ product.handle }}", "hide_for_collections": "{{ hide_for_collections }}"}' data-patch-section>

	    <img class="lazyload" data-height="{{ product.metafields.global.height }}" alt="{{ product.title }}"
			data-width="{% if product.metafields.global.size == 0  %}1.5{% else %}{{ product.metafields.global.size }}{% endif %}"	
	    data-src="
	    {%- if xvar > 1 -%}
	    {%- for variant in product.variants -%}
	      {% if variant.available %}
	        {{ variant.image.src  | img_url: '300x'}}
	        {% break %}
	      {% endif %}
	    {%- endfor%}
	    {%- else -%}
	    {{ product.featured_image | product_img_url: '300x' }}
	    {%- endif -%}
	    "/>
	  </div>
{% endfor %}
{% endpaginate %}
