{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}
{% assign file_extension = 'png' %}

{% assign swatch = option %}
{% assign found_option = false %}
{% assign is_color = false %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'material' or downcased_option contains 'natural' %}
      {% assign is_color = true %}
    {% endif %}
    {% if downcased_option contains 'camp' %}
      {% assign is_color = false %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="swatch {{ swatch | handleize }} option-style" data-option-index="{{ option_index }}">
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}

    {%- assign hide_tag_value = 'hide-variant-' | append: value -%}
    {%- if p_hide_tags contains hide_tag_value -%}
      {%- continue -%}s
    {%- endif -%}
    {% if value == "Default Title" or value == "No" %}
    {% assign value = product.title %}
    {% endif %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %}
      {% assign values = values | split: ',' %}

      {%- if variant.metafields.general.swatch_image -%}
        {%- assign uploaded_image = variant.metafields.general.swatch_image | first -%}
        {%- assign swatch_image = uploaded_image.cloudinary_src | append: 'w_250,h_250' -%}
      {%- else -%}
        {% assign file_extension = 'png' %}

        {% if product.title contains 'Sets' %}
          {% assign filename = value | handle | append: '-set.' %}
        {% elsif product.title contains 'Clear' %}
          {% assign filename = value | handle | append: '-clear.' %}
        {% else %}
          {% assign filename = value | handle | append: '.' %}
        {% endif %}

        {%- assign swatch_image =  filename | append: file_extension | asset_url -%}
      {%- endif -%}
      <div data-inventory="{{ variant.inventory_quantity }}" data-value="{{ value | escape }}" class="swatch-element color {{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}" data-preorder="{{ variant.inventory_policy }}" data-customizer="1"  {% if product.tags contains 'cozy' %} data-overlay="cozyOverlay" {% endif %}{% if product.tags contains 'customizer_swatch_category_Puffy' %} data-overlay="puffyOverlay" {% endif %}>
        <div class="tooltip">{{ value | replace: '-', ' ' | capitalize }}</div>

        <input data-sku="{{ variant.sku }}" id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} data-customizer-swatch-product='{"collections": "{{ product.collections | map: 'handle' | join: '|'}}"}'/>
        {% if is_color %}
          <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}"
	               data-product="{{ product.handle }}"
								 data-variant="{{ variant.id }}"
          			style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ swatch_image }}); background-position: center; background-size: contain;"
                    data-type="color-option"
          	>
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
          </label>
        {% else %}
          <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}" data-type="other-option">
            {{ value }}
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
          </label>
        {% endif %}

				{% comment %}

        {%- if product.metafields.global.front != blank -%}
          {%- assign image = product.metafields.global.front | split: '/' | last | split: '?' | first -%}
          {% assign variant_image = image | file_img_url: '150x' %}
        {%- else -%}
          {% assign variant_image = variant | img_url: '150x'; %}
        {%- endif -%}
        <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}"
               data-product="{{ product.handle }}"
               data-variant="{{ variant.id }}"
               style="background-image: url({{ variant_image }}); background-position: center;">
          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
        </label>

				{% endcomment %}
      </div>
    {% endunless %}
    {% if variant.available %}
      <script type="text/javascript">
        $('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}-swatch', '#product-form-{{ product.id }}').removeClass('soldout').addClass('available').find(':radio');
      </script>
    {% endif %}
  {% endfor %}
</div>
