<script>
  function loadScript(src, callback) {
    let script = document.createElement('script');
    script.src = src;
    script.async = true;
    script.defer = true;

    script.onload = () => callback(null, script);
    script.onerror = () => callback(new Error(`Script load error for ${src}`));

    document.body.append(script);
  }
</script>
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
  var klaviyo = klaviyo || [];
  klaviyo.init({
    account: "JfFWyL",
    list: "TQTr3x",
    platform: "shopify"
  });
  klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Email Me When Available",
      product_page_class: "notify-button",
      product_page_text_align: "center",
      product_page_margin: "0px",
      alternate_anchor: "MainAddToCart",
      replace_anchor: false
    },
    modal: {
      headline: "{product_name}",
      body_content: "Register your email address below to receive an email as soon as this becomes available again.",
      email_field_label: "Email Address",
      button_label: "Email me when available",
      subscription_success_label: "You're in! We'll let you know when it's back.",
      footer_content: '',
      additional_styles: `@import url("https://fonts.googleapis.com/css?family=Poppins");
      .klaviyo-bis-close {
        padding:16px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      #klaviyo-bis-modal{max-width:757px;margin:auto;width:100%;}
      #container{border-radius:50px;padding: 97px 22px 63px 22px;}
      .small-print {display:none;}
      #container form{max-width:360px;margin-right:auto;margin-left:auto;}
      .modal-title+p{text-align:center;max-width:430px;margin:10px auto 20px auto;font-size:16px;}
      .modal-title{text-align:center;max-width:520px;margin-right:auto;margin-left:auto;font-family: 'Quincy CF';font-size: 32px;line-height: 36px;}
      #variants,#email{height:50px;border:1px solid #E4E4E4;border-radius: 100px;padding-left:22px;padding-right:22px;}
      #variants {
          cursor: pointer;
          appearance:none;
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.39893 1.87549L7.39894 7.8755' stroke='%232C272D' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7.39893 7.87549L13.3989 1.87553' stroke='%232C272D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
          background-repeat:no-repeat;background-position: calc(100% - 20px) center;
        }
      .btn {height:50px;border:none;border-radius: 100px;background:#FFE2E8;text-transform:uppercase;}
      .close {
          background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.20696 1.34676C1.59748 0.956231 2.23065 0.956231 2.62117 1.34676L18.2596 16.9852C18.6501 17.3757 18.6501 18.0089 18.2596 18.3994C17.8691 18.7899 17.2359 18.7899 16.8454 18.3994L1.20696 2.76097C0.816431 2.37044 0.816431 1.73728 1.20696 1.34676Z' fill='%232C272D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.74031 18.3995C0.349786 18.009 0.349786 17.3758 0.74031 16.9853L16.3787 1.34686C16.7693 0.956334 17.4024 0.956333 17.7929 1.34686C18.1835 1.73738 18.1835 2.37055 17.7929 2.76107L2.15452 18.3995C1.764 18.79 1.13083 18.79 0.74031 18.3995Z' fill='%232C272D'/%3E%3C/svg%3E%0A");
          background-repeat:no-repeat;
          background-position:center;
          font-size:0;
          line-height:1;
          color:transparent;
          width: 30px;
          height:30px;
          top: 35px;
          right:37px;
        }
      #subscribe_for_newsletter{display:none;}
      #subscribe_for_newsletter + label {cursor: pointer; position:relative;padding-left: 30px;margin-left:0 !important;}
      #subscribe_for_newsletter + label:after {
        content:'';
        display:block;
        background: #FFE2E8;
        border-radius: 3px;
        width:18px;
        height:18px;
        position:absolute;
        left:0;
        top:0;
        cursor: pointer;
      }
      #subscribe_for_newsletter:checked + label:after {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.0539551' width='18' height='18' rx='3' fill='%23FFE2E8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7158 5.21616C15.0404 5.47341 15.0951 5.94513 14.8378 6.26977L9.13262 13.4698C8.99375 13.645 8.78393 13.7492 8.56037 13.7538C8.33681 13.7585 8.12284 13.6631 7.97681 13.4938L4.68203 9.67302C4.41153 9.35933 4.44653 8.88575 4.76022 8.61525C5.07391 8.34474 5.54749 8.37975 5.81799 8.69344L8.52036 11.8272L13.6622 5.3382C13.9194 5.01355 14.3912 4.95891 14.7158 5.21616Z' fill='%232C272D'/%3E%3C/svg%3E%0A");
        background-repeat:no-repeat;
        background-position:center;
      }
      .form-group {margin-bottom:19px;}
      @media screen and (max-width:560px){
        .modal-title {
          font-size:22px;
          line-height:24px;
        }
        .modal-title+p,select,input {
          font-size:14px;
        }
        .modal-title+p {
          margin-top:14px;
          margin-bottom: 15px;
          line-height:20px;
        }
        .close {top: 27px;right: 25px;    }
        #variants, #email{
          height:43px;
          font-size:12px;
        }
        .btn {
          height:44px;
          font-size:16px;
          line-height:24px;
          padding:10px;
        }
        #container{border-radius:20px;}
        .submit-container {
          margin-top:12px;
        }
        #subscribe_for_newsletter + label {
          font-size:12px;
        }
        .form-group {
          margin-bottom: 13px;
        }
        #container {
          padding-bottom:73px;
        }
      }
      @media only screen and (min-width: 992px){
        #container { margin-top: 0px;}
      }
      `,
      drop_background_color: "#000",
      background_color: "#fff",
      text_color: "#393939",
      button_text_color: "#393939",
      button_background_color: "#ffeef3",
      close_button_color: "#ccc",
      error_background_color: "#fcd6d7",
      error_text_color: "#C72E2F",
      success_background_color: "#fee9f2",
      success_text_color: "#393939",
      font_family: 'Poppins',
      headers_font_family: 'Poppins'
    }
  });
</script>