<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  var sclKlaviyo = {
    item: item,
    load: function() {
      this.trackAll();
      this.initTrackingEvents();
    },
    initTrackingEvents: function() {
      var addToCartElems = document.querySelectorAll('.add_to_cart ');

      if (addToCartElems) {
        addToCartElems.forEach(function(elem) {
          elem.addEventListener('click', function(){
            _learnq.push(['track', 'Added to Cart', item]);
            console.log("// Klaviyo Added To Cart Event");
          });
        });
      }
    },
    trackAll: function() {
      this.trackViewedItem();
      this.trackViewedProduct();
      console.log("// Klaviyo Viewed Product Event");
    },  
    trackViewedProduct: function() {
      _learnq.push(['track', 'Viewed Product', this.item]);
    },
    trackViewedItem: function() {
      _learnq.push(['trackViewedItem', {
        Title: this.item.Name,
        ItemId: this.item.ProductID,
        Categories: this.item.Categories,
        ImageUrl: this.item.ImageURL,
        Url: this.item.URL,
        Metadata: {
          Brand: this.item.Brand,
          Price: this.item.Price,
          CompareAtPrice: this.item.CompareAtPrice
        }
      }]);
    }
  } 

  sclKlaviyo.load();
</script>