{% comment %}
  Responsive image component

  @param {Object} image
    Shopify image object

  @param {Object} hover_image
    Shopify image object. Secondary image shows on hover.

  @param {String} max_width
    Max width of the image component

  @param {String} media_size
    How the image should be cropped: square, portrait, landscape, or adapt

  @param {String} transparent
    Removes the background color
{% endcomment %}

{% liquid
  assign media_size = media_size | default: 'square'

  if video or image
    assign width = max_width | default: image.width
    assign height = width | divided_by: image.aspect_ratio

    if media_size == 'adapt'
      assign media_padding = image.height | times: 1.00 | divided_by: image.width | times: 100.00
    endif
  endif
%}

<div
  class="media media--{{ media_size }} {% if hover_image != nil %}media--hover-effect{% endif %} {% if transparent %}media--transparent{% endif %}"
  {% if media_size == 'adapt' %}style="padding-top:{{ media_padding }}%"{% endif %}
>
  {% if video %}
    {% assign video_src = video | replace: "vimeo.com/", "player.vimeo.com/video/" | append: "?background=1" %}
    <iframe title="Video" src="{{ video_src }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  {% elsif image %}
    <img
      class="{{ class }}"
      srcset="
        {%- if width >= 375 -%}{{ image | img_url: '375x' }} 375w,{%- endif -%}
        {%- if width >= 750 -%}{{ image | img_url: '750x' }} 750w,{%- endif -%}
        {%- if width >= 1100 -%}{{ image | img_url: '1100x' }} 1100w,{%- endif -%}
        {%- if width >= 1500 -%}{{ image | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if width >= 1780 -%}{{ image | img_url: '1780x' }} 1780w,{%- endif -%}
        {%- if width >= 2000 -%}{{ image | img_url: '2000x' }} 2000w,{%- endif -%}
        {%- if width >= 2800 -%}{{ image | img_url: '2800x' }} 2800w{%- endif -%}
      "
      src="{{ image | img_url: '750x' }}"
      loading="lazy"
      alt="{{ image.alt | escape }}"
      width="{{ width }}"
      height="{{ height }}"
    >

    {% if hover_image %}
      {% liquid
        assign hover_width = max_width | default: hover_image.width
        assign hover_height = hover_width | divided_by: hover_image.aspect_ratio
      %}
      <img
        class="{{ class }}"
        srcset="
          {%- if hover_width >= 375 -%}{{ hover_image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if hover_width >= 750 -%}{{ hover_image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if hover_width >= 1100 -%}{{ hover_image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if hover_width >= 1500 -%}{{ hover_image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if hover_width >= 1780 -%}{{ hover_image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if hover_width >= 2000 -%}{{ hover_image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if hover_width >= 2800 -%}{{ hover_image | img_url: '2800x' }} 2800w{%- endif -%}
        "
        src="{{ hover_image | img_url: '750x' }}"
        loading="lazy"
        alt="{{ hover_image.alt | escape }}"
        width="{{ hover_width }}"
        height="{{ hover_height }}"
      >
    {% endif %}
  {% else %}
    <div style="width: {{ max_width }}px">
      {{ 'image' | placeholder_svg_tag }}
    </div>
  {% endif %}
</div>
