{% comment %} HEADER TAGS USED IN ALL LAYOUTS {% endcomment %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1 {% if template.suffix contains 'customizer' %},maximum-scale=1{% endif %}">
<meta name="theme-color" content="{{ settings.shop_bg_color }}">
<link rel="canonical" href="{{ canonical_url }}">
<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
<meta name="google-site-verification" content="1BwzyaTG0CUyDVtO5TVJczxw8CVTbW2u6lDxjJ-6nh8" />
<meta name="google-site-verification" content="0N-SKwpBr_IIXeWEJyS5lHnJZ-QbloQeQZfqySOV4S4" />
<meta http-equiv="cleartype" content="on">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

{%- if settings.favicon != blank -%}
  <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
{% else %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
{%- endif -%}

{%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
{%- endunless -%}

{% if page_description %}
  {%- comment %}<locksmith:c383>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
    {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:c383>{% endcomment -%}
{% endif %}

{% if collection.previous_product %}
  <link rel="prev" href="{{ collection.previous_product }}">
{% endif %}
{% if collection.next_product %}
  <link rel="next" href="{{ collection.next_product }}">
{% endif %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
{%- unless settings.type_body_font.system? -%}
  <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}
{%- unless settings.type_header_font.system? -%}
  <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}