<!-- Global site tag (gtag.js) - Google Ads: 608455335 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-608455335"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-608455335');
</script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '458565237876819',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script>
  function shareOverrideOGMeta(overrideLink, overrideTitle, overrideDescription, overrideImage)
  {
    FB.ui({
      method: 'share_open_graph',
      action_type: 'og.shares',
      action_properties: JSON.stringify({
        object: {
          'og:url': overrideLink,
          'og:title': overrideTitle,
          'og:description': overrideDescription,
          'og:image': overrideImage
        }
      })
    },
    function (response) {

    });
  }
/*
shareOverrideOGMeta(window.location.href, 'Sample Title', 'Sample Description', overrideImage)
*/
</script>