{% comment %}
  Facebook Open Graph meta tags
{% endcomment %}

{% comment %} OPEN GRAPH TAGS {% endcomment %}
{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_url = canonical_url | default: shop.url
  assign og_type = 'website'
  assign og_description = page_description | default: shop.description | default: shop.name

  if request.page_type == 'product'
    assign og_type = 'product'
  elsif request.page_type == 'article'
    assign og_type = 'article'
  elsif request.page_type == 'collection'
    assign og_type = 'product.group'
  elsif request.page_type == 'password'
    assign og_url = shop.url
  endif
%}


<meta name="author" content="{{ shop.name }}">
<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
{%- comment %}<locksmith:fe55>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ og_title | escape }}">{% endif -%}
  {%- comment %}original: <meta property="og:title" content="{{ og_title | escape }}">{%- endcomment %}
{%- comment %}</locksmith:fe55>{% endcomment -%}
{%- comment %}<locksmith:468d>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="{{ og_type }}">{% endif -%}
  {%- comment %}original: <meta property="og:type" content="{{ og_type }}">{%- endcomment %}
{%- comment %}</locksmith:468d>{% endcomment -%}
{%- comment %}<locksmith:0d50>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:description" content="{{ og_description | escape }}">{% endif -%}
  {%- comment %}original: <meta property="og:description" content="{{ og_description | escape }}">{%- endcomment %}
{%- comment %}</locksmith:0d50>{% endcomment -%}

{%- if page_image -%}
  {%- comment %}<locksmith:3739>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ page_image | img_url: 'master' }}">{% endif -%}
    {%- comment %}original: <meta property="og:image" content="http:{{ page_image | img_url: 'master' }}">{%- endcomment %}
  {%- comment %}</locksmith:3739>{% endcomment -%}
  {%- comment %}<locksmith:ea1d>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ page_image | img_url: 'master' }}">{% endif -%}
    {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ page_image | img_url: 'master' }}">{%- endcomment %}
  {%- comment %}</locksmith:ea1d>{% endcomment -%}
  <meta property="og:image:width" content="{{ page_image.width }}">
  <meta property="og:image:height" content="{{ page_image.height }}">
{%- endif -%}

{%- if request.page_type == 'product' -%}
  {%- comment %}<locksmith:b128>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{%- endcomment %}
  {%- comment %}</locksmith:b128>{% endcomment -%}
  {%- comment %}<locksmith:72b4>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:currency" content="{{ cart.currency.iso_code }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">{%- endcomment %}
  {%- comment %}</locksmith:72b4>{% endcomment -%}
{%- endif -%}

{%- if settings.social_twitter_link != blank -%}
  <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
{%- endif -%}
<meta name="twitter:card" content="summary_large_image">
{%- comment %}<locksmith:1097>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="{{ og_title | escape }}">{% endif -%}
  {%- comment %}original: <meta name="twitter:title" content="{{ og_title | escape }}">{%- endcomment %}
{%- comment %}</locksmith:1097>{% endcomment -%}
{%- comment %}<locksmith:b72a>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="{{ og_description | escape }}">{% endif -%}
  {%- comment %}original: <meta name="twitter:description" content="{{ og_description | escape }}">{%- endcomment %}
{%- comment %}</locksmith:b72a>{% endcomment -%}





{% if template contains 'product' %}
  {%- comment %}<locksmith:50dc>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="product">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="product">{%- endcomment %}
  {%- comment %}</locksmith:50dc>{% endcomment -%}
  
  
  {% if collection %}
	{% assign collectionT = collection.title %}       
  {% endif %}

   {% if collectionT == 'Custom Bags' %}
  		{%- comment %}<locksmith:3c95>{% endcomment -%}
  		  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="Customize your {{ product.title | strip_html | escape }}">{% endif -%}
  		  {%- comment %}original: <meta property="og:title" content="Customize your {{ product.title | strip_html | escape }}">{%- endcomment %}
  		{%- comment %}</locksmith:3c95>{% endcomment -%}
  {% else %}
  		{%- comment %}<locksmith:fc6f>{% endcomment -%}
  		  {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ product.title | strip_html | escape }}">{% endif -%}
  		  {%- comment %}original: <meta property="og:title" content="{{ product.title | strip_html | escape }}">{%- endcomment %}
  		{%- comment %}</locksmith:fc6f>{% endcomment -%}
  {% endif %}
  
{% if collection.title contains 'Custom Bags' %}
    {% if product.tags contains 'Customize' %}
    
        {%- comment %}<locksmith:8144>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="{{ 'logo.png' | asset_url }}">{% endif -%}
          {%- comment %}original: <meta property="og:image" content="{{ 'logo.png' | asset_url }}">{%- endcomment %}
        {%- comment %}</locksmith:8144>{% endcomment -%}
    {% endif %}
{% else %}
	{% for image in product.images limit:3 %}
        {%- comment %}<locksmith:5705>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{% endif -%}
          {%- comment %}original: <meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{%- endcomment %}
        {%- comment %}</locksmith:5705>{% endcomment -%}
        {%- comment %}<locksmith:83f1>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{% endif -%}
          {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{%- endcomment %}
        {%- comment %}</locksmith:83f1>{% endcomment -%}
    {% endfor %}
{% endif %}
 
  
  
  {%- comment %}<locksmith:0890>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:0890>{% endcomment -%}
  {%- comment %}<locksmith:62d2>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:currency" content="{{ shop.currency }}">{% endif -%}
    {%- comment %}original: <meta property="og:price:currency" content="{{ shop.currency }}">{%- endcomment %}
  {%- comment %}</locksmith:62d2>{% endcomment -%}
  {% for image in product.images %}
    {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
      {% assign src = image.alt | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first %}
      <meta property="og:video" content="{{ src }}">
    {% endif %}
  {% endfor %}  
{% elsif template contains 'collection' %}
  {%- comment %}<locksmith:ac13>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="product.group">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="product.group">{%- endcomment %}
  {%- comment %}</locksmith:ac13>{% endcomment -%}
  {%- comment %}<locksmith:c8ee>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ collection.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ collection.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:c8ee>{% endcomment -%}
  {% if collection.products_count > 0 %}
    {% assign image = collection.products.first.featured_image %}
    {%- comment %}<locksmith:2099>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image" content="http:{{ image.src | product_img_url: 'grande' }}">{%- endcomment %}
    {%- comment %}</locksmith:2099>{% endcomment -%}
    {%- comment %}<locksmith:65a9>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'grande' }}">{%- endcomment %}
    {%- comment %}</locksmith:65a9>{% endcomment -%}
  {% endif %}
{% elsif template contains 'article' %}
  {%- comment %}<locksmith:2e7d>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="article">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="article">{%- endcomment %}
  {%- comment %}</locksmith:2e7d>{% endcomment -%}
  {%- comment %}<locksmith:cb33>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ article.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ article.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:cb33>{% endcomment -%}
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.image %}
    {%- comment %}<locksmith:e1d6>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{%- endcomment %}
    {%- comment %}</locksmith:e1d6>{% endcomment -%}
    {%- comment %}<locksmith:7f7d>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{% endif -%}
      {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{%- endcomment %}
    {%- comment %}</locksmith:7f7d>{% endcomment -%}
  {% elsif article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      {%- comment %}<locksmith:1ab1>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="http:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:1ab1>{% endcomment -%}
      {%- comment %}<locksmith:9b34>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:9b34>{% endcomment -%}
    {% endif %}
  {% endif %}
{% elsif template contains 'blog' %}
  {%- comment %}<locksmith:55ea>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="article">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="article">{%- endcomment %}
  {%- comment %}</locksmith:55ea>{% endcomment -%}
  {%- comment %}<locksmith:cf74>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ blog.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ blog.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:cf74>{% endcomment -%}
  {% if blog.articles_count > 0 %}
    {% assign article = blog.articles.first %}
    {% assign img_tag = '<' | append: 'img' %}
    {% if article.image %}
      {%- comment %}<locksmith:ed55>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="http:{{ article.image | img_url: 'grande' }}">{%- endcomment %}
      {%- comment %}</locksmith:ed55>{% endcomment -%}
      {%- comment %}<locksmith:7ed1>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ article.image | img_url: 'grande' }}">{%- endcomment %}
      {%- comment %}</locksmith:7ed1>{% endcomment -%}
    {% elsif article.content contains img_tag %}
      {% assign src = article.content | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
      {% if src %}
        {%- comment %}<locksmith:e7d7>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ src }}">{% endif -%}
          {%- comment %}original: <meta property="og:image" content="http:{{ src }}">{%- endcomment %}
        {%- comment %}</locksmith:e7d7>{% endcomment -%}
        {%- comment %}<locksmith:c34f>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif -%}
          {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{%- endcomment %}
        {%- comment %}</locksmith:c34f>{% endcomment -%}
      {% endif %}
    {% endif %}
  {% endif %}
{% elsif template contains 'page' %}
  {%- comment %}<locksmith:2d95>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="article">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="article">{%- endcomment %}
  {%- comment %}</locksmith:2d95>{% endcomment -%}
  {%- comment %}<locksmith:e4b4>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ page.title | strip_html | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ page.title | strip_html | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:e4b4>{% endcomment -%}
  {% assign img_tag = '<' | append: 'img' %}
  {% if page.content contains img_tag %}
    {% assign src = page.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      {%- comment %}<locksmith:536b>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image" content="http:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:536b>{% endcomment -%}
      {%- comment %}<locksmith:3499>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ src }}">{% endif -%}
        {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ src }}">{%- endcomment %}
      {%- comment %}</locksmith:3499>{% endcomment -%}
    {% endif %}
  {% endif %}
{% else %}
  {%- comment %}<locksmith:2730>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="website">{% endif -%}
    {%- comment %}original: <meta property="og:type" content="website">{%- endcomment %}
  {%- comment %}</locksmith:2730>{% endcomment -%}
  {%- comment %}<locksmith:2678>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ page_title | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ page_title | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:2678>{% endcomment -%}
  {% if settings.use_logo %}
    {%- comment %}<locksmith:08ae>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">{% endif -%}
      {%- comment %}original: <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">{%- endcomment %}
    {%- comment %}</locksmith:08ae>{% endcomment -%}
    {%- comment %}<locksmith:b221>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">{% endif -%}
      {%- comment %}original: <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">{%- endcomment %}
    {%- comment %}</locksmith:b221>{% endcomment -%}
  {% endif %}
{% endif %}
{% if page_description %}
  {%- comment %}<locksmith:05b8>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:description" content="{{ page_description | escape }}">{% endif -%}
    {%- comment %}original: <meta property="og:description" content="{{ page_description | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:05b8>{% endcomment -%}
{% endif %}

{% comment %}
  Twitter user name of the site, based on theme settings
{% endcomment %}
{% if settings.twitter_username != blank %}
  <meta name="twitter:site" content="@{{ settings.twitter_username }}">
{% endif %}
<meta name="twitter:card" content="summary">
{% if template contains 'product' %}
  {%- comment %}<locksmith:feb9>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="{{ product.title }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:title" content="{{ product.title }}">{%- endcomment %}
  {%- comment %}</locksmith:feb9>{% endcomment -%}
  {%- comment %}<locksmith:dd25>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:dd25>{% endcomment -%}
  {%- comment %}<locksmith:ab39>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: 'medium' }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: 'medium' }}">{%- endcomment %}
  {%- comment %}</locksmith:ab39>{% endcomment -%}
  {%- comment %}<locksmith:d580>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image:width" content="240">{% endif -%}
    {%- comment %}original: <meta name="twitter:image:width" content="240">{%- endcomment %}
  {%- comment %}</locksmith:d580>{% endcomment -%}
  {%- comment %}<locksmith:2508>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image:height" content="240">{% endif -%}
    {%- comment %}original: <meta name="twitter:image:height" content="240">{%- endcomment %}
  {%- comment %}</locksmith:2508>{% endcomment -%}
{% elsif template contains 'article' %}
  {%- comment %}<locksmith:1c5d>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="{{ article.title }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:title" content="{{ article.title }}">{%- endcomment %}
  {%- comment %}</locksmith:1c5d>{% endcomment -%}
  {%- comment %}<locksmith:b6e8>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{% endif -%}
    {%- comment %}original: <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">{%- endcomment %}
  {%- comment %}</locksmith:b6e8>{% endcomment -%}
  {% if article.image %}
    <meta property="twitter:image" content="http:{{ article.image | img_url: 'grande' }}">
  {% elsif article.content contains "<img" %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
    {% if src %}
      <meta property="twitter:image" content="{{ src }}">
    {% endif %}
  {% endif %}
{% endif %}