{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>

{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="pagination__list list-unstyled pagination__list_desk" role="list">
      {%- if paginate.previous -%}
        <li class="prev_list">
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.previous' | t }}">
            {% comment %} {% render 'icon-caret' %} {% endcomment %}
            Prev
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="pagination__item link" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="pagination__item pagination__item--current" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="pagination__item">{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="next_list">
          <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.next' | t }}" >
            {% comment %} {%- render 'icon-caret' -%} {% endcomment %}
            Next
          </a>
        </li>
      {%- endif -%}
      </ul>



   <ul class="pagination__list list-unstyled pagination__list_mobile" role="list">
        {%- if paginate.previous -%}
          <li class="prev_list">
            <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.previous' | t }}">
              {% comment %} {% render 'icon-caret' %} {% endcomment %}
              Prev
            </a>
          </li>
        {%- endif -%}
        {%- for part in paginate.parts -%}
        
            {%- if part.is_link -%}
              {% if forloop.last == true %}
              <li>
                <a href="{{ part.url }}{{ anchor }}" class="pagination__item link" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
              </li>
              
              {% endif %}
              {%- else -%}
              {%- if part.title == paginate.current_page -%}
              <li>
                <span class="pagination__item pagination__item--current" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
              </li>
                {%- else -%}
                <li>
                <span class="pagination__item">{{ part.title }}</span>
              </li>
              {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
  
        {%- if paginate.next -%}
          <li class="next_list">
            <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce" aria-label="{{ 'general.pagination.next' | t }}" >
              {% comment %} {%- render 'icon-caret' -%} {% endcomment %}
              Next
            </a>
          </li>
        {%- endif -%}
        </ul>





    </nav>
  </div>
{%- endif -%}
