<div class="card-promo">
  <img src="https://cdn.shopify.com/s/files/1/0588/3540/2941/files/Rectangle_2826_8ea31dff-c15d-4c01-a532-e34d4149f314.png?v=1639686869"/>
  <h2>
  Getting Back To School
  </h2>
  <a href="/">Shop Now</a>
</div>