{%- if product or template == 'cart' -%}
    {%- if settings.scl_qty_limit_sitewide_enabled == true -%}

        {%- assign invalid_cart_items = "" -%}
        {%- assign scl_qty_limit_sitewide_qty = settings.scl_qty_limit_sitewide_qty -%}

        {%- comment -%} Process CART {%- endcomment -%}
        {%- if template == 'cart' -%}
            {%- for item in cart.items -%}
                {%- if invalid_cart_items != "" -%}
                    {% break %}
                {%- endif -%}

                {%- assign current_sku = item.sku -%}
                {%- assign sku_total_qty = 0 -%}

                {%- comment -%} Customizer Patch {%- endcomment -%}
                {%- assign is_customizer_patch = false -%}
                {%- if item.title contains 'Patch' -%}
                    {%- for p in item.properties -%}
                        {%- if p.first contains '_Timestamp' -%}
                            {%- assign is_customizer_patch = true -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}

                {%- for c_item in cart.items -%}
                    {%- if c_item.sku == current_sku -%}
                        {%- assign sku_total_qty = sku_total_qty | plus: c_item.quantity -%}
                    {%- endif -%}
                {%- endfor -%}

                {%- if sku_total_qty > scl_qty_limit_sitewide_qty -%}
                    {%- assign invalid_cart_items = invalid_cart_items | append: "," | append: current_sku -%}
                    {% break %}
                {%- endif -%}
            {%- endfor -%}
            {%- if invalid_cart_items != "" -%}
                {%- assign invalid_cart_items = invalid_cart_items | remove_first: ',' -%}
            {%- endif -%}
        {%- endif -%}

        {%- capture sitewide_notice_info -%}
        {"headline":"{{ settings.scl_qty_limit_sitewide_notice_headline }}","message":"{{ settings.scl_qty_limit_sitewide_notice_message }}","footer_copy": "{{ settings.scl_qty_limit_sitewide_notice_exclusion_copy }}","button_text":"{{ settings.scl_qty_limit_sitewide_notice_btn_text }}"}
        {%- endcapture -%}

        <script>
            window.SclProducts = window.SclProducts || {};
            window.SclProducts.sitewideQtyLimit = {{ settings.scl_qty_limit_sitewide_qty }};
            window.SclProducts.notice = {
                "sitewide": JSON.parse({{ sitewide_notice_info | json }})
            };
            {%- if invalid_cart_items != "" -%}
            window.SclProducts.invalidCartItems = "{{ invalid_cart_items }}";
            {%- endif -%}
        </script>
        <script src="{{ 'cart-constraints.js' | asset_url }}" defer></script>
    {%- endif -%}
	{%- style -%}
	.sitewide-quantity-limit-modal,
    div[class*=quantity-limit-modal] {
        width: 100%;
        margin: auto;
        max-width: 750px;
        background: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem 1.5rem;
        box-shadow: 0 0 0 3000px rgba(255, 226, 232, .5) !important;
        text-align: center;
        display: none;
        flex-direction: column;
        z-index: 100;
        border-radius: 20px
    }

    .sitewide-quantity-limit-modal.active,
    div[class*=quantity-limit-modal].active {
        display: flex
    }

    .sitewide-quantity-limit-modal button,
    div[class*=quantity-limit-modal] button {
        color: #2c272d
    }

    .sitewide-quantity-limit-modal h3,
    div[class*=quantity-limit-modal] h3 {
        margin: 0;
        font-size: 22px
    }

    .sitewide-quantity-limit-modal p,
    div[class*=quantity-limit-modal] p {
        line-height: 20px;
        margin-bottom: 0;
        font-size: 14px
    }

    .sitewide-quantity-limit-modal .close,
    div[class*=quantity-limit-modal] .close {
        background: 0 0;
        position: absolute;
        width: 40px;
        height: 40px;
        border: none;
        top: 1rem;
        right: 1rem;
        cursor: pointer
    }

    .sitewide-quantity-limit-modal .actions,
    div[class*=quantity-limit-modal] .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px
    }

    .sitewide-quantity-limit-modal .actions>*,
    div[class*=quantity-limit-modal] .actions>* {
        margin: 0 .5rem
    }

    .sitewide-quantity-limit-modal .actions button,
    div[class*=quantity-limit-modal] .actions button {
        color: #2c272d;
        cursor: pointer;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        font-size: 16px;
        padding: 0 4rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        max-width: 300px;
        width: calc(50% - .5rem);
        text-align: center;
        height: 44px;
        background: #ffe2e8;
        letter-spacing: .1em;
        margin: 0
    }

    @media (max-width:991px) {

        .sitewide-quantity-limit-modal .actions,
        div[class*=quantity-limit-modal] .actions {
            flex-direction: column
        }

        .sitewide-quantity-limit-modal .actions button,
        div[class*=quantity-limit-modal] .actions button {
            width: 100%;
            margin-bottom: 1rem
        }

        .sitewide-quantity-limit-modal .actions .cancel,
        div[class*=quantity-limit-modal] .actions .cancel {
            order: 2
        }
    }

    @media (max-width:991px) {

        .sitewide-quantity-limit-modal,
        div[class*=quantity-limit-modal] {
            max-width: calc(100% - 2rem)
        }
    }

    @media (min-width:991px) {

        .sitewide-quantity-limit-modal,
        div[class*=quantity-limit-modal] {
            border-radius: 50px;
            padding: 60px 80px
        }

        .sitewide-quantity-limit-modal h3,
        div[class*=quantity-limit-modal] h3 {
            font-size: 32px
        }

        .sitewide-quantity-limit-modal p,
        div[class*=quantity-limit-modal] p {
            line-height: 24px;
            font-size: 16px
        }

        .sitewide-quantity-limit-modal .close,
        div[class*=quantity-limit-modal] .close {
            top: 2rem;
            right: 2rem
        }
    }
	{%- endstyle -%}
{%- endif -%}
