{%- if template contains 'collection' and settings.ss_collection_discount_enabled == true -%}
<script>
    // Polifill for closest() function
    if (!Element.prototype.matches) {
        Element.prototype.matches =
            Element.prototype.msMatchesSelector ||
            Element.prototype.webkitMatchesSelector;
        }

        if (!Element.prototype.closest) {
        Element.prototype.closest = function(s) {
            var el = this;

            do {
            if (Element.prototype.matches.call(el, s)) return el;
            el = el.parentElement || el.parentNode;
            } while (el !== null && el.nodeType === 1);
            return null;
        };
    }

    // Override SS to display price discounts in collection pages
    const searchspringContent = document.querySelector('.product-grid');
    const priceSaleActiveClass = 'price--on-sale';
    const priceOriginalSelector = '.price__regular .price-item--regular';
    const priceRegularSelector = '.price__sale .price-item--regular';
    const priceSaleSelector = '.price__sale .price-item--sale';
    const cardInformationWrapperSelector = '.card-information__wrapper';

    const observer = new MutationObserver((mutationList) => {
        mutationList.forEach((mutation) => {
            if (mutation.addedNodes.length && searchspringContent) {
                let itemPrices = searchspringContent.querySelectorAll('.ss__result--item .price:not(.processed)');
                if (itemPrices.length) {
                    {% liquid
                        assign product_handles = ""
                        if settings.ss_collection_discount_handle
                            assign discount_collection = collections[settings.ss_collection_discount_handle]
                            if discount_collection != blank
                                paginate discount_collection.products by 1000
                                for product in discount_collection.products
                                    assign product_handles = product_handles | append: product.handle | append: ","
                                endfor
                                endpaginate
                            endif
                        endif
                        if settings.ss_collection_discount_products
                            assign product_handles = product_handles | append: settings.ss_collection_discount_products
                        endif
                    %}

                    const matches = {% if product_handles != "" %}'{{ product_handles }}'.split(','){% else %}[]{% endif %};
                    const discountFactor = 100 - {{ settings.ss_collection_discount_percentage }};

                    itemPrices.forEach(price => {
                        const itemCollectionLink = price.closest('.grid__item').querySelector('a');
                        const handle = itemCollectionLink.pathname.split('/').pop();
                        const priceOriginalEl = price.querySelector(priceOriginalSelector);
                        const priceRegularEl = price.querySelector(priceRegularSelector);
                        const priceSaleEl = price.querySelector(priceSaleSelector);

                        if (matches.includes(handle) && priceRegularEl && priceSaleEl && priceOriginalEl) {
                            const originalPrice = parseFloat(priceOriginalEl.innerText.replace('$', ''));
                            const floatPrice = originalPrice * discountFactor / 100;
                            const cardInformationHeaderEl = document.createElement('div');

                            priceRegularEl.innerText = `$${originalPrice.toFixed(2)}`;
                            priceSaleEl.innerText = `$${floatPrice.toFixed(2)}`;

                            price.classList.add('processed');
                            price.classList.add(priceSaleActiveClass);
                        }
                    });
                }
            }
        });
    });

    const observerOptions = {
        subtree: true,
        childList: true
    };

    observer.observe(searchspringContent, observerOptions);
</script>
{%- endif -%}