{%- if template contains 'collection' -%}
{% liquid
  assign product_handles = ""
  assign products_handle = ""
  assign almost_tag = shop.metafields.global.almost_gone_tag
  assign product_badge = shop.metafields.global.almost_gone_image[0].src
  assign product_badge_alt = shop.metafields.global.almost_gone_image[0].alt
  for product in collection.products
    assign currentInventory = product.selected_or_first_available_variant.inventory_quantity
    assign almost_remaining_qy = shop.metafields.global.almost_gone_remaining_qty | plus: 1
    assign products_handle = products_handle | append: product.handle | append: ","
    if product.tags contains almost_tag or almost_tag == blank
      for variant in product.variants
        if variant.inventory_quantity > currentInventory
          assign currentInventory = variant.inventory_quantity
        endif
      endfor
      if currentInventory > 0 and currentInventory <= almost_remaining_qy
        assign product_handles = product_handles | append: product.handle | append: ","
      endif
    endif
  endfor
%}

<script>
  const matchesAg = {% if product_handles != "" %}'{{ product_handles }}'.split(','){% else %}[]{% endif %};
  const searchspringContentAg = document.querySelector('.product-grid');

  // Create Almost gone Patch
  const baseDivBadge = document.createElement('div');
  baseDivBadge.classList.add('product__badge-wrapper');
  baseDivBadge.classList.add('product__badge-wrapper--almost-gone');
  const baseDivBadgeImg = document.createElement('img');
  baseDivBadgeImg.classList.add('product__badge');
  // Add extra style to image
  baseDivBadgeImg.style = 'transform: translate(0);';
  baseDivBadgeImg.src = '{{ product_badge }}';
  baseDivBadgeImg.alt = '{{ product_badge_alt }}';

  const observerAg = new MutationObserver((mutationList) => {
      mutationList.forEach((mutation) => {
          if (mutation.addedNodes.length && searchspringContentAg) {
              let cardWrappers = document.querySelectorAll('.card-wrapper:not(.processed)');
              if (cardWrappers.length) {
                  cardWrappers.forEach((cardWrapper) => {
                      cardWrapper.classList.add('processed');
                      let productHandle = cardWrapper.querySelector('a').getAttribute('href').split('/').pop();
                      if (matchesAg.includes(productHandle)) {
                          let badge = baseDivBadge.cloneNode(true);
                          badge.appendChild(baseDivBadgeImg.cloneNode(true));
                          cardWrapper.querySelector('.media').appendChild(badge);
                      }
                  });
              }
          }
      });
  });

  const observerAgOptions = {
    subtree: true,
    childList: true
  };

  observerAg.observe(searchspringContentAg, observerAgOptions);
</script>
{%- endif -%}