
<div class="swym-wishlist-button-bar"></div>

<style>

  .swym-wishlist-button-bar {
    text-align: center;
  }
  
  .swym-button {
    height: 35px !important;
  }

  .swym-button:after {
    content: '' !important;
    background-image: url("{{ 'heart-empty.svg' | asset_url }}") !important;
    background-size: 100% !important;
  }

  .swym-button,
  .swym-btn-container .swym-button.swym-added *:not(.swym-tooltip),
  .swym-btn-container .swym-button.swym-added:after {
    opacity: 1 !important;
  }

  .swym-button.disabled:after {
    content: '' !important;
    background-image: url("{{ 'heart-full.svg' | asset_url }}") !important;
    background-size: 100% !important;
  }
  .swym-wishlist-cta {
    margin-left: 12px;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
    text-transform: initial !important;
  }
</style>