{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="customer-wrapper">
  <div class="customer login">
    <h3 id="recover" tabindex="-1">
      {{ 'customer.recover_password.title' | t }}
    </h3> 
    <div>
        <p class="customer-subtitle">
          {{ 'customer.recover_password.subtext' | t }}
        </p>

      {%- form 'recover_customer_password',  novalidate: 'validate' -%}
      {{ form.errors | default_errors }}
        {% assign recover_success = form.posted_successfully? %}
        <div class="field">
          <label for="RecoverEmail">{{ 'customer.login_page.email' | t }}</label>
          <input type="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
          >
          <div class="messages"></div>
        </div>

        <button type="submit">
          {{ 'customer.login_page.submit' | t }}
        </button>

        <a href="#login">
          {{ 'customer.login_page.cancel' | t }}
        </a>
      {%- endform -%}
    </div>

    <h3 id="login" tabindex="-1">
      {{ 'customer.login_page.title' | t }}
    </h3>
    <div>
      {%- if recover_success == true -%}
        <h3 class="form__message" tabindex="-1" autofocus>
          <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
            <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"/>
            <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
            <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
          </svg>
          {{ 'customer.recover_password.success' | t }}
        </h3>
      {%- endif -%}
      {%- form 'customer_login', novalidate: 'novalidate', return_to: '/account' -%}
      {{ form.errors | default_errors }}
        <div class="field">  
          <label for="CustomerEmail">{{ 'customer.login_page.email' | t }}</label>      
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
          >
          <div class="messages"></div>
        </div>

        {%- if form.password_needed -%}
          <div class="field">
            <label for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>        
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
            >
            <div class="messages"></div>
          </div>

          <a href="#recover">
            {{ 'customer.login_page.forgot_password' | t }}
          </a>
        {%- endif -%}

        <button class="customer__button" type="submit">
          {{ 'customer.login_page.sign_in' | t }}
        </button>


      {%- endform -%}
    </div>

    {%- if shop.checkout.guest_login -%}
      <div>
        <hr>
        <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

        {%- form 'guest_login' -%}
          <button>
            {{ 'customer.login_page.guest_continue' | t }}
          </button>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div> 

  <div class="customer register">
    {{ form.errors | default_errors }}
  <h3>
    {{ 'customer.register.title' | t }}
  </h3>
  {%- form 'create_customer', novalidate: 'novalidate', return_to: '/account' -%}
    <div class="field">
      <label for="RegisterForm-FirstName">{{ 'customer.register.first_name' | t }}</label>
      <input 
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
      >
      <div class="messages"></div>
    </div>
    <div class="field">
      <label for="RegisterForm-LastName">{{ 'customer.register.last_name' | t }}</label>
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
      >
      <div class="messages"></div>
    </div>
    <div class="field"> 
      <label for="RegisterForm-email">{{ 'customer.register.email' | t }}</label>
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
      >
      <div class="messages"></div>
    </div>
    <div class="field">   
      <label for="RegisterForm-password">{{ 'customer.register.password' | t }}</label>
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
      >
      <div class="messages"></div>
    </div>
    <div class="field">
      <div class="field-check">   
        <input
        type="checkbox"
        name="customer[terms]"
        id="RegisterFrom-terms">
        <label for="RegisterFrom-terms">
          <span class="check">{% render "icon-check" %}</span>
          {{ 'customer.register.terms_html' | t }}
        </label>
      </div>
      <div class="messages"></div>
    </div>
    <button type="submit">
      {{ 'customer.register.submit' | t }}
    </button>
  {%- endform -%}
</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<script>
  (function() {
      var constraints = {
        'customer[email]': {
          // Email is required
          presence: true,
          // and must be an email (duh)
          email: true,
        },
        'customer[password]': {
          presence: true,
        },
        'customer[first_name]': {
          presence: true,
          length: {
            minimum: 1,
            maximum: 20
          },
          format: {
            pattern: "[a-z0-9]+",
            flags: "i",
            message: "^First name can only contain a-z and 0-9"
          }
        },
        'customer[last_name]': {
          presence: true,
          length: {
            minimum: 1,
            maximum: 20
          },
          format: {
            pattern: "[a-z0-9]+",
            flags: "i",
            message: "^Last name can only contain a-z and 0-9"
          } 
        },
        'customer[terms]': {
          presence: {
            message: "^You need to check the checkbox"
          },
          inclusion: {
            within: [true],
            message: "^You need to agree to the terms and conditions"
          }
        }
      };

      // Hook up the form so we can prevent it from being posted
      var forms = document.querySelectorAll("#MainContent form");
      forms.forEach(form => {
        form.querySelector('[type=submit]').addEventListener("click", function(ev) {
          ev.preventDefault(); 
       
         // Hook up the inputs to validate on the fly
        var inputs = form.querySelectorAll("#MainContent form input:not([type='hidden'])")
        const allowed = []
        form.querySelectorAll('input:not([type="hidden"]').forEach(el => {allowed.push(el.getAttribute('name'))});

        const filteredConstraints = Object.keys(constraints)
          .filter(key => allowed.includes(key))
          .reduce((obj, key) => {
            obj[key] = constraints[key];
            return obj;
          }, {});
          
        for (var i = 0; i < inputs.length; ++i) {
          inputs.item(i).addEventListener("change", function(ev) {
            
            var errors = validate(form, filteredConstraints) || {};
            showErrorsForInput(this, errors[this.name])
          });
        }

          handleFormSubmit(form, filteredConstraints);

        });
      })

      validate.validators.presence.message = "^This field is required";
      validate.validators.email.message = "^Please enter a valid e-mail address";

      function handleFormSubmit(form, filteredConstraints) {
        // validate the form against the constraints
        
        var errors = validate(form, filteredConstraints);
        
        // then we update the form to reflect the results
        showErrors(form, errors || {});
        if (!errors) {
          form.submit()
        }
      }

      // Updates the inputs with the validation errors
      function showErrors(form, errors) {
        // We loop through all the inputs and show the errors for that input
        form.querySelectorAll("input[name]:not([type='hidden']), select[name]").forEach(input => {
          // Since the errors can be null if no errors were found we need to handle
          // that
          showErrorsForInput(input, errors && errors[input.name]);
        });
      }

      // Shows the errors for a specific input
      function showErrorsForInput(input, errors) {
        // This is the root of the input
        var formGroup = closestParent(input.parentNode, "field")
          // Find where the error messages will be insert into
        var messages = formGroup.querySelector(".messages");
        // First we remove any old messages and resets the classes
        resetFormGroup(formGroup);
        // If we have errors
        if (errors) {
          // we first mark the group has having errors
          formGroup.classList.add("has-error");
          // then we append all the errors
          errors.forEach(error => {
            addError(messages, error);
          });
        } else {
          // otherwise we simply mark it as success
          formGroup.classList.add("has-success");
        }
      }

      // Recusively finds the closest parent that has the specified class
      function closestParent(child, className) {
        if (!child || child == document) {
          return null;
        }
        if (child.classList.contains(className)) {
          return child;
        } else {
          return closestParent(child.parentNode, className);
        }
      }

      function resetFormGroup(formGroup) {
        // Remove the success and error classes
        formGroup.classList.remove("has-error");
        formGroup.classList.remove("has-success");
        // and remove any old messages
        formGroup.querySelectorAll(".help-block.error").forEach(el => {
          el.parentNode.removeChild(el);
        });
      }

      // Adds the specified error with the following markup
      // <p class="help-block error">[message]</p>
      function addError(messages, error) {
        var block = document.createElement("p");
        block.classList.add("help-block");
        block.classList.add("error");
        block.innerText = error;
        messages.appendChild(block);
      }

    })();

</script>