{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer register">
  <h1>
    {{ 'customer.register.title' | t }}
  </h1>
  
  {%- form 'create_customer', novalidate: 'novalidate', return_to: '/account' -%}

    {% for error in form.errors %}
      <p>
        {% if error == 'form' %}
          {{ form.errors.messages[error] }}
        {% else %}
          {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
        {% endif %}
      </p>
    {% endfor %}
	
    <div class="field">
      <label for="RegisterForm-FirstName">{{ 'customer.register.first_name' | t }}</label>
      <input 
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
      >
      <div class="messages"></div>
    </div>
    <div class="field">
      <label for="RegisterForm-LastName">{{ 'customer.register.last_name' | t }}</label>
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
      >
      <div class="messages"></div>
    </div>
    <div class="field"> 
      <label for="RegisterForm-email">{{ 'customer.register.email' | t }}</label>
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
      >
      <div class="messages"></div>
    </div>
    <div class="field">   
      <label for="RegisterForm-password">{{ 'customer.register.password' | t }}</label>
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
      >
      <div class="messages"></div>
    </div>
    <div class="field">
      <div class="field-check">   
        <input
        type="checkbox"
        name="customer[terms]"
        id="RegisterFrom-terms">
        <label for="RegisterFrom-terms">
          <span class="check">{% render "icon-check" %}</span>
          {{ 'customer.register.terms_html' | t }}
        </label>
      </div>
      <div class="messages"></div>
    </div>
    <button type="submit">
      {{ 'customer.register.submit' | t }}
    </button>
  {%- endform -%}
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<script>
  (function() {


      var constraints = {
        'customer[email]': {
          presence: true,
          email: true,
        },
        'customer[password]': {
          presence: true,
        },
        'customer[first_name]': {
          presence: true,
          length: {
            minimum: 1,
            maximum: 20
          },
          format: {
            pattern: "[a-z0-9]+",
            flags: "i",
            message: "^First name can only contain a-z and 0-9"
          }
        },
        'customer[last_name]': {
          presence: true,
          length: {
            minimum: 1,
            maximum: 20
          },
          format: {
            pattern: "[a-z0-9]+",
            flags: "i",
            message: "^Last name can only contain a-z and 0-9"
          }
        },
        'customer[terms]': {
          presence: {
            message: "^You need to check the checkbox"
          },
          inclusion: {
            within: [true],
            message: "^You need to agree to the terms and conditions"
          }
        }
      };

      // Hook up the form so we can prevent it from being posted
      var form = document.querySelector("form#create_customer");
       form.querySelector('[type=submit]').addEventListener("click", function(ev) {
        ev.preventDefault();
        handleFormSubmit(form);
      });

      validate.validators.presence.message = "^This field is required";
      validate.validators.email.message = "^Please enter a valid e-mail address";

      // Hook up the inputs to validate on the fly
      var inputs = document.querySelectorAll("form#create_customer input:not([type='hidden']), form#create_customer textarea, form#create_customer select")
      for (var i = 0; i < inputs.length; ++i) {
        inputs.item(i).addEventListener("change", function(ev) {
          var errors = validate(form, constraints) || {};
          showErrorsForInput(this, errors[this.name])
        });
      }

      function handleFormSubmit(form, input) {
        // validate the form against the constraints
        var errors = validate(form, constraints);
        // then we update the form to reflect the results
        showErrors(form, errors || {});
        if (!errors) {
          form.submit()
        }
      }

      // Updates the inputs with the validation errors
      function showErrors(form, errors) {
        // We loop through all the inputs and show the errors for that input
        form.querySelectorAll("input[name]:not([type='hidden']), select[name]").forEach(input => {
          // Since the errors can be null if no errors were found we need to handle
          // that
          showErrorsForInput(input, errors && errors[input.name]);
        });
      }

      // Shows the errors for a specific input
      function showErrorsForInput(input, errors) {
        // This is the root of the input
        var formGroup = closestParent(input.parentNode, "field")
        console.log('formGroup', formGroup)
          // Find where the error messages will be insert into
        var messages = formGroup.querySelector(".messages");
        // First we remove any old messages and resets the classes
        resetFormGroup(formGroup);
        // If we have errors
        if (errors) {
          // we first mark the group has having errors
          formGroup.classList.add("has-error");
          // then we append all the errors
          errors.forEach(error => {
            addError(messages, error);
          });
        } else {
          // otherwise we simply mark it as success
          formGroup.classList.add("has-success");
        }
      }

      // Recusively finds the closest parent that has the specified class
      function closestParent(child, className) {
        if (!child || child == document) {
          return null;
        }
        if (child.classList.contains(className)) {
          return child;
        } else {
          return closestParent(child.parentNode, className);
        }
      }

      function resetFormGroup(formGroup) {
        // Remove the success and error classes
        formGroup.classList.remove("has-error");
        formGroup.classList.remove("has-success");
        // and remove any old messages
        formGroup.querySelectorAll(".help-block.error").forEach(el => {
          el.parentNode.removeChild(el);
        });
      }

      // Adds the specified error with the following markup
      // <p class="help-block error">[message]</p>
      function addError(messages, error) {
        var block = document.createElement("p");
        block.classList.add("help-block");
        block.classList.add("error");
        block.innerText = error;
        messages.appendChild(block);
      }

    })();

</script>