<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <!-- ADDRESS VALIDATOR -->
    <script async src="https://d3ox8tdk614ykk.cloudfront.net/pobox_checker.js"></script>
    
    <!--Route Code Edited 08/23/2022-->
    <script type="text/javascript" src="https://cdn.routeapp.io/route-widget-shopify/v2/route-widget-shopify-stable-v2.min.js"></script>
    <style>
      .route-div {
        margin-top: -30px;
      }
      .pw-route-protection {
        justify-content: center !important;
        padding: 0px !important;
      }
    </style>
    <!--End Route Code-->
    
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          
          <!-- Route Code Edited 08/23/2022 -->
          {% if content_for_layout contains 'data-step="contact_information"' %}
          <div class="route-div"></div>    
          {% endif %}
          <!-- Route Code End -->
          
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    {%- if checkout.shipping_address.country_code != 'US' -%}
      {%- render 'checkout-shipping-notice' -%}
    {%- endif -%}

    {%- if order.id -%}
        {%- capture customer_order_items_json -%}
        {"{{ order.id }}": [
            {%- for item in order.line_items -%}
                {%- assign customer_order_item_skus = customer_order_item_skus | append: item.sku | append: "," -%}
                {"sku": "{{ item.sku }}", "qty": {{ item.quantity }} }{%- unless forloop.last -%},{%- endunless -%}
            {%- endfor -%}
            ]}
        {%- endcapture -%}
        <script type="text/javascript">
            window.SclCheckout = window.SclCheckout || {};
            {%- if customer_order_items_json != blank -%}
            window.SclCheckout.customerCheckoutOrder = JSON.parse('{{ customer_order_items_json }}');

            var loadCartConstraintsScript = function() {
                var script = document.createElement('script');
                script.src = '{{ "app.cart.constraints.min.js" | asset_url }}';
                script.defer = true;
                script.async = true;
                document.head.appendChild(script);
            }

            loadCartConstraintsScript();
            {%- endif -%}
        </script>
    {%- endif -%}
  </body>
</html>
