{%- comment %}<locksmith:ac7b>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:ac7b>{% endcomment -%}

<!DOCTYPE html>
<html class="layout-customizer" lang="{{ request.locale.iso_code }}">
<head>
	{{ locksmith_initializations }}
	<meta name="robots" content="noindex,nofollow">
	<title>Customize {{ product.title | strip_html | escape }}</title>

	{% render 'meta-tags' %}
	{% render 'meta-tags-social' %}
	{{ content_for_header }}
	{% render 'meta-tags-scripts' %}

	<style>
		body{
			margin:0;
			padding:0;
		}
	</style>

	{% comment %} IS ADMIN< FOR CALIBRATION {% endcomment %}
	{% capture CFH %}{{ content_for_header  }}{% endcapture %}
	{% if CFH contains 'adminBar' or CFH contains 'previewBar' or customer.tags contains 'Admin' %}
		{% assign admin = true %}
	{% endif %}
	{% if admin %}
		<script>const isAdminUser=true;</script>
	{% endif %}
	<script>
		window.locksmith = {
		  developmentMode: {{ settings.development_mode_enabled | json }}
		}
	</script>
</head>



<body class="customizer">
	{{ content_for_layout }}
	{{ "customizer.js" | asset_url | script_tag }}

	<script>
		if(document.location.href.indexOf('THANKS25') > 0){ document.location.href = 'https://stoneycloverlane.com'}
	</script>


</body>
</html>