{% assign slide_number = 0 %}
{%- for block in section.blocks -%}
  {%- if block.type == 'announcement' %}
    {% assign slide_number = slide_number | plus: 1 %}
  {%- endif -%}
{%- endfor -%}

<div data-section-id="{{ section.id }}" data-section-type="announcement-bar-section" class="announcement-bar-section">
    {% if section.settings.slide_type == 'auto_scroll' %}
      <div class="announcement-bar__inner {% if slide_number > 0 %}background_pink{% endif %}">
        <div class="announcement-bar__text">
          <p class="announcement-bar-text-left announcement-bar__message">
            {%- for num in (1..10) %}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'announcement' -%}
                    {% if block.settings.link != blank %}
                      <a href="{{ block.settings.link }}" class="announcement-bar__link link--text focus-inset">
                        {{ block.settings.text | escape }}
                        {%- if block.settings.link != blank and block.settings.link_text != blank -%}
                          <span class="link-text">{{ block.settings.link_text }}</span>
                        {%- endif -%}
                      </a>
                    {% else %}
                      <span>
                        {{ block.settings.text | escape }}
                      </span>
                  {% endif %}
                {%- endcase -%}
              {%- endfor -%}
            {%- endfor -%}
          </p>
        </div>
      </div>
    {% else %}
      <div class="swiper announcement-bar_swiper">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'announcement' -%}
                <div class="swiper-slide announcement-bar announcement-bar_slide color-{{ block.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
                  {%- if block.settings.text != blank -%}
                    <p class="announcement-bar-text-left announcement-bar__message">
                      {%- if block.settings.link != blank -%}
                        <a href="{{ block.settings.link }}" class="announcement-bar__link link--text focus-inset animate-arrow">
                      {%- endif -%}
                      {{ block.settings.text | escape }}
                      {%- if block.settings.link != blank and block.settings.link_text != blank -%}
                        <span>{{ block.settings.link_text }}</span>
                      {%- endif -%}
                      {%- if block.settings.link != blank -%}
                      </a>
                      {%- endif -%}
                    </p>
                  {%- endif -%}
                  
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    {% endif %}
  <div class="announcement-bar__message menu_right {% if slide_number > 0 %}background_pink{% endif %}">
    
    {% for link in linklists.promo-bar-menu.links %}
      {%- comment %}<locksmith:c746>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists.promo-bar-menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:c746>{% endcomment -%}
      <a href="{{ link.url }}" class="rightmenu">{{ link.title }}</a>
    {% endfor %}
    
  </div>
</div>

<style>
  .announcement-bar__text {
    -webkit-animation: marquee {{ section.settings.auto_scroll_speed }}s linear infinite;
    animation: marquee {{ section.settings.auto_scroll_speed }}s linear infinite;
  }
</style>


{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "slide_type",
      "label": "Slide Type",
      "options": [
        {
          "value": "fade_in",
          "label": "Fade In"
        },
        {
          "value": "auto_scroll",
          "label": "Auto Scroll"
        }
      ],
      "default": "auto_scroll"
    },
    {
      "type": "range",
      "id": "auto_scroll_speed",
      "min": 30,
      "max": 200,
      "step": 10,
      "unit": "sec",
      "label": "Auto Scroll Speed",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Non-customized orders are expected to ship within 10 business days",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Underlined Text for Link"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "info": "This item only works for the fade-in slide type",
          "options": [
            {
              "value": "background-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
            },
            {
              "value": "accent-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
            },
            {
              "value": "pink",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__6.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
