
<div id="best-seller-{{ section.id }}" class="best-seller" data-section-type="best-seller-section" data-section-id="{{ section.id }}">
  <div class="best-seller__container">
    <a href="#" class="best-seller_prev">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="24" transform="rotate(-180 25 25)" stroke="#FFE2E8" stroke-width="2"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7801 25.0402C12.7796 25.0268 12.7793 25.0134 12.7793 24.9999C12.7793 24.4476 13.227 23.9999 13.7793 23.9999C19.5275 23.9999 24.1627 19.4104 24.1627 13.7792C24.1627 13.2269 24.6104 12.7792 25.1627 12.7792C25.715 12.7792 26.1627 13.2269 26.1627 13.7792C26.1627 18.0601 23.9357 21.8182 20.5698 23.9999L36.2209 23.9999C36.7731 23.9999 37.2209 24.4476 37.2209 24.9999C37.2209 25.5522 36.7731 25.9999 36.2209 25.9999L20.5698 25.9999C23.9356 28.1817 26.1627 31.9398 26.1627 36.2207C26.1627 36.773 25.715 37.2207 25.1627 37.2207C24.6104 37.2207 24.1627 36.773 24.1627 36.2207C24.1627 30.5895 19.5275 26 13.7793 26C13.2405 26 12.8012 25.5738 12.7801 25.0402Z" fill="#2C272D"/>
        </svg>              
    </a>
    <a href="#" class="best-seller_next">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="25" fill="#FFE2E8"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 24.9598C37.2204 24.9732 37.2207 24.9866 37.2207 25.0001C37.2207 25.5524 36.773 26.0001 36.2207 26.0001C30.4725 26.0001 25.8373 30.5896 25.8373 36.2208C25.8373 36.7731 25.3896 37.2208 24.8373 37.2208C24.285 37.2208 23.8373 36.7731 23.8373 36.2208C23.8373 31.9399 26.0643 28.1818 29.4302 26.0001L13.7791 26.0001C13.2269 26.0001 12.7791 25.5524 12.7791 25.0001C12.7791 24.4478 13.2269 24.0001 13.7791 24.0001L29.4302 24.0001C26.0644 21.8183 23.8373 18.0602 23.8373 13.7793C23.8373 13.227 24.285 12.7793 24.8373 12.7793C25.3896 12.7793 25.8373 13.227 25.8373 13.7793C25.8373 19.4105 30.4725 24 36.2207 24C36.7595 24 37.1988 24.4262 37.2199 24.9598Z" fill="#2C272D"/>
        </svg>        
    </a>
    <div class="best-seller_slider__container">
      <div class="best-seller_slider_col_lg">
        {% for block in section.blocks %}
          <div class="best-seller__box_mobile  {% if forloop.index == 1 %} active {% endif%}" data-slide-top="slide_{{forloop.index}}">
            <div class="best-seller__category">{{ block.settings.slide_category | escape }}</div>
            <div class="best-seller__title">{{ block.settings.slide_label | escape }}</div>
          </div>
        {% endfor %}
        <div class="best-seller_slider swiper best_seller_swiper">
          <div class="best-seller_slider_wrapper swiper-wrapper">
            {% for block in section.blocks %}
              <div class="best-seller_slide swiper-slide" data-slide="slide_{{forloop.index}}">
                <div class="best-seller_slide_content slider-{{ section.settings.slider_position }}">
                  <div class="best-seller__box_large">
                    <div class="best-seller__image">
                      <img src="{{block.settings.image | img_url: "master"}}" 
                          class="best-seller_image"
                          loading="lazy"
                          alt="{{ block.settings.image.alt | escape }}">
                      {% if block.settings.image_badge != blank %}
                        <img class="best-seller_badge best-seller_badge_mobile" src="{{block.settings.image_badge | img_url: "master"}}" 
                            loading="lazy"
                            alt="{{ block.settings.image_badge.alt | escape }}">
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="best-seller_slider_col_md">
        {% for block in section.blocks %}
          <div class="best-seller__box_medium {% if forloop.index == 1 %} active {% endif%}" data-slide-active="slide_{{forloop.index}}">
            {% if block.settings.image_badge != blank %}
            <img class="best-seller_badge best-seller_badge_desk" src="{{block.settings.image_badge | img_url: "master"}}" 
                loading="lazy"
                alt="{{ block.settings.image_badge.alt | escape }}">
            {% endif %}
            <div class="best-seller__content_box">
              <div class="best-seller_desk">
                <div class="best-seller__category">{{ block.settings.slide_category | escape }}</div>
                <h2 class="best-seller__title">{{ block.settings.slide_label | escape }}</h2>
              </div>
              <div class="best-seller__text">{{ block.settings.slide_text | escape }}</div>
              <a href="{{block.settings.slide_url}}" class="best-seller__link">View more</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    
  </div>


</div>

{% schema %}
{
  "name": "Best seller",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "slider_position",
      "label": "Slider position",
      "options": [
          {
              "value": "left",
              "label": "Left",
              "group": "position"
          },
          {
              "value": "right",
              "label": "Right",
              "group": "position"
          }
      ]
    }
  ],
  "blocks": [
  {
    "name": "Slide",
    "type": "slide",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_badge",
        "label": "best seller badge"
      },
      {
        "type": "text",       
        "id": "slide_category",
        "label": "slide category"
      },
      {
        "type": "text",       
        "id": "slide_label",
        "label": "slide title"
      },
      {
        "type": "text",       
        "id": "slide_text",
        "label": "slide text"
      },
      {
        "type": "url",
        "id": "slide_url",
        "label": "Slide link"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Best seller"
    }
  ]
}
{% endschema %}

