
<div class="page-width">
  <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
</div>


{% schema %}
{
  "name": "cart-title",
  "class": "cart-title",
  "settings": [
    
  ]
}
{% endschema %}
