{{ 'section-compare-sizes.css' | asset_url | stylesheet_tag }}

{% capture tabs_list  %}
  {% for block in section.blocks %}
    <li data-item="{{ forloop.index }}" 
        class="compare-sizes__tab-item 
        {% if forloop.first %}active{% endif %}">
          <span>
            {% if block.settings.custom_title != blank %}
              {{ block.settings.custom_title | escape }}
            {% else %}
              {{ block.settings.collection.title | escape }}
            {% endif %}
          </span>
    </li>
  {% endfor %}
{% endcapture %}

{% comment %}Product Badge{% endcomment %}
{% for tag_name in shop.metafields.global.product_badge_image_tag_name %}
  {% for tag in product.tags %}
    {% if tag == tag_name %}
      {% assign product_badge_src = shop.metafields.global.product_badge_image[0][forloop.index0].src %}
      {% assign product_badge_alt = shop.metafields.global.product_badge_image[0][forloop.index0].alt %}
      {% assign product_badge_width = shop.metafields.global.product_badge_image[0][forloop.index0].width %}
      {% assign product_badge_height = shop.metafields.global.product_badge_image[0][forloop.index0].height %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% comment %}End of Product Badge{% endcomment %}

{%- comment -%} Almost Gone Badge {%- endcomment -%}
{% assign almost_tag = shop.metafields.global.almost_gone_tag %}
{% assign currentInventory = product.selected_or_first_available_variant.inventory_quantity %}
{% assign almost_remaining_qy = shop.metafields.global.almost_gone_remaining_qty | plus: 1 %}
{% if product.tags contains almost_tag or almost_tag == blank %}
  {% if currentInventory > 0 and currentInventory <= almost_remaining_qy %}
      {% assign product_badge_src = shop.metafields.global.almost_gone_image[0].src %}
      {% assign product_badge_alt = shop.metafields.global.almost_gone_image[0].alt %}
      {% assign product_badge_width = shop.metafields.global.almost_gone_image[0].width %}
      {% assign product_badge_height = shop.metafields.global.almost_gone_image[0].height %}
  {% endif %}
{% endif %}
{%- comment -%} End of Almost Gone Badge {%- endcomment -%}

{% capture hero %}
  {% for block in section.blocks %}
  {% assign collection = block.settings.collection %}
  <div class="compare-hero {% if forloop.first %} vis{% endif %}" data-item={{ forloop.index }}>
    <div class="compare-hero__image-holder">
      {%- if collection.metafields.compare.image_desktop != blank -%}
      {% assign desktop_image = collection.metafields.compare.image_desktop %}
      <picture>
          {% if collection.metafields.compare.image_mobile != blank %}
            <source srcset="{{ collection.metafields.compare.image_mobile[0].src }}" media="(max-width: 767px)">
          {% else %}
            <source srcset="{{ desktop_image[0].src }}" media="(max-width: 767px)">
          {% endif %}
          <source srcset="{{ desktop_image[0].src }}">
          <img src="{{ desktop_image[0].src }}" 
               alt="{{ desktop_image.alt | default: "Stoney clover lane collection"}}" 
               {% unless forloop.first %}loading="lazy" {% endunless %}
               width="{{ desktop_image[0].width }}"
               height="{{ desktop_image[0].height }}">
      </picture>
      {%- endif -%} 
    </div>

    {% if collection.metafields.compare.title != blank and collection.metafields.compare.copy != blank %}
      <div class="compare-hero__content">
        {% if collection.metafields.compare.title != blank %}
          <h2 class="compare-hero__title">{{ collection.metafields.compare.title }}</h2>
        {% endif %}
        {% if collection.metafields.compare.copy != blank %}
          <div class="compare-hero__copy">{{ collection.metafields.compare.copy }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% endfor %}
{% endcapture %}



<div id="compare-sizes-{{ section.id }}" class="compare-sizes" data-section-type="compare-sizes" data-section-id="{{ section.id }}">

  {{ hero }}
  
  <ul class="compare-sizes__tab-list">
    {{ tabs_list }}
  </ul>

  <div class="compare-products">
  {% for block in section.blocks %}
    {% assign collection = block.settings.collection %}
    <div class="compare-product__container {% if forloop.first %} vis{% endif %}" data-item="{{ forloop.index }}">
      {%- comment %}<locksmith:2320>{% endcomment -%}
        {%- assign locksmith_bc67_forloop__size = 0 %}{% for product in collections[collection].products %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_bc67_forloop__size = locksmith_bc67_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_bc67_forloop__index = nil -%}
      {%- comment %}</locksmith:2320>{% endcomment -%}
      {% for product in collections[collection].products %}
      {%- comment %}<locksmith:02d8>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_bc67_forloop__index == nil %}{% assign locksmith_bc67_forloop__index = 1 %}{% assign locksmith_bc67_forloop__index0 = 0 %}{% else %}{% assign locksmith_bc67_forloop__index = locksmith_bc67_forloop__index | plus: 1 %}{% assign locksmith_bc67_forloop__index0 = locksmith_bc67_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_bc67_forloop__index == 1 %}{% assign locksmith_bc67_forloop__first = true %}{% else %}{% assign locksmith_bc67_forloop__first = false %}{% endif %}{% if locksmith_bc67_forloop__index == locksmith_bc67_forloop__size %}{% assign locksmith_bc67_forloop__last = true %}{% else %}{% assign locksmith_bc67_forloop__last = false %}{% endif %}{% assign locksmith_bc67_forloop__rindex = locksmith_bc67_forloop__size | minus: locksmith_bc67_forloop__index | minus: 1 %}{% assign locksmith_bc67_forloop__rindex0 = locksmith_bc67_forloop__size | minus: locksmith_bc67_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:02d8>{% endcomment -%}
      {% for variant in product.variants %}
        {% if variant.available %}
         {% assign available_variant = variant %}
            {% break %}
          {% else %}
            {% assign available_variant = '' %}
         {% endif %}
      {% endfor %}
      {% assign product = product.selected_or_first_available_variant %}
        <div class="compare-product">
          <div class="compare-product__panel">
            <div class="compare-product__heading">
              <a href="{{ product.url }}" class="compare-product__title">{{ product.title }}</a>
              <div class="price">
                <span class="sale-price">{{ product.price | money_without_trailing_zeros }}</span>
                {% if product.compare_at_price > product.price %}
                  <del class="original-price">{{ product.compare_at_price | money_without_trailing_zeros }}</del>
                {% endif %}
              </div>
              {% assign prod_variant_count = 0 %}
              {% for option in product.options %} 
                {% if option contains 'Color' %}
                  {% for variant in product.variants %}
                    {% assign prod_variant_count = prod_variant_count | plus: 1 %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              {% if prod_variant_count > 1 %}
              <div class="compare-product__colors compare-product__colors--desk">Available in {{ prod_variant_count }} colors</div>
              {% endif %}
            </div>
            <div class="compare-product__actions">
              <button class="scl__button scl__button_primary compare-product__button compare-product__button--desk {% if available_variant.id == blank %}disabled{% endif %}" data-id={{ available_variant.id }}>{{ 'products.product.shop_now' | t }}</button>
              <div class="compare-product__arrow js-panel-toggler active"><svg width="15" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m1.113 1 6 6M7.113 7l6-6" stroke="#2C272D" stroke-width="2" stroke-linecap="round"/></svg></div>
            </div> 
          </div>
 
          <div class="compare-product__tab-content active">
            <div class="compare-product__images"> 
              {% assign image_limit = 3 %}
              {% if product.metafields.global.what_fits_video != blank %}
                {% assign image_limit = 2 %}
              {% endif %}
              {% for image in product.images  limit: image_limit %}
              <div class="compare-product__image-wrapper">
                {% if forloop.first and product.compare_at_price > product.price and product_badge_src != blank %}
                  <img class="product__badge" 
                    src="{{ product_badge_src }}" 
                    alt="{{ product_badge_alt | default: "Sale badge" }}"
                    width="{{ product_badge_width }}" 
                    height="{{ product_badge_height }}" 
                    loading="lazy">
                {% endif %}
                <img src="{{ image.src | img_url: '388x' }}" 
                   srcset="{{ image.src | img_url: '388x' }}1x, {{ image.src | img_url: '388x', scale: 2 }}2x"
                  loading="lazy" 
                  class="compare-product__image"
                  alt="{{ image.alt | escape }}">
              </div>
              {% endfor %}
              {% if product.metafields.global.what_fits_video != blank %}
                <div class="compare-product__video-wrapper">
                  <a href="#" class="video__play_btn video__control_btn">
                    {% render 'icon-pause' %}
                    {% render 'icon-play-video' %}   
                  </a> 
                  <video class="video__player" playsinline>
                    <source src= "{{ product.metafields.global.what_fits_video | escape }}#t=0.001"
                          type="video/mp4">
                  </video>
                </div>
              {% endif %}
            </div>

            <div class="compare-product__info">
              {% if product.metafields.global.what_fits != blank %}
              {% assign what_fits = product.metafields.global.what_fits | split: ',' %}

                <div class="compare-product__block">
                  <h4 class="compare-product__block-title">{{ 'products.product.fit_title' | t }}</h4>
                  <div class="compare-product__block-content">
                    {% for fit in what_fits %}
                      <div>{{- fit | strip -}}</div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
              {% if product.metafields.global.measurements != blank %}
                <div class="compare-product__block">
                  <h4 class="compare-product__block-title">{{ 'products.product.measure_title' | t }}</h4>
                  <div class="compare-product__block-content">{{ product.metafields.global.measurements }}</div>
                </div>
              {% endif %}
            </div>
            <div class="compare-product__actions--mob">
              <button class="scl__button scl__button_primary compare-product__button compare-product__button--mob {% if available_variant.id == blank %}disabled{% endif %}" data-id={{ available_variant.id }}>{{ 'products.product.shop_now' | t }}</button>
              {% if prod_variant_count > 1 %}
                <div class="compare-product__colors compare-product__colors--mob">Available in {{ prod_variant_count }} colors</div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %} 
  </div>
</div>


{% schema %}
{
  "name": "Compare sizes",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
   
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom collection title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Compare sizes"
    }
  ]
}
{% endschema %}