{{ 'section-compare.css' | asset_url | stylesheet_tag }}
{%- if product.metafields.global.compare_enable == 'true' -%}

  <div id="compare-{{ section.id }}" class="compare-section">
    <div class="compare__container">
      {%- if section.settings.heading_title != blank -%}
        <h2 class="compare__title scl_title">{{ section.settings.heading_title | escape }}</h2>
      {%- endif -%}
      <div class="compare__wrapper">
        <div class="compare__content">
          {%- if product.metafields.global.compare_image[0].src != blank -%}
            <div class="compare__image {% if product.metafields.global.compare_image_mobile %}has-mobile-image{% endif %}">
              <img
                class="compare__image_desk"
                src="{{ product.metafields.global.compare_image[0].src }}"
                loading="lazy"
                alt="{{ section.settings.heading_title }}"
              >
              
              <img
                class="compare__image_mobile"
                src="
                  {% if product.metafields.global.compare_image_mobile %}
                    {{ product.metafields.global.compare_image_mobile[0].src }}
                  {% else %}
                    {{ product.metafields.global.compare_image[0].src }}
                  {% endif %}
                "
                loading="lazy"
                alt="{{ section.settings.heading_title }}"
              >
              {%- if product.metafields.global.compare_url != blank -%}
                <a {% if product.metafields.global.compare_url != blank %} href="{{ product.metafields.global.compare_url }}"{% endif %} class="compare__image_link compare__image_link_desk">Compare size</a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>

    {%- if product.metafields.global.compare_url != blank -%}
      <a {% if product.metafields.global.compare_url != blank %} href="{{ product.metafields.global.compare_url }}"{% endif %} class="compare__image_link compare__image_link_mobile">Compare size</a>
    {%- endif -%}
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Compare section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading_title",
      "default": "Heading title",
      "label": "Heading title",
      "info": "Heading title"
    }
  ]
}
{% endschema %}

