<div class="concierge__section" data-section-type="concierge-section" data-section-id="{{ section.id }}">
  <div class="concierge__section_container">
    <h3 class="concierge__section_title">{{section.settings.title}}</h3>
    <div class="concierge__section_subtitle">{{section.settings.subtitle}}</div>
    <div class="concierge__section_tab_box">
        <a href="#" class="concierge__section_prev">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" transform="rotate(-180 25 25)" fill="#FFE2E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2208 25C37.2208 25.5523 36.773 26 36.2208 26L20.5697 26C23.9356 28.1818 26.1626 31.9398 26.1626 36.2208C26.1626 36.7731 25.7149 37.2208 25.1626 37.2208C24.6103 37.2208 24.1626 36.7731 24.1626 36.2208C24.1626 30.5895 19.5274 26 13.7792 26C13.2453 26 12.809 25.5815 12.7807 25.0547C12.7797 25.0366 12.7792 25.0183 12.7792 25C12.7792 25 12.7792 25 12.7792 25C12.7792 24.4477 13.2269 24 13.7792 24C19.5274 24 24.1626 19.4105 24.1626 13.7792C24.1626 13.2269 24.6103 12.7792 25.1626 12.7792C25.7149 12.7792 26.1626 13.2269 26.1626 13.7792C26.1626 18.0602 23.9356 21.8182 20.5697 24L36.2208 24C36.7731 24 37.2208 24.4477 37.2208 25Z" fill="#2C272D"/>
          </svg>
        </a>
        <div class="concierge__section_tab">
            <div class="concierge__section_slider swiper concierge__section_slider_0">
              <div class="concierge__section_slider_wrapper swiper-wrapper">
                {%for block in section.blocks %}
                      <div class="concierge__section_slide swiper-slide">
                          <div class="concierge__section_slide_img">
                            <a href="{{block.settings.slide_url}}" class="concierge__section_slide_link"></a>
                            {%if block.settings.image1 != blank %}
                              <div class="concierge__section_card_badge">
                                <img src="{{block.settings.image1 | img_url: "master"}}" 
                                    loading="lazy"
                                    class="concierge__section_card_image"
                                    alt="{{ block.settings.image1.alt | escape }}">
                              </div>
                            {%endif%}
                            <img src="{{block.settings.image | img_url: "master"}}" 
                                loading="lazy"
                                class="concierge__section_img"
                                alt="{{ block.settings.image.alt | escape }}">
                          </div>
                      </div>
                {% endfor %}
              </div>
            </div>
        </div>
      <a href="#" class="concierge__section_next">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="25" fill="#FFE2E8"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 24.9598C37.2204 24.9732 37.2207 24.9866 37.2207 25.0001C37.2207 25.5524 36.773 26.0001 36.2207 26.0001C30.4725 26.0001 25.8373 30.5896 25.8373 36.2208C25.8373 36.7731 25.3896 37.2208 24.8373 37.2208C24.285 37.2208 23.8373 36.7731 23.8373 36.2208C23.8373 31.9399 26.0643 28.1818 29.4302 26.0001L13.7791 26.0001C13.2269 26.0001 12.7791 25.5524 12.7791 25.0001C12.7791 24.4478 13.2269 24.0001 13.7791 24.0001L29.4302 24.0001C26.0644 21.8183 23.8373 18.0602 23.8373 13.7793C23.8373 13.227 24.285 12.7793 24.8373 12.7793C25.3896 12.7793 25.8373 13.227 25.8373 13.7793C25.8373 19.4105 30.4725 24 36.2207 24C36.7595 24 37.1988 24.4262 37.2199 24.9598Z" fill="#2C272D"/>
        </svg>
      </a>
    </div>
    <a href="#" id="concierge-customize-button" class="concierge__section_primary-btn">CUSTOMIZE THE DESIGN</a>
  </div>


</div>
{% schema %}
{
  "name": "Concierge section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width shop__categories",
  "settings": [       
    {
      "type": "text",       
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "text",       
      "id": "subtitle",
      "label": "Section subtitle"
    }
  ],
    
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image badge"
        },
        {
          "type": "url",
          "id": "slide_url",
          "label": "Slide link"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Concierge section"
  }
]
}
{% endschema %}