<section-contact id="contact" class="p30 pink contact__wrapper">
  <div class="contact__media">
    {%
      render 'media',
      image: section.settings.image,
      media_size: 'full',
    %}
  </div>
  
  <div class="wrap sm contact__form">
    <div class="contact__form__inner">
      <h1 class="contact__form-title">{{ page.title }}</h1>

      <div class="esc--form styled-select">
        <label>How can we help?</label>
        <select class="customer-support-selector" data-form-select>
          {%- comment -%}
          <option selected="selected" value="customer-support">Customer Support</option>
          {%- endcomment -%}
          <option selected="selected" value="other">Customer Service</option>
          <option value="wholesale">Wholesale Inquiry</option>
          <option value="press">PR Inquiry</option>
          <option value="collabs">Collab Inquiry</option>

          {% comment %} I'm having issues getting this form to load disabling for now - carson {% endcomment %}
          {% comment %} <option value="support">Online Order Support</option> {% endcomment %} 
          <option value="palm-beach-support">Palm Beach Support</option>
          <option value="west-village-support">West Village Support</option>
          <option value="east-hampton-support">East Hampton Support</option>
          <option value="newport-beach-support">Newport Beach Support</option>
          <option value="new-orleans-support">New Orleans Support</option>
          <option value="nashville-support">Nashville Support</option>
          <option value="other">Other</option>
        </select>
        <span class="form-loader">Loading form...</span>
      </div>

      <div class="forms-container" style="display: none;">
        {%- comment -%}
        <!-- Contact Form -->
        <div data-esc-form="a6152ec0-7309-11e7-ba15-a51a80d00689"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="customer-support">
        </div>
        {%- endcomment -%}

        <!-- Wholesale -->
        <div data-esc-form="0edba2f0-2edb-11e7-997e-0f3aa928a095"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="wholesale">
        </div>

        <!-- Press -->
        <div data-esc-form="9c2892a0-ee26-11ea-a401-51328086ad79"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="press">
        </div>

        <!-- Collabs -->
        <div data-esc-form="e2e6f040-b52a-11eb-adec-756ef41ef7f4"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="collabs">
        </div>

      <!-- Support  -->
        {% comment %} <div data-esc-form="d845f400-b825-11eb-a254-55a8db9b7392"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="support">
        </div> {% endcomment %}

      <!-- Palm Beach Support  -->
        <div data-esc-form="add7d130-04a0-11ec-a957-5dce1fc194da"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="palm-beach-support">
        </div>

      <!-- West Village Support  -->
        <div data-esc-form="651b6070-04a1-11ec-9a39-5529002dfbec"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="west-village-support">
        </div>

      <!-- East Hampton Support  -->
        <div data-esc-form="e3887e00-04a1-11ec-9ee6-335caa12ea90"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="east-hampton-support">
        </div>

      <!-- Newport Beach Support  -->
        <div data-esc-form="4eadd440-04a2-11ec-b48f-eb802a34bef0"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="newport-beach-support">
        </div>

      <!-- New Orleans Support  -->
        <div data-esc-form="89e76950-0bef-11ec-b14f-358db10eee7f"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="new-orleans-support">
        </div>

      <!-- Nashville Support  -->
        <div data-esc-form="4a525560-315e-11ec-a4b9-89d6c8f2392f"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="nashville-support">
        </div>

        <!-- Other -->
        <div data-esc-form="c901b170-f2d3-11ea-8b8e-736a91f1e3c7"
          data-customer="{{ customer.id }}"
          data-page="{{ shop.secure_url }}{{ page.url }}"
          data-form="other">
        </div>

      </div>
    </div>
  </div>
</section-contact>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script>
  //TODO: remove jquery dependency
  (function($) {
    const formInterval = null;

    $('[data-form-select]').on('change', function() {
      const formName = $(this).val() ? $(this).val() : 'collabs';

      const formElemSelector = '[data-form="' + formName + '"]';
      if ($(formElemSelector).length) {
        $('.forms-container').show();
        $('[data-form]').hide();
        $(formElemSelector).show();
      }
    });

    $(window).load(function(){
      setTimeout(function() {
        $('.form-loader').fadeOut(function(){
          $('[data-form-select]').trigger('change');
        });
      }, 1000);
    });

  })(jQuery);
</script>

{% schema %}
{
  "name": "Contact",
  "tag": "section",
  "class": "contact",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}