{% if section.settings.enable %}
  <section id="mainCustomCollection">
    <div class="wrap page-width">
      {% if section.settings.page_title %}
      <div class="collection-head">
        <h2>{{ section.settings.page_title }}</h2>
        <p>{{ section.settings.page_description }}</p>
      </div>
      {% endif %}
    {%- for block in section.blocks -%}
    {%- case block.type -%}

      <!--  Section Title -->
      {%- when 'section_title' -%}
        {%- if block.settings.section_is_hidden != true -%}
          <div class="sectionHead">
            {%- if block.settings.section_name != empty -%}
              <h3>{{ block.settings.section_name | escape }}</h3>
            {%- endif -%}
            {%- if block.settings.section_description != empty -%}
              <p>{{ block.settings.section_description | escape }}</p>
            {%- endif -%}
          </div>
        {%- endif -%}


      {%- when 'product_type' -%}
        <!-- Product -->
        {%- if block.settings.product_type_is_hidden == true -%}
          {%- continue -%}
        {%- endif -%}

        {%- assign img_url = '' -%}
        {%- if block.settings.product_type_image != blank -%}
          {%- assign img_url = block.settings.product_type_image | img_url: 'large' -%}
        {%- else -%}
          {%- assign img_url = '' -%}
        {%- endif -%}

        {%- assign collection = collections[block.settings.product_type_collection] -%}
        {%- assign product = collection.products.first -%}
        {%- assign collection_customize = collections['customize'] -%}
        {%- assign products_by_price = collection.products | sort: 'price' -%}
        {%- assign prod_min_price = products_by_price.first.price_min -%}

        {%- assign pVariants = 0 -%}
        {%- assign tVariants = 0 -%}
        {%- assign customizer_product = false -%}
        {% comment %}
        {%- for products in collection.products -%}
            {%- comment %}<locksmith:ee7d>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: products, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:ee7d>{% endcomment -%}
            {%- for variant in products.variants -%}
              {%- comment %}<locksmith:a74c>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: products, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:a74c>{% endcomment -%}
              {%- if variant.available == true -%}
                {%- assign pVariants = pVariants | plus: 1 -%}
              {%- endif -%}
            {%- endfor -%}
            {%- if product.handle == block.settings.product_type_id -%}              
              {%- assign customizer_product = product -%}
              {% break %}
            {%- endif -%}
        {%- endfor -%}
        {%- assign tVariants = pVariants -%}
        {% endcomment %}

        {%- assign customizerUrl = collection.products.first.url | within: collection_customize -%}
        {%- assign productHandle = collection.products.first.handle -%}
        {%- if block.settings.product_type_id != blank -%}
          {% comment %} old {% endcomment %}
          {% comment %} {%- assign customizerUrl = "/collections/customize/products/" | append: block.settings.product_type_id -%} {% endcomment %}
          {% comment %} new {% endcomment %}
          {%- assign customizerUrl = "/products/" | append: block.settings.product_type_id -%}
          {%- assign productHandle = block.settings.product_type_id -%}
        {%- endif -%}

          <div class="col" {{ block.shopify_attributes }}>
            <a href="{{ customizerUrl }}?view=customizer" title="collection" data-customizer-link="{{ productHandle }}"
              data-product-url="{{ customizerUrlTemp }}">
              {%- if img_url == blank -%}
                {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
              {%- else -%}
                <img src="{{ img_url }}" class="img-responsive" alt="{{ block.settings.product_type_title }}" loading="lazy"/>
              {%- endif -%}
              {%- if block.settings.product_type_collection != blank and img_url != blank -%}
                <p>
                  <strong>{{ block.settings.product_type_title }}</strong>
                  <span>From {{ prod_min_price | money }}</span>
                </p>
              {%- endif -%}
            </a>
          </div>


      {%- when 'product_collection' -%}
        <!-- Collection -->
        {%- if block.settings.product_type_is_hidden == true -%}
          {%- continue -%}
        {%- endif -%}
        <div class="col" {{ block.shopify_attributes }}>
          {%- assign img_url = '' -%}
          {%- if block.settings.product_type_image != blank -%}
            {%- assign img_url = block.settings.product_type_image | img_url: 'large' -%}
          {%- else -%}
            {%- assign img_url = '' -%}
          {%- endif -%}
          {%- assign collection = collections[block.settings.product_type_collection] -%}
          {%- assign product = collection.products.first -%}
          {%- assign products_by_price = collection.products | sort: 'price' -%}
          {%- assign prod_min_price = products_by_price.first.price_min -%}
          {%- assign collection_customize = collections['customize'] -%}
          {%- assign customizerUrl = collection.url -%}
          {%- assign customizerProduct = all_products[block.settings.product_type_id] -%}
          {%- if customizerProduct != blank and 3 > 4 -%}
            {%- assign customizerUrl = customizerProduct.url | within: collection_customize -%}
          {%- endif -%}
          <a href="{{ customizerUrl }}" title="collection" data-customizer-link="{{ collection.products.first.handle }}">
            {%- if img_url == blank -%}
              {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
            {%- else -%}
              <img src="{{ img_url }}" class="img-responsive" alt="{{ block.settings.product_type_title }}"/>
            {%- endif -%}

            {%- if block.settings.product_type_collection != blank and img_url != blank -%}
            <p>
              <strong>{{ block.settings.product_type_title }}</strong>
              <span>32 styles available, from {{ prod_min_price | money }}</span>
            </p>
            {%- endif -%}
          </a>
        </div>

      {%- endcase -%}
    {%- endfor -%}
  </div>
  </section>
{% endif %}


{%- schema -%}
{
"name":"Customizable Group",
"class":"customizer-product-type",
"settings": [
  {
    "type": "checkbox",
    "id": "enable",
    "label": "Enable Group",
    "default": true
  },
  {
    "type": "text",
    "id": "page_title",
    "label": "Page title"
  },
  {
    "type": "text",
    "id": "page_description",
    "label": "Page descrription"
  }
],
"blocks":[
{
  "type":"product_type",
  "name":"Customizer Product",
  "settings":[
  {
    "type":"image_picker",
    "id":"product_type_image",
    "label":"Image Placeholder"
  },
  {
    "type": "product",
    "id": "product_type_id",
    "label": "Customizer Product",
    "info": "This product is used to override the item link in the customizer index."
  },
  {
    "type":"collection",
    "id":"product_type_collection",
    "label":"Product Type Collection"
  },
  {
    "type":"text",
    "id":"product_type_title",
    "label":"Product Type Custom Title"
  },
  {
    "type":"checkbox",
    "id":"product_type_is_hidden",
    "label":"Hide this product type",
    "default": false
  }
  ]
},
{
  "type":"product_collection",
  "name":"Product Collection",
  "settings":[
  {
    "type":"image_picker",
    "id":"product_type_image",
    "label":"Image Placeholder"
  },
  {
    "type":"collection",
    "id":"product_type_collection",
    "label":"Collection"
  },
  {
    "type": "product",
    "id": "product_type_id",
    "label": "Product"
  },
  {
    "type":"text",
    "id":"product_type_title",
    "label":"Item Custom Title"
  },
  {
    "type":"checkbox",
    "id":"product_type_is_hidden",
    "label":"Hide this collection",
    "default": false
  }
  ]
},
{
  "type":"section_title",
  "name":"Section Title",
  "settings":[
  {
    "type":"text",
    "id":"section_name",
    "label":"Section Title"
  },
  {
    "type":"textarea",
    "id":"section_description",
    "label":"Section Description"
  },
  {
    "type":"checkbox",
    "id":"section_is_hidden",
    "label":"Hide this section title",
    "default": false
  }
  ]
}
]
}
{%- endschema -%}
