
<div class="email-location-form">
    <div class="email-location-form__image">
        <img src="{{section.settings.image | img_url: "master"}}">
    </div>
    <div class="email-location-form__klaviyo-form">
        {{section.settings.klaviyo_form}}
    </div>
</div>


{% schema %}
{
  "name": "Email Location Form",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "klaviyo_form",
        "label": "Klaviyo Form Embed Code"
    }
  ],
  "presets": [
    {
      "name": "Email Location Form"
    }
  ]
}
{% endschema %}
