<div class="events" data-section-type="events" data-section-id="{{ section.id }}">
  {% if section.settings.title != blank %}
    <h2 class="events__title">{{ section.settings.title }}</h2>
  {% endif %}
  <div class="events__list swiper">
    <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="event swiper-slide" {{ block.shopify_attributes }}>
        <a href="{{ block.settings.url }}"  class="event__image-holder">
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: '500x' }}" 
                 srcset="{{ block.settings.image | img_url: '500x' }}1x, {{ block.settings.image | img_url: '500x', scale: 2 }}2x"
                 alt="{{ block.settings.image.alt }}"
                 width="{{ block.settings.image.width }}"
                 height="{{ block.settings.image.height }}"
                 class="location__image"> 
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag }}
          {% endif %}
        </a>
        <div class="event__content">
          {% if block.settings.title != blank %}
            <a href="{{ block.settings.url }}" class="event__title">
              {{ block.settings.title }}
              <svg width="25" height="23" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.853 11.417a1 1 0 0 1 1-1h14.345c-3.04-1.978-5.05-5.246-5.05-9a1 1 0 1 1 2 0c0 4.886 4.33 8.989 9.86 9h.021a.996.996 0 0 1 .75.337 1 1 0 0 1-.749 1.663h-.023c-5.528.01-9.86 4.114-9.86 9a1 1 0 1 1-2 0c0-3.755 2.011-7.023 5.051-9H1.853a1 1 0 0 1-1-1Z" fill="#2C272D"/></svg>
            </a>
          {% endif %}
          {% if block.settings.location != blank %}
            <div class="event__location">
              <svg width="15" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 10.133a2.633 2.633 0 1 0 0-5.266 2.633 2.633 0 0 0 0 5.266Zm0 .867a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z" fill="#2C272D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.646 5.57a7.627 7.627 0 0 0-1.485-2.446 6.75 6.75 0 0 0-2.19-1.612 6.152 6.152 0 0 0-2.555-.56c-.874 0-1.741.19-2.555.56a6.751 6.751 0 0 0-2.19 1.612 7.628 7.628 0 0 0-1.484 2.445c-.596 1.58.006 3.416 1.156 5.135l5.073 7.583 5.073-7.583c1.15-1.72 1.752-3.554 1.157-5.135Zm-.366 5.663c1.202-1.796 2.019-3.977 1.257-6a8.58 8.58 0 0 0-1.67-2.75A7.703 7.703 0 0 0 10.365.645 7.104 7.104 0 0 0 7.416 0c-1.012 0-2.014.22-2.95.645a7.703 7.703 0 0 0-2.5 1.838 8.58 8.58 0 0 0-1.67 2.75c-.762 2.023.054 4.204 1.256 6L7.416 20l5.864-8.767Z" fill="#2C272D"/></svg>
              <div class="event__location-text">{{ block.settings.location }}</div>
            </div>
          {% endif %}
          {% if block.settings.data != blank %}
            <div class="event__data">
              {{ block.settings.data }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="events-button-prev">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.78 25.0402C12.7795 25.0268 12.7792 25.0134 12.7792 24.9999C12.7792 24.4476 13.2269 23.9999 13.7792 23.9999C19.5274 23.9999 24.1626 19.4104 24.1626 13.7792C24.1626 13.2269 24.6103 12.7792 25.1626 12.7792C25.7149 12.7792 26.1626 13.2269 26.1626 13.7792C26.1626 18.0601 23.9356 21.8182 20.5697 23.9999L36.2208 23.9999C36.7731 23.9999 37.2208 24.4476 37.2208 24.9999C37.2208 25.5522 36.7731 25.9999 36.2208 25.9999L20.5697 25.9999C23.9356 28.1817 26.1626 31.9398 26.1626 36.2207C26.1626 36.773 25.7149 37.2207 25.1626 37.2207C24.6103 37.2207 24.1626 36.773 24.1626 36.2207C24.1626 30.5895 19.5274 26 13.7792 26C13.2404 26 12.8011 25.5738 12.78 25.0402Z" fill="black"/>
      </svg> 
    </div>
    <div class="events-button-next">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.22 24.9598C37.2206 24.9732 37.2208 24.9866 37.2208 25.0001C37.2208 25.5524 36.7731 26.0001 36.2208 26.0001C30.4726 26.0001 25.8374 30.5896 25.8374 36.2208C25.8374 36.7731 25.3897 37.2208 24.8374 37.2208C24.2851 37.2208 23.8374 36.7731 23.8374 36.2208C23.8374 31.9399 26.0645 28.1818 29.4304 26.0001L13.7793 26.0001C13.227 26.0001 12.7793 25.5524 12.7793 25.0001C12.7793 24.4478 13.227 24.0001 13.7793 24.0001L29.4304 24.0001C26.0645 21.8183 23.8374 18.0602 23.8374 13.7793C23.8374 13.227 24.2852 12.7793 24.8374 12.7793C25.3897 12.7793 25.8374 13.227 25.8374 13.7793C25.8374 19.4105 30.4726 24 36.2208 24C36.7596 24 37.1989 24.4262 37.22 24.9598Z" fill="black"/>
      </svg> 
    </div>
  </div>
</div> 

{% schema %}
{
  "name": "t:sections.events.name",
  "class": "section--whole events-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.events.settings.title.label",
      "default": "Upcoming Events"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.events.blocks.name",
      "type": "event",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.events.blocks.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.events.blocks.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "location",
          "label": "t:sections.events.blocks.settings.location.label"
        },
        {
          "type": "textarea",
          "id": "data",
          "label": "t:sections.events.blocks.settings.data.label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:sections.events.blocks.settings.url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Events",
      "category": "Section"
    }
  ]
}
{% endschema %}