
<div id="faq-section-{{ section.id }}" class="faq-section" data-section-type="faq-section" data-section-id="{{ section.id }}">
  <div class="faq-section__container">
    <h2 class="faq-section_title scl_title">{{ section.settings.title | escape }}</h2>
        <div class="faq-section_list">
          {% for block in section.blocks %}
            <div class="faq-section_item {%if forloop.index == 1 %} faq-section_item_active {% endif %}">
              <div class="faq-section_item_title">{{ block.settings.fq_title }} 
                <span class="faq-section_item_icon">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12L19 12" stroke="#2C272D" stroke-width="2"/>
                    <path d="M12 5L12 19" stroke="#2C272D" stroke-width="2"/>
                  </svg>                    
                </span>
              </div>
              <div class="faq-section_item_answer">
                <div class="faq-section_item_answer_content">
                  {{ block.settings.fq_answer }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
  </div>
</div>

{% schema %}
{
  "name": "Faq section",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page title"
    }
  ],
  "blocks": [
  {
    "name": "Slide",
    "type": "slide",
    "settings": [
      {
        "type": "text",
        "id": "fq_title",
        "label": "Question"
      },
      {
        "type": "text",
        "id": "fq_answer",
        "label": "Answer"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Faq section"
    }
  ]
}
{% endschema %}

