
<div id="gif-{{ section.id }}" class="gif__container">
  <div class="gif__box_medium">
    <div class="gif__content">
      <h2 class="video__title">{{ section.settings.heading_title | escape }}
        {%- if section.settings.button_label_1 != blank -%}
          <br>{{ section.settings.heading_title1 | escape }}</h2>
        {%- endif -%}
      <p class="gif__text">{{ section.settings.section_text | escape }}</p>
      {%- if section.settings.button_label_1 != blank -%}
        <a{% if section.settings.button_link_1 != blank %} href="{{ section.settings.button_link_1 }}"{% endif %} class="gif_button scl__button scl__button_primary">{{ section.settings.button_label_1 | escape }}</a>
      {%- endif -%}
    </div>
  </div>
  <div class="gif__box_large">
    <video class="gif__player" autoplay muted loop playsinline>
      <source src={{section.settings.video_url}}
            type="video/mp4">
    </video>
  </div>

</div>

{% schema %}
{
  "name": "Gif section",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "id": "video_url",
      "type": "text",
      "label": "Video URL for Desktop"
      },
    {
      "type": "text",
      "id": "button_label_1",
      "default": "Button label",
      "label": "button first name",
      "info": "button first name"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "button first link"
    },
    {
      "type": "text",
      "id": "heading_title",
      "default": "Heading title",
      "label": "Heading title",
      "info": "Heading title first line"
    },
    {
      "type": "text",
      "id": "heading_title1",
      "default": "Heading title",
      "label": "Heading title",
      "info": "Heading title second line"
    },
    {
      "type": "text",
      "id": "section_text",
      "default": "Section text",
      "label": "Section text"
    }
  ],
  "presets": [
    {
      "name": "Gif section"
    }
  ]
}
{% endschema %}

