<div class="tabs__section" data-section-type="tabs-section" data-section-id="{{ section.id }}">

  <h3 class="tabs__section_title shop__categories_center">{{section.settings.title}}</h3>

  {%- if section.blocks.size > 0 -%}
    {% assign tabsGroup = section.settings.tabs | split: "," %}

    <div class="tabs__section_group">
      {% for tab in tabsGroup %}
        <a href="tab_{{forloop.index}}" class="tabs__section_btn {%if forloop.index == 1%} active {%endif%}">{{ tab }}</a>
      {%endfor%}
    </div>

    <div class="tabs__section_tab_box">
      {% for tab in tabsGroup %}
        <div class="tabs__section_tab tab_{{forloop.index}} {%if forloop.index == 1%} active {%endif%}">
            {%for block in section.blocks %}
                {%if tab == block.settings.slide_label%} 
                  {%- render 'gift-carousel-items', section: block -%}
                {%endif%}
            {% endfor %}
        </div>
      {%endfor%}
    </div>
  {%- else -%}
    {%- render 'gift-carousel-items', section: section -%}
  {%- endif -%}

  {% if section.settings.cta_link != blank and section.settings.cta_text != blank %}
    <div class="custom-cta">
      <a href="{{ section.settings.cta_link }}" class="custom-cta__btn button">{{ section.settings.cta_text }}</a>
    </div>
  {% endif %}

</div>

<style>
  .swym-button.swym-add-to-wishlist-view-product:after {
    content: '' !important;
    background-image: url("{{ 'heart-empty.svg' | asset_url }}") !important;
    background-size: 100% !important;
    height: 27px !important;
    width: 27px !important;
  }

  .swym-button.swym-add-to-wishlist-view-product.disabled:after {
    content: '' !important;
    background-image: url("{{ 'heart-full.svg' | asset_url }}") !important;
    background-size: 100% !important;
    height: 27px !important;
    width: 27px !important;
  }
  .custom-cta {
    text-align: center;
  }
  .gift-carousel {
    position: relative;
    z-index: 2;
  }
  .like-dropdownVariations img {
  	object-fit: cover;
  	scale: 2;
  }
  .like-variations .like-dropdownVariations.disabled::before {
  	content: "";
  	display: block;
  	width: 100%;
  	position: absolute;
  	left: 33%;
  	top: 83%;
  	height: 1px;
  	background: red;
  	transform: rotate(45deg) translate(-50%,-50%);
  }
  .like-variations .like-dropdownVariations.disabled::after {
  	content: "";
  	display: block;
  	width: 100%;
  	position: absolute;
  	left: 33%;
  	top: 83%;
  	height: 1px;
  	background: red;
  	transform: rotate(45deg) translate(-50%, -50%);
  } 
  @media screen and (min-width: 768px) {
    .hero-text-image__image-holder picture {
      padding-top: 72%;
    }
  }
</style>

{% schema %}
{
  "name": "Collection Carousel",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width gift-carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "collection",
      "id": "collection_handle",
      "label": "Simple Collection",
      "info": "This collection will be used if no collection is selected in the block settings."
    },
    {
      "type": "text",
      "id": "tabs",
      "label": "List of tabs",
      "info": "Separate tabs with commas"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA link"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "slide_label",
          "label": "slide tab group"
        },
        {
          "type": "collection",
          "id": "collection_handle",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Carousel"
    }
  ]
}
{% endschema %}
