<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search">
  <path d="M11.6827 20.4868C16.3458 20.4868 20.126 16.7065 20.126 12.0434C20.126 7.38021 16.3458 3.59998 11.6827 3.59998C7.01949 3.59998 3.23926 7.38021 3.23926 12.0434C3.23926 16.7065 7.01949 20.4868 11.6827 20.4868Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
  <path d="M25.7651 24.7923L20.2173 19.2446C19.7009 18.7281 18.8636 18.7281 18.3471 19.2446L18.3449 19.2468C17.8284 19.7633 17.8284 20.6006 18.3449 21.1171L23.8926 26.6648C24.4091 27.1813 25.2464 27.1813 25.7629 26.6648L25.7651 26.6626C26.2816 26.1461 26.2816 25.3088 25.7651 24.7923Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
  <path d="M17.5122 18.376L18.361 19.2248" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
  </symbol>
</svg>

<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient {% if section.settings.enable_sticky_header %}sticky-header-enabled{% else %}not-enabled{% endif %}">
  <header class="header header--middle-left page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}"> 
    <!-- comment collection dropdown menu -->
    {%- comment %}<locksmith:cdbb>{% endcomment -%}
      {%- assign locksmith_ba37_forloop__size = 0 %}{% for link in section.settings.menu.links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: section.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_ba37_forloop__size = locksmith_ba37_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_ba37_forloop__index = nil -%}
    {%- comment %}</locksmith:cdbb>{% endcomment -%}
    {% for link in section.settings.menu.links %}
        {%- comment %}<locksmith:00ff>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: section.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_ba37_forloop__index == nil %}{% assign locksmith_ba37_forloop__index = 1 %}{% assign locksmith_ba37_forloop__index0 = 0 %}{% else %}{% assign locksmith_ba37_forloop__index = locksmith_ba37_forloop__index | plus: 1 %}{% assign locksmith_ba37_forloop__index0 = locksmith_ba37_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_ba37_forloop__index == 1 %}{% assign locksmith_ba37_forloop__first = true %}{% else %}{% assign locksmith_ba37_forloop__first = false %}{% endif %}{% if locksmith_ba37_forloop__index == locksmith_ba37_forloop__size %}{% assign locksmith_ba37_forloop__last = true %}{% else %}{% assign locksmith_ba37_forloop__last = false %}{% endif %}{% assign locksmith_ba37_forloop__rindex = locksmith_ba37_forloop__size | minus: locksmith_ba37_forloop__index | minus: 1 %}{% assign locksmith_ba37_forloop__rindex0 = locksmith_ba37_forloop__size | minus: locksmith_ba37_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:00ff>{% endcomment -%}
        <div class="columns header__submenu list-menu--disclosure caption-large motion-reduce collection-dropdown {{link.title | replace : ' ', '_' | remove : '&'}}">
          {% assign SingleCollection = link.object %}
          {% assign SingleCollectionHandle = link.object.handle %}
          {% assign variationCounter = 0 %}
          <!-- "randomize the products" --> 
          {% assign index = 'now' | date: '%S' %}
          
          {% assign index = index | times: collections[SingleCollectionHandle].products.size %}
          
          {% assign index = index | divided_by: 120 %}

          {% assign hasSubNavBlock = false %}
          
          <!-- "randomize the products" -->

          <!-- check if link has the child links? TO DO-->
          <div class="navColumn collection-links-wrapper"> 
              {%- for childlink in link.links -%}
                {%- comment %}<locksmith:17bb>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:17bb>{% endcomment -%}
                <p class="sidebarLinks"><a class="text-body-1" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></p>
              {% endfor %}
          </div>
          <div class="collection-tiles-wrapper">
            {% for block in section.blocks %}
              {% if block.settings.nav_item_title == link.title %}
                {% assign hasSubNavBlock = true %}
                {% for i in (1..3) %}
                  {% capture image_src %}image_{{ i }}{% endcapture %}
                  {% capture image_heading %}image_{{ i }}_heading{% endcapture %}
                  {% capture image_url %}image_{{ i }}_url{% endcapture %}
                  {% if block.settings[image_src] != blank %}
                    <div class="navOtherColumns product--filled-background test" data-product-variations="product-variations">
                      <a href="{{ block.settings[image_url] }}">
                        <div class="img-wrapper">
                          <img src="{{ block.settings[image_src] | img_url: '600x600'}}" alt="{{ block.settings[image_heading] | escape }}" class="featured__image" loading="lazy">
                        </div>
                      </a>
                      <div class="collectionDropdownTitle">
                        <h6 class="dropdownTitle"><a href="{{ block.settings[image_url] }}">{{ block.settings[image_heading] }}</a></h6>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            {%- comment %}<locksmith:2d6b>{% endcomment -%}
              {%- assign locksmith_b005_forloop__size = 0 %}{% for product in collections[SingleCollectionHandle].products limit: 3 offset:index %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[SingleCollectionHandle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_b005_forloop__size = locksmith_b005_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_b005_forloop__index = nil -%}
            {%- comment %}</locksmith:2d6b>{% endcomment -%}
            {% for product in collections[SingleCollectionHandle].products limit: 3 offset:index %}
              {%- comment %}<locksmith:dd63>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[SingleCollectionHandle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_b005_forloop__index == nil %}{% assign locksmith_b005_forloop__index = 1 %}{% assign locksmith_b005_forloop__index0 = 0 %}{% else %}{% assign locksmith_b005_forloop__index = locksmith_b005_forloop__index | plus: 1 %}{% assign locksmith_b005_forloop__index0 = locksmith_b005_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_b005_forloop__index == 1 %}{% assign locksmith_b005_forloop__first = true %}{% else %}{% assign locksmith_b005_forloop__first = false %}{% endif %}{% if locksmith_b005_forloop__index == locksmith_b005_forloop__size %}{% assign locksmith_b005_forloop__last = true %}{% else %}{% assign locksmith_b005_forloop__last = false %}{% endif %}{% assign locksmith_b005_forloop__rindex = locksmith_b005_forloop__size | minus: locksmith_b005_forloop__index | minus: 1 %}{% assign locksmith_b005_forloop__rindex0 = locksmith_b005_forloop__size | minus: locksmith_b005_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:dd63>{% endcomment -%}
              {% for tag in product.tags %}
                {% if tag == 'All Patches' or tag == "CATEGORY_Patches" %}
                  {% assign patchClass = "patch-product" %}
                  {% break %}
                {% else %}
                  {% assign patchClass = '' %}
                {% endif %}  
              {% endfor %}

              {% unless hasSubNavBlock %}
                <div class="navOtherColumns {{ patchClass }} test" data-product-variations="product-variations">
                  <a href="{{product.url}}">
                  <div class="img-wrapper">
                    <img src="{{ product.featured_image | img_url: '600x600'}}" alt="{{ product.featured_image.alt | escape }}" class="featured__image" loading="lazy">
                  </div>
                  </a>
                  {% assign linkTitle = link.title | downcase %}
                  <div class="collectionDropdownTitle">
                    <h6 class="dropdownTitle"><a href="{{product.url}}">{{product.title}}</a></h6>
                    {% unless linkTitle == 'collections' or linkTitle == 'collaborations' %}
                    <p class="dropdownPrice">{{ product.price | money }}</p>
                    {% endunless %}
                  </div>
                  {% unless linkTitle == 'collections' or linkTitle == 'collaborations' %}
                  <div class="variationsContainer">
                    {% assign DesktopFlag = 1 %}
                    {% assign DesktopLoadMoreFlag = 1 %}
                    {% for variant in product.variants %}
                      {% if variant.metafields.general.swatch_image != blank %}
                        {% if forloop.index <= 9 %}
                          {% if DesktopFlag <= 1 %}
                            <ul id="ImageContainer" class="hide">
                              {% for image in product.images %}
                                {% for variant in image.variants %}
                                  <li class="thumb">
                                    <img class="variant-image-{{variant.id}}" src="{{ image.src | product_img_url: '600x600' }}" alt="{{ image.alt | escape }}" data-variation-image="variation-image-{{variant.id}}"/>
                                  </li>
                                {% endfor %}
                              {% endfor %}
                              {% assign DesktopFlag = DesktopFlag | plus:1 %}
                            </ul>
                          {% endif %}
                          {% for variant_image in variant.metafields.general.swatch_image %}
                            <div class="swatchWrapper"><img id="{{variant_image['scope']}}" class="dropdownVariations" src="{{variant_image['src']}}" data-swatch-image="{{variant_image['scope']}}" loading="lazy" ></div>
                          {% endfor %}
                        {% else %}
                          {% if DesktopLoadMoreFlag <= 1 %}
                            <ul id="ImageContainer" class="hide">
                              {% for image in product.images %}
                                {% for variant in image.variants %}
                                  <li class="thumb">
                                    <img class="variant-image-{{variant.id}}" src="{{ image.src | product_img_url: '600x600' }}" alt="{{ image.alt | escape }}" data-variation-image="variation-image-{{variant.id}}" />
                                  </li>
                                {% endfor %}
                              {% endfor %}
                              {% assign DesktopLoadMoreFlag = DesktopLoadMoreFlag | plus:1 %}
                            </ul>
                          {% endif %}
                            {% for variant_image in variant.metafields.general.swatch_image %}
                              <div class="swatchWrapper loadMore"><img id="{{variant_image['scope']}}" class="dropdownVariations " src="{{variant_image['src']}}" data-swatch-image="{{variant_image['scope']}}" loading="lazy" ></div>
                            {% endfor %}
                            {% if forloop.last == true %}
                                <span class="showMore">+{{ forloop.index | minus: 9 }}</span>
                            {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                </div>
                {% endunless %}
                </div>
              {% endunless %}
            <!-- collection info -->
            {%- endfor -%}
          </div>
        </div>
    {% endfor %}
  <!-- comment collection dropdown menu -->

    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet" class="mobile-menu">
        <details class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">

              <div class="header__search">
                <div class="mobile-nav-header">
                  <div class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle mobile-search-toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                  </div>
                  <button class="close">{% render 'icon-close' %}</button>
                </div>

                <div class="mobile-search search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                    <div class="modal-overlay"></div>
                    <div class="search-modal__content" tabindex="-1">
                      {%- if settings.predictive_search_enabled -%}
                        <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                      {%- endif -%} 
                        <!-- SS form -->
                        {% if settings.ss_enable %}
                          <form action="/collections/{{ settings.ss_collection_handle }}" method="get" role="search" class="search search-modal__form">
                            <div class="field">
                              <input class="search__input field__input" 
                                id="Search-In-Modal"
                                type="search"
                                name="q"
                                value=""
                                placeholder="{{ 'general.search.search' | t }}"
                              >
                              <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                              <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                                <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.68241 18.4868C14.3456 18.4868 18.1258 14.7065 18.1258 10.0434C18.1258 5.38021 14.3456 1.59998 9.68241 1.59998C5.01925 1.59998 1.23901 5.38021 1.23901 10.0434C1.23901 14.7065 5.01925 18.4868 9.68241 18.4868Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                                <path d="M23.7646 22.7923L18.2169 17.2446C17.7004 16.7281 16.8631 16.7281 16.3466 17.2446L16.3444 17.2468C15.8279 17.7633 15.8279 18.6006 16.3444 19.1171L21.8921 24.6648C22.4086 25.1813 23.2459 25.1813 23.7624 24.6648L23.7646 24.6626C24.2811 24.1461 24.2811 23.3088 23.7646 22.7923Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                                <path d="M15.512 16.376L16.3608 17.2248" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                                </svg>

                              </button> 
                            </div>
                          </form>
                        {% else %}
                        <!-- Default form -->
                          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                            <div class="field">
                              <input class="search__input field__input" 
                                id="Search-In-Modal"
                                type="search"
                                name="q"
                                value=""
                                placeholder="{{ 'general.search.search' | t }}"
                                {%- if settings.predictive_search_enabled -%}
                                  role="combobox"
                                  aria-expanded="false"
                                  aria-owns="predictive-search-results-list"
                                  aria-controls="predictive-search-results-list"
                                  aria-haspopup="listbox"
                                  aria-autocomplete="list"
                                  autocorrect="off"
                                  autocomplete="off"
                                  autocapitalize="off"
                                  spellcheck="false" 
                                {%- endif -%}
                              >
                              <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                              <input type="hidden" name="options[prefix]" value="last">
                              <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                                <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.68241 18.4868C14.3456 18.4868 18.1258 14.7065 18.1258 10.0434C18.1258 5.38021 14.3456 1.59998 9.68241 1.59998C5.01925 1.59998 1.23901 5.38021 1.23901 10.0434C1.23901 14.7065 5.01925 18.4868 9.68241 18.4868Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                                <path d="M23.7646 22.7923L18.2169 17.2446C17.7004 16.7281 16.8631 16.7281 16.3466 17.2446L16.3444 17.2468C15.8279 17.7633 15.8279 18.6006 16.3444 19.1171L21.8921 24.6648C22.4086 25.1813 23.2459 25.1813 23.7624 24.6648L23.7646 24.6626C24.2811 24.1461 24.2811 23.3088 23.7646 22.7923Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                                <path d="M15.512 16.376L16.3608 17.2248" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                                </svg>

                              </button> 
                            </div>
                            
                            {%- if settings.predictive_search_enabled -%}
                              <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                                <div class="predictive-search__loading-state">
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </div>
                              </div>
                              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                            {%- endif -%}
                          </form>

                        {% endif %}
                      {%- if settings.predictive_search_enabled -%}
                        </predictive-search>
                      {%- endif -%}
                      <div type="button" class="search-close" aria-label="{{ 'accessibility.close' | t }}">
                        {% render 'icon-close' %}
                      </div>
                    </div>
                  </div> 

                
                
              
              </div>

              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                    {%- comment %}<locksmith:d10b>{% endcomment -%}
                      {%- assign locksmith_bea5_forloop__size = 0 %}{%- for link in section.settings.menu.links -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: section.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_bea5_forloop__size = locksmith_bea5_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_bea5_forloop__index = nil -%}
                    {%- comment %}</locksmith:d10b>{% endcomment -%}
                    {%- for link in section.settings.menu.links -%}
                      {%- comment %}<locksmith:2819>{% endcomment -%}
                        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: section.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_bea5_forloop__index == nil %}{% assign locksmith_bea5_forloop__index = 1 %}{% assign locksmith_bea5_forloop__index0 = 0 %}{% else %}{% assign locksmith_bea5_forloop__index = locksmith_bea5_forloop__index | plus: 1 %}{% assign locksmith_bea5_forloop__index0 = locksmith_bea5_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_bea5_forloop__index == 1 %}{% assign locksmith_bea5_forloop__first = true %}{% else %}{% assign locksmith_bea5_forloop__first = false %}{% endif %}{% if locksmith_bea5_forloop__index == locksmith_bea5_forloop__size %}{% assign locksmith_bea5_forloop__last = true %}{% else %}{% assign locksmith_bea5_forloop__last = false %}{% endif %}{% assign locksmith_bea5_forloop__rindex = locksmith_bea5_forloop__size | minus: locksmith_bea5_forloop__index | minus: 1 %}{% assign locksmith_bea5_forloop__rindex0 = locksmith_bea5_forloop__size | minus: locksmith_bea5_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                      {%- comment %}</locksmith:2819>{% endcomment -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details>
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}{% if locksmith_bea5_forloop__index == 1 %} first-link {% endif %}">
                              {{ link.title | escape }}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                  {%- assign image_url = link.object.metafields.global.mobile_nav_header_image[0].src -%}
                                <div class="menu-drawer__background-image">
                                  {% if image_url %}
                                    <img src="{{image_url}}" alt="{{ link.title | escape }}"/>
                                  {% endif %}
                                  <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                    {% render 'icon-arrow' %}
                                    <span class="mobileMenuCollectionTitle">{{ link.title | escape }}</span>

                                  </button>
                                </div>
                                <ul class="menu-drawer__menu list-menu mobile-submenu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    {%- comment %}<locksmith:3e10>{% endcomment -%}
                                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                    {%- comment %}</locksmith:3e10>{% endcomment -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="text-h6 link link--text innerMenu list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>

                                        
                                      {%- else -%}
                                        <details>
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            <span class="mobileMenuCollectionTitle" >{{ childlink.title | escape }}</span>
                                            {% render 'icon-arrow' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                {%- comment %}<locksmith:1335>{% endcomment -%}
                                                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, subject_parent: childlink, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                                {%- comment %}</locksmith:1335>{% endcomment -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                               <!-- mobile menu -->
                               <div class="columns header__submenu list-menu--disclosure caption-large motion-reduce collection-dropdown {{link.title}} mobileCollectionSlider">
                                {% assign SingleCollection = link.object %}
                                {% assign SingleCollectionHandle = link.object.handle %}
                                {% assign variationCounter = 0 %}
                                <!-- "randomize the products" -->
                                {% assign index = 'now' | date: '%S' %}
                                {% assign index = index | times: collections[SingleCollectionHandle].products.size %}
                                {% assign index = index | divided_by: 60 %}
                                <!-- "randomize the products" -->
                                
                                <!-- check if link has the child links? TO DO-->
                                <div class="navColumn dropdown-links"> 
                                    {%- for childlink in link.links -%}
                                      {%- comment %}<locksmith:a0cf>{% endcomment -%}
                                        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                                      {%- comment %}</locksmith:a0cf>{% endcomment -%}
                                      <p class="sidebarLinks"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></p>
                                    {% endfor %}
                                </div>
                                {% for block in section.blocks %}
                                  {% if block.settings.nav_item_title == link.title %}
                                    {% assign hasSubNavBlock = true %}
                                    {% for i in (1..3) %}
                                      {% capture image_src %}image_{{ i }}{% endcapture %}
                                      {% capture image_heading %}image_{{ i }}_heading{% endcapture %}
                                      {% capture image_url %}image_{{ i }}_url{% endcapture %}
                                      {% if block.settings[image_src] != blank %}
                                        <div class="navOtherColumns product--filled-background" data-product-variations="product-variations">
                                          <a href="{{ block.settings[image_url] }}">
                                            <div class="img-wrapper">
                                              <img src="{{ block.settings[image_src] | img_url: '600x600'}}" alt="{{ block.settings[image_heading] | escape }}" class="featured__image block-img" loading="lazy">
                                            </div>
                                          </a>
                                          <div class="collectionDropdownTitle">
                                            <h6 class="dropdownTitle"><a href="{{ block.settings[image_url] }}">{{ block.settings[image_heading] }}</a></h6>
                                          </div>
                                        </div>
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                                
                                {%- comment %}<locksmith:eb66>{% endcomment -%}
                                  {%- assign locksmith_717a_forloop__size = 0 %}{% for product in collections[SingleCollectionHandle].products limit: 3 offset:index %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[SingleCollectionHandle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_717a_forloop__size = locksmith_717a_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_717a_forloop__index = nil -%}
                                {%- comment %}</locksmith:eb66>{% endcomment -%}
                                {% for product in collections[SingleCollectionHandle].products limit: 3 offset:index %}

                                  {%- comment %}<locksmith:2bd7>{% endcomment -%}
                                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[SingleCollectionHandle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_717a_forloop__index == nil %}{% assign locksmith_717a_forloop__index = 1 %}{% assign locksmith_717a_forloop__index0 = 0 %}{% else %}{% assign locksmith_717a_forloop__index = locksmith_717a_forloop__index | plus: 1 %}{% assign locksmith_717a_forloop__index0 = locksmith_717a_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_717a_forloop__index == 1 %}{% assign locksmith_717a_forloop__first = true %}{% else %}{% assign locksmith_717a_forloop__first = false %}{% endif %}{% if locksmith_717a_forloop__index == locksmith_717a_forloop__size %}{% assign locksmith_717a_forloop__last = true %}{% else %}{% assign locksmith_717a_forloop__last = false %}{% endif %}{% assign locksmith_717a_forloop__rindex = locksmith_717a_forloop__size | minus: locksmith_717a_forloop__index | minus: 1 %}{% assign locksmith_717a_forloop__rindex0 = locksmith_717a_forloop__size | minus: locksmith_717a_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                                  {%- comment %}</locksmith:2bd7>{% endcomment -%}

                                  {% for tag in product.tags %}
                                    {% if tag == 'All Patches' or tag == "CATEGORY_Patches" %}
                                      {% assign patchClass = "patch-product" %}
                                      {% break %}
                                    {% else %}
                                      {% assign patchClass = '' %}
                                    {% endif %}  
                                  {% endfor %}

                                  {% unless hasSubNavBlock %}
                                    <div class="navOtherColumns {{ patchClass }}" data-product-variations="product-variations">
                                      <a href="{{product.url}}">
                                        <div class="img-wrapper">
                                          <img src="{{ product.featured_image | img_url: '600x600'}}" alt="{{ product.featured_image.alt | escape }}" class="featured__image" loading="lazy">
                                        </div>
                                      </a>
                                      <div class="collectionDropdownTitle">
                                        <h6 class="dropdownTitle"><a href="{{product.url}}">{{product.title}}</a></h6>
                                        <p class="dropdownPrice">{{ product.price | money }}</p>
                                      </div>
                                      <div class="variationsContainer">
                                        {% assign MobileFlag = 1 %}
                                        {% assign MobileLoadMoreFlag = 1 %}
                                        {% for variant in product.variants %}
                                          {% if variant.metafields.general.swatch_image != blank %}
                                            {% if forloop.index <= 5 %}
                                              {% if MobileFlag <= 1 %}
                                                <ul id="ImageContainer" class="hide">
                                                  {% for image in product.images %}
                                                    {% for variant in image.variants %}
                                                      <!-- {{ image.src }} - used for the variant: {{ variant.title }} -->
                                                      <li class="thumb">
                                                        <img class="variant-image-{{variant.id}}" src="{{ image.src | product_img_url: '600x600' }}" alt="{{ image.alt | escape }}" data-variation-image="variation-image-{{variant.id}}" />
                                                      </li>
                                                    {% endfor %}
                                                  {% endfor %}
                                                  {% assign MobileFlag = MobileFlag | plus:1 %}
                                                </ul>
                                                {% endif %}
                                              {% for variant_image in variant.metafields.general.swatch_image %}
                                                <div class="swatchWrapper"><img id="{{variant_image['scope']}}" class="dropdownVariations" src="{{variant_image['src']}}" data-swatch-image="{{variant_image['scope']}}" loading="lazy" ></div>
                                              {% endfor %}
                                            {% else %}
                                              {% comment %} {% if MobileLoadMoreFlag <= 1 %}
                                                <ul id="ImageContainer" class="hide">
                                                  {% for image in product.images %}
                                                    {% for variant in image.variants %}
                                                      <!-- {{ image.src }} - used for the variant: {{ variant.title }} -->
                                                      <li class="thumb">
                                                        <img class="variant-image-{{variant.id}}" src="{{ image.src | product_img_url: '600x600' }}" alt="{{ image.alt | escape }}" />
                                                      </li>
                                                    {% endfor %}
                                                  {% endfor %}
                                                </ul>
                                                {% assign MobileLoadMoreFlag = MobileLoadMoreFlag | plus:1 %}
                                              {% endif %} {% endcomment %}
                                              {% comment %} {% for variant_image in variant.metafields.general.swatch_image %}
                                                <div class="swatchWrapper"><img id="{{variant_image['scope']}}" class="dropdownVariations loadMore" src="{{variant_image['src']}}" data-swatch-image="{{variant_image['scope']}}" loading="lazy" ></div>
                                              {% endfor %}
                                              {% if forloop.last == true %}
                                                <a href="{{product.url}}" class="mobileShowMore"><span>+{{ forloop.index | minus: 5 }}</span></a>
                                              {% endif %} {% endcomment %}
                                            {% endif %}
                                          {% endif %}
                                        {% endfor %}
                                      </div>
                                    </div>
                                  {% endunless %}
                              <!-- collection info -->
                                {%- endfor -%}
                            </div>

                              <!-- mobile menu -->
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %} {% if locksmith_bea5_forloop__index == 1 %} first-link {% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="link focus-inset h5 menu-drawer-item">
                      {% render 'icon-account-mobile' %}
                        {%- if customer -%}
                        <p class="menuDrawerText"> {{'customer.account_fallback' | t}} </p> 
                        {% else %}
                        <p class="menuDrawerText"> {{'customer.log_in' | t}} </p>
                        {% endif %}
                    </a>
                  {%- endif -%}
                  <a href="/pages/wishlist-1" class="link focus-inset h5 menu-drawer-item">
                    {% render 'icon-heart-thin' %}
                      <p class="menuDrawerText">Wishlist</p> 
                  </a>
                  <a href="/pages/locations" class="link focus-inset h5 menu-drawer-item">
                    {% render 'icon-stores' %}
                      <p class="menuDrawerText">Stores</p> 
                  </a>
                  {% comment %} <a href="" class="link focus-inset h5 menu-drawer-item">
                    {% render 'icon-community' %}
                      <p class="menuDrawerText">Community</p> 
                  </a> {% endcomment %}
                  <a href="/pages/about-us" class="link focus-inset h5 menu-drawer-item">
                    {% render 'icon-about-us' %}
                      <p class="menuDrawerText">About Us</p> 
                  </a>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if request.page_type == 'index' -%}
      <h1 class="header__heading">
    {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
    {%- if request.page_type == 'index' -%}
      </h1>
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
            {%- comment %}<locksmith:141a>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: section.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:141a>{% endcomment -%}
            <li>
              {%- if link.links != blank -%}
                {% comment %} <span class="header__navbar-item {{ link.title | replace: '&', '' | replace: ' ', '_' }}" >{{ link.title | escape }}</span> {% endcomment %}
                <a href="{{ link.url }}" class="link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                  <span class="header__navbar-item {{ link.title | replace: '&', '' | replace: ' ', '_' }}" >{{ link.title | escape }}</span>
                </a>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>

    {%- endif -%}

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>

          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%} 
                {% comment %} ss form {% endcomment %}
                {% if settings.ss_enable %}
                  <form action="/collections/{{ settings.ss_collection_handle }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input" 
                        id="Search-In-Modal"
                        type="search"
                        name="q"
                        value=""
                        placeholder="{{ 'general.search.search' | t }}"
                      >
                      <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.68241 18.4868C14.3456 18.4868 18.1258 14.7065 18.1258 10.0434C18.1258 5.38021 14.3456 1.59998 9.68241 1.59998C5.01925 1.59998 1.23901 5.38021 1.23901 10.0434C1.23901 14.7065 5.01925 18.4868 9.68241 18.4868Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                        <path d="M23.7646 22.7923L18.2169 17.2446C17.7004 16.7281 16.8631 16.7281 16.3466 17.2446L16.3444 17.2468C15.8279 17.7633 15.8279 18.6006 16.3444 19.1171L21.8921 24.6648C22.4086 25.1813 23.2459 25.1813 23.7624 24.6648L23.7646 24.6626C24.2811 24.1461 24.2811 23.3088 23.7646 22.7923Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                        <path d="M15.512 16.376L16.3608 17.2248" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                        </svg>
                      </button> 
                    </div>
                  </form>
                {% else %}
                  {% comment %} default form {% endcomment %}
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input" 
                        id="Search-In-Modal"
                        type="search"
                        name="q"
                        value=""
                        placeholder="{{ 'general.search.search' | t }}"
                        {%- if settings.predictive_search_enabled -%}
                          role="combobox"
                          aria-expanded="false"
                          aria-owns="predictive-search-results-list"
                          aria-controls="predictive-search-results-list"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false" 
                        {%- endif -%}
                      >
                      <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.68241 18.4868C14.3456 18.4868 18.1258 14.7065 18.1258 10.0434C18.1258 5.38021 14.3456 1.59998 9.68241 1.59998C5.01925 1.59998 1.23901 5.38021 1.23901 10.0434C1.23901 14.7065 5.01925 18.4868 9.68241 18.4868Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                        <path d="M23.7646 22.7923L18.2169 17.2446C17.7004 16.7281 16.8631 16.7281 16.3466 17.2446L16.3444 17.2468C15.8279 17.7633 15.8279 18.6006 16.3444 19.1171L21.8921 24.6648C22.4086 25.1813 23.2459 25.1813 23.7624 24.6648L23.7646 24.6626C24.2811 24.1461 24.2811 23.3088 23.7646 22.7923Z" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                        <path d="M15.512 16.376L16.3608 17.2248" stroke="#2C272D" stroke-width="1.4" stroke-miterlimit="10"/>
                        </svg>

                      </button> 
                    </div>
                    
                    {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>

                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                    {%- endif -%}
                  </form>
                {% endif %}
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="/pages/wishlist-1" class="header__icon header__icon--wishlist link focus-inset small-hide" id="cart-heart-empty">
        {% render 'icon-heart-empty' %}
      </a>

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        
      </a>
    </div>
    {%- if section.settings.menu != blank -%}
      <div class="secondMobileMenu">
        <ul>
          {%- for link in section.settings.menu.links -%}
            {%- comment %}<locksmith:308e>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: section.settings.menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:308e>{% endcomment -%}
            <a href="{{link.url}}" class="secondMobileLink"><li class="mobileMenuItems text-body-2">{{ link.title | escape }}</li></a>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "pink",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        }
      ],
      "default": "pink",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ],
  "blocks": [
    {
      "type": "subnav",
      "name": "Subnav Images",
      "settings": [
        {
          "type": "text",
          "id": "nav_item_title",
          "label": "Nav Item Title",
          "info": "Place the name of the nav item that you want to effect. Ensure spelling, punctuation, capitalization, and spacing are correct."
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "text",
          "id": "image_1_heading",
          "label": "Image 1 Heading"
        },
        {
          "type": "url",
          "id": "image_1_url",
          "label": "Image 1 URL"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "text",
          "id": "image_2_heading",
          "label": "Image 2 Heading"
        },
        {
          "type": "url",
          "id": "image_2_url",
          "label": "Image 2 URL"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "text",
          "id": "image_3_heading",
          "label": "Image 3 Heading"
        },
        {
          "type": "url",
          "id": "image_3_url",
          "label": "Image 3 URL"
        }
      ]
    }
  ]
}
{% endschema %}
