<div id="text-image-section-{{ section.id }}" class="hero-text-image">
    <div class="hero-text-image__container image-{{ section.settings.image_position }}">
      <div class="hero-text-image__image-holder">
        {%- if section.settings.image != blank -%}
        <picture>
            {% if  section.settings.mobile_image != blank %}
              <source srcset="{{ section.settings.mobile_image | img_url:'375x440', crop:'center' }}, {{ section.settings.mobile_image | img_url:'750x880', crop:'center' }} 2x" media="(max-width: 767px)">
            {% else %}
              <source srcset="{{ section.settings.image | img_url:'375x440', crop:'center' }}, {{ section.settings.image | img_url:'750x880', crop:'center' }} 2x" media="(max-width: 767px)">
            {% endif %}
            <source srcset="{{ section.settings.image | img_url:'816x700', crop:'center' }}, {{ section.settings.image | img_url:'1632x1400' }} 2x">
            <img src="{{ section.settings.image | img_url:'816x700', crop:'center' }}" 
                 alt="{{ section.settings.image.alt | default: "Stoney clover lane about us"}}" 
                 loading="lazy"
                 width="{{ section.settings.image.width }}"
                 height="{{ section.settings.image.height }}">
        </picture>
        {%- else -%}
            {{ 'lifestyle-1' | placeholder_svg_tag }}
        {%- endif -%}
      </div>

      <div class="hero-text-image__content">
        {% if section.settings.title != blank %}
          <h2 class="hero-text-image__title">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <div class="hero-text-image__overview">{{ section.settings.description }}</div>
        {% endif %}
      </div>
    </div>  
  </div>
  
  {% schema %}
  {
    "name": "Hero text image",
    "tag": "section",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.hero-text-image.settings.image.label"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "t:sections.hero-text-image.settings.mobile_image.label"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "t:sections.hero-text-image.settings.image_position.label",
        "options": [
            {
                "value": "left",
                "label": "t:sections.hero-text-image.settings.image_position.option_1.label",
                "group": "position"
            },
            {
                "value": "right",
                "label": "t:sections.hero-text-image.settings.image_position.option_2.label",
                "group": "position"
            }
        ]
      },
      {
        "type": "text",       
        "id": "title",
        "label": "t:sections.hero-text-image.settings.title.label"
      }, 
      {
        "type": "richtext",       
        "id": "description",
        "label": "t:sections.hero-text-image.settings.description.label"
      }
    ],
    "presets": [
      {
        "name": "Hero text image"
      }
    ]
  }
  {% endschema %}
  
  