<section id="instagram-slider-{{ section.id }}" class="instagram-slider" data-section-type="instagram-slider" data-section-id="{{ section.id }}">
  <div class="page-width">
    <header>
      {%- if section.settings.title != blank -%}
        <h3>{{section.settings.title}}</h3>
      {%- endif -%}
      
      {%- if section.settings.instagram_link != blank -%}
        <a href="{{ section.settings.instagram_link }}" target="_blank" class="button text-label">@STONEYCLOVER</a>
      {%- endif -%}
    </header>


    <div class="wrapper">
      {%- if section.settings.instagram_widget -%}
        {% comment %} <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="stoney-clover-lane" data-page-size="3"></script> {% endcomment %}
        <script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="stoney-clover-lane" data-theme="slider_v2_5" data-open-links-in-same-page="true" data-cell-size="33%"></script>
      {%- endif -%}
    </div>

    <footer>
      {%- if section.settings.instagram_link != blank -%}
        <a href="{{ section.settings.instagram_link }}" target="_blank" class="button text-label">@STONEYCLOVER</a>
      {%- endif -%}
    </footer>


  </div>  
</section>


{% schema %}
{
  "name": "Instagram Slider",
  "tag": "section",
  "class": "instagram-slider-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "instagram_widget",
      "label": "Show widget"
    },
    {
      "type": "text",
      "id": "instagram_link",
      "label": "Instagram Url"
    }
  ],
  "presets": [{
    "name": "Instagram Slider"
  }]
}
{% endschema %}