{% comment %}class="subnav tagMenu"{% endcomment %}
<!-- TESTING CURRENT TAG: {{ current_tags | json }} -->
{% assign patches_tags = section.blocks %}
{%- if section.blocks.size > 0 -%}
{%- if product != empty -%}
  {%- assign p_tags = product.tags -%}
  {%- assign disabled_tags = "" -%}
  {%- for p_tag in p_tags -%}
    {%- assign c_tag = p_tag | downcase -%}
    {%- if c_tag contains 'disable-' and c_tag contains '-patches' -%}
      {%- assign disabled_tag = c_tag | replace: 'disable-', '' | replace: '-patches', '' | replace: '-', ' ' | handleize -%}
      {%- assign disabled_tags = disabled_tags | append: disabled_tag | append: '##' -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div id="shopify-section-patches-customizer">

<!-- PARAMS -->
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign page_url = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |   replace:'\/','/' |    replace:'%20',' ' |    replace:'\u0026','&'  -%}
{%- assign inStoreCat = page_url | split:'?' | last -%}

{%- if inStoreCat contains 'isc-cat' -%}
  {%- assign path_name = inStoreCat | split:'=' | last -%}
  {%- assign patch_isc_collection = collections[path_name] -%}
  {%- if patch_isc_collection != blank-%}
    {% render 'isc-store-patches', patch_collection: patch_isc_collection %}
  {%- endif -%}
{%- endif -%}  
  
{% for block in section.blocks %}

  {% comment %}Remove the line below to bring back 'All' {% endcomment %}
  {% if block.settings.patch_collection == 'all-patches' %}{% continue %}{%- endif -%}
  {% comment %}Remove the line below to bring back 'Letters and numbers' {% endcomment %}
  {% if block.settings.patch_collection == 'letters' %}{% continue %}{%- endif -%}

  {% unless block.settings.tagid != "" %}{% continue %}{% endunless %}
  {%- assign handle_tag_title = block.settings.tagid | handleize -%}
  {%- if disabled_tags != "" and disabled_tags contains handle_tag_title -%}
    {%- continue -%}
  {%- endif -%}
  {% assign tag_title = block.settings.title %}
  {% unless tag_title %}
  {% assign tag_title = block.settings.tagid %}
  {% endunless %}
      {%- assign patch_collection = collections[block.settings.patch_collection] -%}
      {%- assign hide_for_collections = "" -%}
      {%- unless patch_collection != empty -%}{%- continue -%}{%- endunless -%}

      {%- if patch_collection.metafields.customizer.product_collections -%}
        {%- assign hide_for_collections = patch_collection.metafields.customizer.product_collections -%}
      {%- endif -%}

      <button class="galleryTagTitle" data-section-settings='{"tag_title": "{{ tag_title | handleize }}", "hide_for_collections": "{{ hide_for_collections }}"}' data-patch-group-section><span>{{ tag_title }}</span></button>
      <div class="galleryBox" data-open="false" data-tag="{{tag_title}}">
      {% paginate patch_collection.products by 200 %}
        {% for product in patch_collection.products %}
          {%- assign variant = product.variants[0] -%}

          {% assign min_price = product.price %}
          {% if product.compare_at_price > product.price %}
            {% assign min_price = product.compare_at_price %}
          {% endif %}

          <!-- PRODUCT ID: {{product.variants[0].id}}-->
          <div class="draggable patch snap loading" data-collection="{{ block.settings.patch_collection }}" data-tag='{{ product.tags }}
            {%- if product.metafields.global.size == 0  -%}
            1.5 Patches
            {%- endif -%}
            {%- if product.metafields.global.size == '1.5' -%}
            1.5 Patches
            {%- endif -%}
            {%- if product.metafields.global.size == '2' -%}
            2 Patches
            {%- endif -%}
            {%- if product.metafields.global.size == '3' -%}
            3 Patches
            {%- endif -%}'
            title='{{ product.title }}' data-price="{{ min_price }}" data-url="{{ product.handle }}"
            data-var-id-temp="{{variant.id}}"
            data-var-id="{{variant.id}}"
            data-var-id-available="{% if variant.available %}true{% else %}false{% endif %}"
            data-var-id-inventory="{{ variant.inventory_management }}"
            data-var-idx="1"
            data-modal="/pages/patch-modal .modalWrapBox">

            <img class="lazyload" data-height="{{ product.metafields.global.height }}"  data-width="{% if product.metafields.global.size == 0  %}1.5{% else %}{{ product.metafields.global.size }}{% endif %}" alt="{{ product.title }}"
            data-src="{{ product.featured_image | product_img_url: '300x' }}"/>
          </div>
        {% endfor %}
        {% endpaginate %}
    </div>
    <div class="scroll-btn-holder" data-tag="{{tag_title}}">
        <span class="left-scroll" data-tag="{{tag_title}}">LEFT</span>
        <span class="right-scroll" data-tag="{{tag_title}}">RIGHT</span>
    </div>
{% endfor %}

{% endif %}
<ul class="mobile-tags-list">
  {%- if patch_isc_collection != blank-%}
	 <li data-tag="Store Patches">Store Patches</li>
  {%- endif -%}

{% for block in section.blocks %}

    {% comment %}Remove the line below to bring back 'All' {% endcomment %}
    {% if block.settings.patch_collection == 'all-patches' %}{% continue %}{%- endif -%}
    {% comment %}Remove the line below to bring back 'Letters and numbers' {% endcomment %}
    {% if block.settings.patch_collection == 'letters' %}{% continue %}{%- endif -%}

  {% unless block.settings.tagid != "" %}{% continue %}{% endunless %}
  {%- assign handle_tag_title = block.settings.tagid | handleize -%}
  {%- if disabled_tags != "" and disabled_tags contains handle_tag_title -%}
    {%- continue -%}
  {%- endif -%}
  {% assign tag_title = block.settings.title %}
  {% unless tag_title %}
  {% assign tag_title = block.settings.tagid %}
  {% endunless %}
  <li data-tag="{{tag_title}}">{{ tag_title }}</li>

{% endfor %}
</ul>

</div>

{% schema %}
{
  "name":"Patches Tags for ISC",
  "class":"patches-customizer",
  "blocks":[
  {
    "type":"patch_tag",
    "name":"Patch Tag",
    "settings":[
    {
      "type":"text",
      "id":"tagid",
      "label":"Tag Name",
      "info": "Name should match tag name in products tags sections"
    },
    {
      "type":"text",
      "id":"title",
      "label":"Patch Category Title"
    },
    {
      "type": "collection",
      "id": "patch_collection",
      "label": "Patch Collection"
    },
    {
      "type": "checkbox",
      "id": "is_default_tag",
      "label": "Default Tag",
      "default": false
    }
    ]
  }
  ]
}
{% endschema %}
