<!-- LOADING... -->
<div class="isc-store-name visually-hidden{% if section.settings.hide_template == true%} visually-hidden--editor-only{% endif %}">Default Template</div>
<section id="mainCustomCollection" class="isc-store-section{% if section.settings.hide_template == true%} visually-hidden--editor-only{% endif %}">
    <div class="wrap">
	    <div class="collection-head">
		   	<h2>Start <span>Customizing</span></h2>
			 	<p>Choose your favorite style.</p>
	    </div>
    {% for block in section.blocks %}
    <!-- {{ block.settings  | json }} -->
    {% case block.type %}

			<!--  Section Title -->
			{% when 'section_title' %}
			  {% if block.settings.section_is_hidden != true %}
				  <div class="sectionHead">
				    {% if block.settings.section_name != empty %}
				      <h3>{{ block.settings.section_name | scape }}</h3>
				    {% endif %}
				    {% if block.settings.section_description != empty %}
				      <p>{{ block.settings.section_description | scape }}</p>
				    {% endif %}
				  </div>
			  {% endif %}


      {% when 'product_type' %}
      <!-- Product -->
      {% if block.settings.product_type_is_hidden == true %}
        {% continue %}
      {% endif %}
      <div class="col" {{ block.shopify_attributes }}>
        {%- assign img_url = '' -%}
        {% if block.settings.product_type_image != blank %}
          {%- assign img_url = block.settings.product_type_image | img_url: 'large' -%}
        {% else %}
          {%- assign img_url = '' -%}
        {% endif %}
        {% assign collection = collections[block.settings.product_type_collection] %}
        {% assign product = collection.products.first %}
        {% assign collection_customize = collections['customize'] %}
        {% assign products_by_price = collection.products | sort: 'price' %}
        {% assign prod_min_price = products_by_price.first.price_min %}
        {% if products_by_price.first.compare_at_price_min > prod_min_price %}
          {% assign prod_min_price = products_by_price.first.compare_at_price_min %}
        {% endif %}

        {% assign pVariants = 0 %}
        {% assign tVariants = 0 %}
        {% for products in collection.products %}
           {% for variant in products.variants %}
             {% if forloop.first %}
               {% assign pVariants = pVariants | plus: forloop.length %}
             {% endif %}
             {% assign tVariants = pVariants %}
           {% endfor %}
        {% endfor %}

        {%- assign customizerUrl = collection.products.first.url | within: collection_customize -%}
        {%- assign productHandle = collection.products.first.handle -%}
        
        {%- if block.settings.product_type_id != blank -%}
          {%- assign customizerUrl = "/collections/customize/products/" | append: block.settings.product_type_id -%}
        {%- assign productHandle = block.settings.product_type_id -%}
        {%- endif -%}
        
        {%- if block.settings.isc_product_handle != blank -%}
        {%- assign productHandle = block.settings.isc_product_handle -%}
        {%- endif -%}

        <a href="{{ customizerUrl }}" title="collection" data-customizer-link="{{ productHandle }}" 
           data-product-url="{{ customizerUrlTemp }}">
          {% if img_url == blank %}
            {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
          {% else %}
            <img src="{{ img_url }}" class="img-responsive" alt="{{ block.settings.product_type_title }}"/>
          {% endif %}
          {% if block.settings.product_type_collection != blank and img_url != blank %}
            <p>
              <strong>{{ block.settings.product_type_title }}</strong>
              <span>{{tVariants}} styles, from {{ prod_min_price | money }}</span>
            </p>
          {% endif %}
        </a>
      </div>


      {% when 'product_collection' %}
	      <!-- Collection -->
        {% if block.settings.product_type_is_hidden == true %}
          {% continue %}
        {% endif %}
        <div class="col" {{ block.shopify_attributes }}>
	        {%- assign img_url = '' -%}
	        {% if block.settings.product_type_image != blank %}
	          {%- assign img_url = block.settings.product_type_image | img_url: 'large' -%}
	        {% else %}
	          {%- assign img_url = '' -%}
	        {% endif %}
          {% assign collection = collections[block.settings.product_type_collection] %}
          {% assign product = collection.products.first %}
          {% assign products_by_price = collection.products | sort: 'price' %}
          {% assign prod_min_price = products_by_price.first.price_min %}
          {% if products_by_price.first.compare_at_price_min > prod_min_price %}
            {% assign prod_min_price = products_by_price.first.compare_at_price_min %}
          {% endif %}
          <a href="{{ collection.url }}" title="collection" data-customizer-link="{{ collection.products.first.handle }}">
          	{% if img_url == blank %}
            	{{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
            {% else %}
              <img src="{{ img_url }}" class="img-responsive" alt="{{ block.settings.product_type_title }}"/>
            {% endif %}

            {% if block.settings.product_type_collection != blank and img_url != blank %}
            <p>
              <strong>{{ block.settings.product_type_title }}</strong>
              <span>32 styles available, from {{ prod_min_price | money }}</span>
            </p>
						{% endif %}
          </a>
        </div>

      {% endcase %}
    {% endfor %}
  </div>
</section>


{% schema %}
{
  "name":"ISC - Default Template",
  "class":"customizer-product-type",
  "settings": [
  {
    "type":"checkbox",
    "id":"hide_template",
    "label":"Hide/Show Customizer Template",
    "default": false,
    "info": "This is only a visual aid to help editing the different store customizer templates."
  }
  ],
  "blocks":[
  {
    "type":"product_type",
    "name":"Customizer Product",
    "settings":[
    {
      "type":"image_picker",
      "id":"product_type_image",
      "label":"Image Placeholder"
    },
    {
      "type":"collection",
      "id":"product_type_collection",
      "label":"Product Type Collection"
    },
    {
      "type": "product",
      "id": "product_type_id",
      "label": "Customizer Product",
	    "info": "This product is used to override the item link in the customizer index."
    },
    {
      "type":"text",
      "id":"product_type_title",
      "label":"Product Type Custom Title"
    },
    {
      "type":"checkbox",
      "id":"product_type_is_hidden",
      "label":"Hide this product type",
      "default": false
    },
    {
      "type": "product",
      "id": "isc_product_handle",
      "label": "ISC Associated Product",
	    "info": "If the customizer product is not the one that corresponds with the placeholder image nor the enclosed section then this product must be set for the In-store Customizer to function properly."
    }
    ]
  },
  {
    "type":"product_collection",
    "name":"Product Collection",
    "settings":[
    {
      "type":"image_picker",
      "id":"product_type_image",
      "label":"Image Placeholder"
    },
    {
      "type":"collection",
      "id":"product_type_collection",
      "label":"Collection"
    },
    {
      "type":"text",
      "id":"product_type_title",
      "label":"Item Custom Title"
    },
    {
      "type":"checkbox",
      "id":"product_type_is_hidden",
      "label":"Hide this collection",
      "default": false
    }
    ]
  },
  {
    "type":"section_title",
    "name":"Section Title",
    "settings":[
    {
      "type":"text",
      "id":"section_name",
      "label":"Section Title"
    },
    {
      "type":"textarea",
      "id":"section_description",
      "label":"Section Description"
    },
    {
      "type":"checkbox",
      "id":"section_is_hidden",
      "label":"Hide this section title",
      "default": false
    }
    ]
  }
  ]
}
{% endschema %}
