<div id="location-hero-{{ section.id }}" class="location-hero" data-section-type="location-hero" data-section-id="{{ section.id }}">
  <div class="location-hero__container">
    <div class="locations-hero__row">
      <div class="location-hero_col_slider">
        <a href="#" class="location-hero_prev">
          <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25.3365" r="25" fill="#FFE2E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7801 25.3768C12.7796 25.3634 12.7793 25.35 12.7793 25.3365C12.7793 24.7842 13.227 24.3365 13.7793 24.3365C19.5275 24.3365 24.1627 19.747 24.1627 14.1157C24.1627 13.5634 24.6104 13.1157 25.1627 13.1157C25.715 13.1157 26.1627 13.5634 26.1627 14.1157C26.1627 18.3967 23.9357 22.1547 20.5698 24.3365L36.2209 24.3365C36.7731 24.3365 37.2209 24.7842 37.2209 25.3365C37.2209 25.8888 36.7731 26.3365 36.2209 26.3365L20.5698 26.3365C23.9356 28.5183 26.1627 32.2763 26.1627 36.5573C26.1627 37.1095 25.715 37.5573 25.1627 37.5573C24.6104 37.5573 24.1627 37.1095 24.1627 36.5573C24.1627 30.926 19.5275 26.3365 13.7793 26.3365C13.2405 26.3365 12.8012 25.9104 12.7801 25.3768Z" fill="#2C272D"/>
          </svg>                                    
        </a>
        <a href="#" class="location-hero_next">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" fill="#FFE2E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 24.9598C37.2204 24.9732 37.2207 24.9866 37.2207 25.0001C37.2207 25.5524 36.773 26.0001 36.2207 26.0001C30.4725 26.0001 25.8373 30.5896 25.8373 36.2208C25.8373 36.7731 25.3896 37.2208 24.8373 37.2208C24.285 37.2208 23.8373 36.7731 23.8373 36.2208C23.8373 31.9399 26.0643 28.1818 29.4302 26.0001L13.7791 26.0001C13.2269 26.0001 12.7791 25.5524 12.7791 25.0001C12.7791 24.4478 13.2269 24.0001 13.7791 24.0001L29.4302 24.0001C26.0644 21.8183 23.8373 18.0602 23.8373 13.7793C23.8373 13.227 24.285 12.7793 24.8373 12.7793C25.3896 12.7793 25.8373 13.227 25.8373 13.7793C25.8373 19.4105 30.4725 24 36.2207 24C36.7595 24 37.1988 24.4262 37.2199 24.9598Z" fill="#2C272D"/>
          </svg>        
        </a>
        <div class="location-hero__slider swiper location-hero__swiper">
          <div class="location-hero__slider_wrapper swiper-wrapper">
            {% for block in section.blocks %}
              <div class="location-hero_slide swiper-slide" data-slide="slide_{{forloop.index}}">
                <div class="location-hero_slide_img">
                  <img src="{{block.settings.image | img_url: "master"}}" 
                              class="location-hero__image"
                              loading="lazy"
                              alt="{{ block.settings.image.alt | escape }}">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="location-hero_col_content">
        <div class="location-hero__content">
          <a href="{{ section.settings.breadcrumbs_link }}" class="location-hero__breadcrumbs_link">{{ section.settings.breadcrumbs_link_label }}</a>
          {% if section.settings.title != blank %}
            <h2 role="heading" aria-level="1" class="location-hero__title scl_title">{{ section.settings.title }}</h2>
          {% endif %}
          {% if section.settings.description != blank %}
            <div class="location-hero_description">{{ section.settings.description }}</div>
          {% endif %}
          <div class="location-hero__info_box">
            <div class="location-hero__info_location">
              <div class="location-hero__info_icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 10.1333C11.9543 10.1333 13.1333 8.95435 13.1333 7.5C13.1333 6.04565 11.9543 4.86667 10.5 4.86667C9.04565 4.86667 7.86667 6.04565 7.86667 7.5C7.86667 8.95435 9.04565 10.1333 10.5 10.1333ZM10.5 11C12.433 11 14 9.433 14 7.5C14 5.567 12.433 4 10.5 4C8.567 4 7 5.567 7 7.5C7 9.433 8.567 11 10.5 11Z" fill="#2C272D"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6456 5.56939C16.2992 4.64951 15.7936 3.81922 15.1614 3.12387C14.5295 2.4287 13.7842 1.88265 12.9708 1.51203C12.1577 1.14156 11.2899 0.952381 10.4161 0.952381C9.5423 0.952381 8.67453 1.14156 7.86144 1.51203C7.04804 1.88265 6.30274 2.4287 5.67077 3.12387C5.03863 3.81922 4.53296 4.64951 4.18657 5.56939C3.59148 7.14973 4.19316 8.98464 5.34333 10.704L10.4161 18.2871L15.4889 10.704C16.639 8.98464 17.2407 7.14973 16.6456 5.56939ZM16.2805 11.2335C17.4821 9.43718 18.2985 7.25636 17.5369 5.23377C17.1496 4.20514 16.5818 3.2705 15.8661 2.48322C15.1504 1.69595 14.3008 1.07144 13.3656 0.645369C12.4305 0.219297 11.4283 0 10.4161 0C9.40393 0 8.40168 0.219297 7.46656 0.645369C6.53144 1.07144 5.68177 1.69595 4.96606 2.48323C4.25036 3.2705 3.68262 4.20514 3.29529 5.23377C2.53366 7.25636 3.35006 9.43718 4.55174 11.2335L10.4161 20L16.2805 11.2335Z" fill="#2C272D"/>
                </svg>              
              </div>
              <div class="location-hero__info_content location-hero__info_content_col">
                <div class="location-hero__info_address">{{ section.settings.loc_address }}</div>
                <a href="{{ section.settings.loc_address_link }}" class="location-hero__info_link" target="_blank">{{ section.settings.loc_address_link_label }}</a>
              </div>
            </div>
            <div class="location-hero__info_time">
              <div class="location-hero__info_icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19ZM10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#2C272D"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 3.5C10.2763 3.5 10.5001 3.72386 10.5001 4V11.2247L5.78297 8.95038C5.53422 8.83046 5.4298 8.53159 5.54973 8.28285C5.66966 8.03411 5.96852 7.92969 6.21726 8.04962L9.50011 9.63242V4C9.50011 3.72386 9.72397 3.5 10.0001 3.5Z" fill="#2C272D"/>
                </svg>                            
              </div>
              <div class="location-hero__info_content location-hero__info_content_between">
                <div class="location-hero__info_data">
                  {% assign hours = section.settings.hours | split: ',' %}
                  {% for item in hours %}
                    <div class="location-hero__info_days">{{ item | split: '/' | first }}</div> 
                  {% endfor %}
                </div>
                <div class="location-hero__info_hours">
                  {% for item in hours %}
                    <div class="location-hero__info_hour">{{ item | split: '/' | last }}</div> 
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="location-hero__info_phone">
              <div class="location-hero__info_icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77534 0.137355C5.10245 -0.00292768 5.4647 -0.0369502 5.81232 0.0407921C5.84226 0.0474879 5.87152 0.0569252 5.89973 0.0689843C6.25461 0.220691 6.55066 0.483051 6.74721 0.815558C7.32635 1.64 7.81447 2.52746 8.20274 3.46167C8.45518 3.9616 8.54618 4.52984 8.46333 5.08516C8.46103 5.10064 8.45799 5.116 8.45424 5.1312C8.35985 5.51365 8.14972 5.81157 7.9231 6.05025C7.72055 6.26358 7.48205 6.4518 7.27757 6.61319C7.25915 6.62773 7.241 6.64205 7.22318 6.65615C6.7493 7.0312 6.50691 7.26802 6.46407 7.5717C6.4612 7.87894 6.5505 8.17887 6.71869 8.43068C6.72673 8.44271 6.73424 8.45508 6.7412 8.46776C7.89815 10.575 9.5649 12.3392 11.5792 13.591C12.0121 13.8577 12.322 13.9765 12.563 13.9134L12.5631 13.9134C12.8114 13.8484 12.9906 13.6201 13.2692 13.1296C13.2856 13.1009 13.3023 13.0712 13.3195 13.0407C13.4312 12.8426 13.5605 12.6133 13.7096 12.4082C13.8855 12.1662 14.114 11.9208 14.4301 11.7568C15.1375 11.3887 15.9314 11.6115 16.4551 11.794L16.4557 11.7942C17.4335 12.1362 18.3641 12.6053 19.2249 13.1897C19.5683 13.3813 19.8289 13.6933 19.9604 14.0646C19.9718 14.0967 19.9799 14.1299 19.9845 14.1637C20.0235 14.4487 19.9885 14.7392 19.8826 15.0063C19.5279 16.1037 19.0208 17.2342 18.1493 18.0842L18.1472 18.0862C17.7142 18.5037 17.2131 18.8415 16.6662 19.084C15.1944 19.7465 13.5715 19.7355 12.0456 19.3763C10.5189 19.0169 9.05485 18.3018 7.86353 17.5066C5.33467 15.829 3.33076 13.4432 2.08841 10.6343L2.08784 10.633C1.50822 9.31251 1.14818 7.90227 1.0224 6.4606L1.02162 6.45156L1.0217 6.45155C0.924681 5.04524 1.13902 3.59779 1.94903 2.37106L1.94933 2.3706C2.63302 1.33766 3.62284 0.554232 4.77534 0.137355ZM5.54918 1.00819C5.41866 0.987915 5.28472 1.00539 5.16219 1.05958C5.15116 1.06446 5.13996 1.06894 5.1286 1.07301C4.17573 1.41444 3.35287 2.06195 2.78332 2.92238C2.1334 3.90685 1.9323 5.11145 2.01902 6.37822C2.13569 7.70982 2.46841 9.01183 3.00324 10.2305C4.16961 12.8672 6.04924 15.1031 8.41691 16.6737L8.41812 16.6745C9.53331 17.4189 10.8883 18.0766 12.2747 18.4029C13.6617 18.7294 15.0458 18.7172 16.257 18.1716L16.2598 18.1704C16.699 17.9758 17.1025 17.7042 17.4521 17.3672C18.1541 16.682 18.5995 15.7288 18.9363 14.6827C18.9403 14.6702 18.9448 14.6579 18.9498 14.6458C18.988 14.5528 19.0048 14.4518 18.9988 14.3509C18.9418 14.2232 18.8458 14.1206 18.7281 14.0577C18.7123 14.0493 18.6969 14.0399 18.682 14.0298C17.8874 13.488 17.0281 13.0538 16.1255 12.7381C15.5937 12.5529 15.1833 12.492 14.8914 12.644L14.8907 12.6443C14.7637 12.7102 14.6446 12.8227 14.5185 12.9962C14.4059 13.151 14.3078 13.3247 14.1935 13.5268C14.1757 13.5583 14.1575 13.5906 14.1387 13.6236L14.1378 13.6253C13.8936 14.0551 13.5307 14.6938 12.8163 14.8808C12.1144 15.0646 11.4557 14.6896 11.0536 14.4417L11.0521 14.4408C8.89545 13.1008 7.11291 11.2154 5.87459 8.96714C5.59507 8.54028 5.4523 8.03621 5.46476 7.52433C5.46511 7.50993 5.46608 7.49555 5.46767 7.48123C5.55443 6.7011 6.16228 6.2203 6.5823 5.88807C6.58911 5.88268 6.59588 5.87733 6.60259 5.87202C6.61713 5.86051 6.63153 5.84913 6.64577 5.83786C6.8635 5.66572 7.04703 5.52061 7.19791 5.3617C7.34585 5.20588 7.4361 5.0626 7.47779 4.91284C7.52458 4.56454 7.46355 4.2102 7.3039 3.90029C7.29755 3.88796 7.29172 3.87537 7.28641 3.86256C6.92225 2.98281 6.46296 2.14802 5.91729 1.37384C5.9083 1.36108 5.8999 1.3479 5.89214 1.33435C5.8102 1.19133 5.69024 1.07867 5.54918 1.00819Z" fill="#2C272D"/>
                </svg>                                        
              </div>
              <a href="tel:{{- section.settings.loc_phone_link -}}" class="location-hero__info_phone_link">{{- section.settings.loc_phone_link -}}</a>
            </div>
          </div>
          {% if section.settings.loc_contact_link != blank %}
            <div class="location-hero__info_contact">
              <a href="{{ section.settings.loc_contact_link }}" class="btn location-hero__info_btn">Contact us</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Location hero",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Section description"
    },    
    {
      "type": "text",
      "id": "breadcrumbs_link_label",
      "label": "breadcrumbs label"
    },
    {
      "type": "url",
      "id": "breadcrumbs_link",
      "label": "breadcrumbs link"
    },
    {
      "type": "text",
      "id": "loc_address",
      "label": "Address"
    },
    {
      "type": "text",
      "id": "loc_address_link_label",
      "label": "Address link label"
    },
    {
      "type": "url",
      "id": "loc_address_link",
      "label": "Address link"
    },
    {
      "type": "textarea",
      "id": "hours",
      "label": "Hours"
    },
    {
      "type": "text",
      "id": "loc_phone_link",
      "label": "Phone number"
    },{
      "type": "url",
      "id": "loc_contact_link",
      "label": "Contact link"
    }
  ],
  "blocks": [
  {
    "name": "Slide",
    "type": "slide",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Location hero"
    }
  ]
}
{% endschema %}

