<div class="locations" section-type="locations" section-id="{{ section.id }}">
  {% if section.settings.title != blank %}
    <h2 class="locations__title">{{ section.settings.title }}</h2>
  {% endif %}
  {% if section.settings.description != blank %}
    <div class="locations__description">{{ section.settings.description }}</div>
  {% endif %}

  <div class="locations__list">
    {% for block in section.blocks %}
      <div class="location">
        <a href="{{ block.settings.location_link }}" class="location__link"></a>
        <div class="location__image-holder">
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: '500x' }}" 
                 srcset="{{ block.settings.image | img_url: '500x' }}1x, {{ block.settings.image | img_url: '500x', scale: 2 }}2x"
                 alt="{{ block.settings.image.alt }}"
                 width="{{ block.settings.image.width }}"
                 height="{{ block.settings.image.height }}"
                 class="location__image">
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag }}
          {% endif %}
          {% if block.settings.badge != blank %}
            <img src="{{ block.settings.badge | img_url: '100x' }}" 
                srcset="{{ block.settings.badge | img_url: '100x' }}1x, {{ block.settings.badge | img_url: '100x', scale: 2 }}2x"
                alt="{{ block.settings.badge.alt }}"
                width="{{ block.settings.badge.width }}"
                height="{{ block.settings.badge.height }}"
                class="location__badge">
          {% endif %}
        </div>
        <div class="location__content">
          {% if block.settings.title != blank %}
            <h3 class="location__title">
              {{ block.settings.title }}
              <svg width="25" height="23" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.853 11.417a1 1 0 0 1 1-1h14.345c-3.04-1.978-5.05-5.246-5.05-9a1 1 0 1 1 2 0c0 4.886 4.33 8.989 9.86 9h.021a.996.996 0 0 1 .75.337 1 1 0 0 1-.749 1.663h-.023c-5.528.01-9.86 4.114-9.86 9a1 1 0 1 1-2 0c0-3.755 2.011-7.023 5.051-9H1.853a1 1 0 0 1-1-1Z" fill="#2C272D"/></svg>
            </h3>
          {% endif %}
          {% if block.settings.address != blank %}
            <div class="location__block location__block--address">
              <svg width="15" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 10.133a2.633 2.633 0 1 0 0-5.266 2.633 2.633 0 0 0 0 5.266Zm0 .867a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z" fill="#2C272D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.646 5.57a7.627 7.627 0 0 0-1.485-2.446 6.75 6.75 0 0 0-2.19-1.612 6.152 6.152 0 0 0-2.555-.56c-.874 0-1.741.19-2.555.56a6.751 6.751 0 0 0-2.19 1.612 7.628 7.628 0 0 0-1.484 2.445c-.596 1.58.006 3.416 1.156 5.135l5.073 7.583 5.073-7.583c1.15-1.72 1.752-3.554 1.157-5.135Zm-.366 5.663c1.202-1.796 2.019-3.977 1.257-6a8.58 8.58 0 0 0-1.67-2.75A7.703 7.703 0 0 0 10.365.645 7.104 7.104 0 0 0 7.416 0c-1.012 0-2.014.22-2.95.645a7.703 7.703 0 0 0-2.5 1.838 8.58 8.58 0 0 0-1.67 2.75c-.762 2.023.054 4.204 1.256 6L7.416 20l5.864-8.767Z" fill="#2C272D"/></svg>
              <div class="location__text location__address">{{ block.settings.address }}</div>
            </div>
          {% endif %}
          {% if block.settings.directions_url != blank %}
            <a href="{{ block.settings.directions_url }}" target="_blank" class="location__text location__directions">{{ 'locations.directions' | t }}</a>
          {% endif %}

          {% if block.settings.hours != blank %}
            <div class="location__block">
              <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 1c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10Z" fill="#2C272D"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5.5v7.225L5.783 8.95a.5.5 0 1 1 .434-.9L9.5 9.632V4a.5.5 0 0 1 .5-.5Z" fill="#2C272D"/></svg>
              <div class="location__hours">
                {% if block.settings.hours contains '/' %}
                
                {% assign hours = block.settings.hours | split: ',' %}
                {% for item in hours %}
                  <p class="location__hours-item location__text"> 
                    <span>{{ item | split: '/' | first }}</span> 
                    <span>{{ item | split: '/' | last }}</span>
                  </p>
                {% endfor %}
                {% else %}
                  <div class="location__text">{{ block.settings.hours }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if block.settings.phone != blank %}
            <div class="location__block">
              <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.775.137c.328-.14.69-.174 1.037-.096A.5.5 0 0 1 5.9.069c.355.152.65.414.847.747.58.824 1.068 1.711 1.456 2.646a2.716 2.716 0 0 1 .251 1.67c-.094.382-.304.68-.53.918-.203.214-.442.402-.646.563l-.055.043c-.474.375-.716.612-.759.916a1.522 1.522 0 0 0 .277.896 13.898 13.898 0 0 0 4.838 5.123c.433.267.743.386.984.322.248-.065.428-.293.706-.783l.05-.09c.112-.197.242-.427.39-.632.177-.242.405-.487.721-.651.708-.368 1.502-.146 2.025.037.979.342 1.91.811 2.77 1.396.343.191.604.503.735.875.012.032.02.065.025.099.039.285.004.575-.102.842-.355 1.098-.862 2.228-1.734 3.078l-.002.002a5.13 5.13 0 0 1-1.48.998c-1.473.663-3.095.651-4.621.292-1.527-.36-2.991-1.074-4.182-1.87a16.004 16.004 0 0 1-5.775-6.872l-.001-.001c-.58-1.32-.94-2.73-1.065-4.172l-.001-.01c-.097-1.406.117-2.853.927-4.08A5.732 5.732 0 0 1 4.775.137Zm.774.871a.693.693 0 0 0-.42.065 4.732 4.732 0 0 0-2.346 1.85c-.65.984-.85 2.188-.764 3.455.117 1.332.45 2.634.984 3.852a15.004 15.004 0 0 0 5.414 6.444h.001c1.115.745 2.47 1.403 3.857 1.729 1.387.326 2.77.314 3.982-.231l.003-.002c.44-.194.843-.466 1.192-.803.702-.685 1.148-1.638 1.484-2.684a.478.478 0 0 1 .014-.037.672.672 0 0 0 .049-.295.616.616 0 0 0-.27-.293.493.493 0 0 1-.047-.028 10.964 10.964 0 0 0-2.556-1.292c-.532-.185-.943-.246-1.234-.094h-.001c-.127.066-.246.179-.372.352a5.54 5.54 0 0 0-.325.53l-.055.098-.001.001c-.244.43-.607 1.069-1.322 1.256-.702.184-1.36-.191-1.762-.44h-.002a14.896 14.896 0 0 1-5.177-5.474 2.523 2.523 0 0 1-.407-1.486c.087-.78.694-1.26 1.114-1.593l.02-.016.044-.034c.218-.172.401-.317.552-.476.148-.156.238-.3.28-.45a1.715 1.715 0 0 0-.191-1.05 12.85 12.85 0 0 0-1.395-2.528.818.818 0 0 0-.343-.326Z" fill="#2C272D"/></svg>
              <a href="tel:{{ block.settings.phone | escape }}" class="location__text location__phone">{{ block.settings.phone }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.locations.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.locations.settings.title.label",
      "default": "Experience SCL, IRL"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.locations.settings.description.label",
      "default": "Each of our stores offers a distinct experience, on-site customization, exclusive events, and special-edition patches."
    }
  ],
  "blocks": [
    {
      "name": "t:sections.locations.blocks.name",
      "type": "location",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.locations.blocks.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "badge",
          "label": "t:sections.locations.blocks.settings.badge.label"
        },
        {
          "type": "url",
          "id": "location_link",
          "label": "t:sections.locations.blocks.settings.location_link.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.locations.blocks.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "address",
          "label": "t:sections.locations.blocks.settings.address.label"
        },
        {
          "type": "url",
          "id": "directions_url",
          "label": "t:sections.locations.blocks.settings.directions_url.label"
        },
        {
          "type": "textarea",
          "id": "hours",
          "label": "t:sections.locations.blocks.settings.hours.label"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "t:sections.locations.blocks.settings.phone.label"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "Locations",
      "category": "section"
    }
  ]
}
{% endschema %}