{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{% assign groupGiftWrapProducts=true %}
{% assign giftProductCount=0 %}
{% assign giftWrappingPrice=0 %}
{% assign giftWrappingTotalPrice=0 %}



{% for item in cart.items %}
  {% if item.title contains 'Gift Wrapping' %}
    {% assign giftProductCount = giftProductCount | plus: 1 %}
    {% assign giftWrappingPrice = item.price %}
    {% assign giftWrappingTotalPrice = giftWrappingTotalPrice | plus: item.price %}
  {% endif %}
{% endfor %}


<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-soldout.js' | asset_url }}" defer="defer"></script>

{% comment %} id="compare-sizes-{{ section.id }}" class="compare-sizes" data-section-type="compare-sizes" data-section-id="{{ section.id }}" {% endcomment %}

<cart-items id="cart-items-container" class="page-width{% if cart == empty %} is-empty{% endif %}" data-section-type="cart-items" data-section-id="{{ section.id }}">

  <div class="cart__warnings">
    <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
    <a href="/collections/all-products" class="button">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents">
        {%- if cart != empty -%}
          <div class="cart-items">
            {%- for item in cart.items -%}
              {% unless item.title contains 'Gift Wrapping' %}
                {% comment %} is this item a child product {% endcomment %}
                {%- assign is_child_product = false -%}
                {%- for p in item.properties -%}
                  {%- if p.first contains '_Parent Variant' -%}
                    {%- assign is_child_product = true -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}

                {% unless is_child_product %}
                  {% render "cart-item", item: item, groupGiftWrapProducts: groupGiftWrapProducts %}
                {% endunless %}
              {% endunless %}
            {%- endfor -%}

            {% comment %} force gift wrapping to be at the end of the list {% endcomment %}
            {%- for item in cart.items -%}
              {% if item.title contains 'Gift Wrapping' %}
                {% render "cart-item", item: item, groupGiftWrapProducts: groupGiftWrapProducts %}
              {% endif %}
            {%- endfor -%}

          </div>

          {% if groupGiftWrapProducts and giftProductCount > 0 %}
          {% comment %} fake product to group all gift wrapping products into one item {% endcomment %}
          <div class="cart-item product-group gift-wrap-item">
            <div class="cart-item__media">
              <img class="cart-item__image" src="//cdn.shopify.com/s/files/1/0588/3540/2941/products/if_gift_1880182_224x.jpg?v=1628713008" alt="" loading="lazy" width="224" height="224">
            </div>
            <div class="cart-item__details">
              <header>
                <h3>Gift Wrapping</h3>
                <div class="cart-item__totals">
                  <div class="cart-item__price-wrapper">
                    <span class="price price--end">{{giftWrappingTotalPrice | money}}</span>
                    <p class="price-note">({{giftProductCount}} x {{giftWrappingPrice | money}})</p>
                  </div>
                </div>
              </header>
            </div>
          </div>
          {%- endif -%}

        {%- endif -%}
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>
</cart-items>

{%- #  Check Cart Integrity -%}
{% render 'check-cart-integrity' %}

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "class": "cart-items-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
