{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}


<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-sidebar" data-id="{{ section.id }}" data-section-type="cart-sidebar" data-section-id="{{ section.id }}">
  <div>
    <div class="cart__footer">
      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="sidebar-section js-contents" {{ block.shopify_attributes }}>
                <div class="totals">
                  <h3 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                  <p class="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                </div>
                
                <div class="additional-info">
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--end">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                  <small class="tax-note caption-large rte">
                    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                      {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- elsif cart.taxes_included -%}
                      {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                    {%- elsif shop.shipping_policy.body != blank -%}
                      {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                    {%- else -%}
                      {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                    {%- endif -%}
                  </small>
                  
                  <shopify-payment-terms variant-id="39496966799440" shopify-meta="{&quot;variants&quot;:[{&quot;id&quot;:39496966799440,&quot;price&quot;:&quot;{{ cart.total_price | divided_by: 4 | times: 1.0 | money_without_trailing_zeros }}&quot;,&quot;eligible&quot;:true}],&quot;min_price&quot;:&quot;$50&quot;,&quot;max_price&quot;:&quot;$3000&quot;}"></shopify-payment-terms>

                  {% comment %} <div class="shopify-payment-terms affirm-as-low-as">
                    <shopify-payment-terms variant-id="39496966799440" shopify-meta="{&quot;variants&quot;:[{&quot;id&quot;:39496966799440,&quot;price&quot;:&quot;{{ cart.total_price | divided_by: 4 | times: 1.0 | money_without_trailing_zeros }}&quot;,&quot;eligible&quot;:true}],&quot;min_price&quot;:&quot;$50&quot;,&quot;max_price&quot;:&quot;$3000&quot;}"></shopify-payment-terms>
                  </div> {% endcomment %}
                </div>

              </div>


              {% comment %} GO GREEN TOGGLE {% endcomment %}
              <div class="sidebar-section go-green-section">
                <div class="buttons">
                  <button class="button-extras {% unless cart.attributes['go-green'] == 'true' %} active {% endunless %}">Include Extras</button>
                  <button class="button-green {% if cart.attributes['go-green'] == 'true' %} active {% endif %}">Go Green</button>
                </div>
                <div class="extras-content active">
                  <p>{{ section.settings.extras_copy }}</p>
                  <p class="disclaimer">{{ section.settings.extras_disclaimer }}</p>
                </div>
                <div class="green-content">
                  <p>{{ section.settings.green_copy }}</p>
                </div>
              </div>

              {% comment %} GIFT CHECKBOX {% endcomment %}
              <div class="sidebar-section ">
                <div class="gift-section">
                  {% render "cart-gift-checkbox", id: "gift-all", label: "Send as a gift & add a note FREE", description: section.settings.gift_copy, note: cart.attributes['gift-note'] %}
                  <p class="has-individual-giftwrap">{{ section.settings.gift_copy_individual }}</p>
                  {% comment %} {% render "gift-card-modal", id: "gift-modal-all" %} {% endcomment %}
                </div>
              </div>

            {%- else -%}
            {%- if section.settings.show_cart_note -%}
            <div class="sidebar-section cart__note" id="cartNoteWrapper">
              <div class="field-checkbox">
                <input type="checkbox" name="agree" id="agree">
                <label for="agree">
                  <div class="cart__note__messages" id="cartNoteMessages">
                    <div class="cart__note__error">{{ section.settings.label_error }}</div>
                    <span class="checkout__note_data">{{ section.settings.label_order }}</span>
                  </div>
                </label>
              </div>
              <cart-note class="cart__note field">
                <textarea class="text-area text-area--resize-vertical field__input" name="note" id="Cart-note" placeholder="{{ section.settings.textarea_placeholder }}"></textarea>
              </cart-note>
            </div>
            {%- endif -%}

            <!-- Route Code Edited  9/1/2022 -->
            <div class="route-div"></div>
            <!-- End Route Code -->
        
              <div class="sidebar-section cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                  CHECKOUT
                </button>

                {%- if additional_checkout_buttons -%}
                  <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                {%- endif -%}

                <div class="other-buttons">
                  <a href="/collections/all-products" class="btn button">{{ 'general.continue_shopping' | t }}</a>
                  <a href="/cart/clear" class="btn button">Clear Cart</a>
                </div>
              </div>

          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    (function(){
      const checkout = document.querySelector('#checkout');
      const cartNoteMessages = document.querySelector('#cartNoteMessages');
      const cartNoteInput = document.querySelector('#agree');
      const soldOutClass = new CartSoldOut(
        {{settings.sold_out_cart_headline | json}},
        {{settings.sold_out_cart_message | json}},
        {{settings.sold_out_cart_text | json}}
      );

      try {
        soldOutClass.checkProductsWithoutParent();
      } catch (error) {
        console.log('No products without parent', error);
      }

      function errorHendler(e) {
        e.preventDefault();
        const soldout = document.querySelectorAll('[data-soldout]');
        if (soldout?.length) {
          soldOutClass.checkSoldOut();
          return
        }
        if (!cartNoteInput.checked) {
          cartNoteMessages.classList.add('error');
          return
        }
        checkout.removeEventListener('click',errorHendler);
        cartNoteMessages.classList.remove('error');
        checkout.click();
      }
      if (checkout !== null) {
        checkout.addEventListener('click',errorHendler);
      }
    })();
  });
</script>

{% schema %}
{
  "name": "Cart Sidebar",
  "class": "cart-sidebar-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "Show Note Field"
    },
    {
      "type":"text",
      "id":"textarea_placeholder",
      "label":"Note Field Placeholder"
    },
    {
      "type":"text",
      "id":"label_order",
      "label":"Checkbox Disclaimer Copy"
    },
    {
      "type":"text",
      "id":"label_error",
      "label":"Checkbox Disclaimer Error Copy"
    },
    {
      "type":"text",
      "id":"extras_copy",
      "label":"Include Extras Copy"
    },
    {
      "type":"text",
      "id":"extras_disclaimer",
      "label":"Include Extras Dsiclaimer"
    },
    {
      "type":"text",
      "id":"green_copy",
      "label":"Go Green Copy"
    },
    {
      "type":"text",
      "id":"gift_copy",
      "label":"Send as gift copy"
    },
    {
      "type":"text",
      "id":"gift_copy_individual",
      "label":"Individual items gift copy"
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
