{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- include 'klaviyo-product-script' -%}

{%- assign preorderEnabled = false -%}
{%- if product.available and product.tags contains "pre-order" or  product.tags contains "preorder"-%}
  {%- assign preorderEnabled = true -%}
{%- endif -%}

{%- assign enableBackInStock = true -%}
{%- for tag in product.tags -%}
	{%- if tag contains 'bis-hidden' -%}
		{%- assign enableBackInStock = false-%}
		{% break %}
	{%- endif -%}
{%- endfor -%}
{%- if enableBackInStock == true -%}
  {%- include 'klaviyo-backinstock-script' -%}
{%- endif -%}

{%- assign product_is_gwp = false -%}
{%- for tag in product.tags -%}
  {%- assign product_is_gwp = true -%}
{%- endfor -%}


<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{% assign isPatch = false %}

{% for tag in product.tags %}
  {% if tag == 'All Patches' or tag == "CATEGORY_Patches" %}
    {% assign patchClass = "patch-product" %}
    {% assign isPatch = true %}
    {% break %}
  {% else %}
    {% assign patchClass = '' %}
    {% assign isPatch = false %}
  {% endif %}
{% endfor %}


{% if product.title == "Digital Gift Card" %}
  {% assign patchClass = "patch-product" %}
  {% assign isPatch = true %}
{% endif %}

{% assign hasSeasonaVariants = false %}
{% for variant in product.variants %}
  {% if variant.metafields.global.seasonal %}
    {% assign hasSeasonalVariants = true %}
  {% endif %}
{% endfor %}

{% comment %}Seasonal Product Variants outside of PDP {% endcomment %}
{% assign seasonalProductHandles = "" | split: "," %}
{% assign seasonalVariantIds = "" | split: "," %}

{% if product.metafields.global.additional_seasonal_variants != blank %}
  {% assign hasSeasonalVariants = true %}

  {% paginate collections["all-products"].products by 10000 %}
    {% assign seasonalVariants = product.metafields.global.additional_seasonal_variants | split: ',' %}

    {% for product in collections["all-products"].products %}
      {%- comment %}<locksmith:4e4f>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections.all-products, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:4e4f>{% endcomment -%}
      {% for variant in product.variants %}
        {% for seasonalVariant in seasonalVariants %}
          {%- assign test = seasonalVariant | plus: 0 -%}
          {% if variant.id == test %}
            {% assign handle = product.handle | split: ',' %}
            {% assign variantId = variant.id | split: ',' %}
            {% assign seasonalProductHandles = seasonalProductHandles | concat: handle %}
            {% assign seasonalVariantIds = seasonalVariantIds | concat: variantId %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endpaginate %}
{% endif %}
{% comment %}End of Seasonal Product Variants outside of PDP {% endcomment %}

{% comment %}Product Badge{% endcomment %}
{% for tag_name in shop.metafields.global.product_badge_image_tag_name %}
  {% assign forloop_index = forloop.index0 %}
  {% for tag in product.tags %}
    {% if tag == tag_name %}
      {% assign product_badge = shop.metafields.global.product_badge_image[forloop_index][0].src %}
      {% assign product_badge_alt = shop.metafields.global.product_badge_image[forloop_index][0].alt %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign product_badge_default = product_badge %}
{% comment %}End of Product Badge{% endcomment %}

{%- comment -%} Almost Gone Badge {%- endcomment -%}
{% assign almost_tag = shop.metafields.global.almost_gone_tag %}
{% assign almost_remaining_qy = shop.metafields.global.almost_gone_remaining_qty | plus: 1 %}
{% assign currentInventory = product.selected_or_first_available_variant.inventory_quantity %}
<!-- Q-{{ currentInventory }}-Less-{{ almost_remaining_qy }} -->
{% if product.tags contains almost_tag or almost_tag == blank %}
  {% if currentInventory > 0 and currentInventory <= almost_remaining_qy %}
      {% assign product_badge = shop.metafields.global.almost_gone_image[0].src %}
      {% assign product_badge_alt = shop.metafields.global.almost_gone_image[0].alt %}
  {% endif %}
{% endif %}
{%- comment -%} End of Almost Gone Badge {%- endcomment -%}

<section class="page-width">
  {% if section.settings.breadcrumbs %}
    <ul class="product__breadcrumbs breadcrumbs">
    {%- if collection.url -%}
      <li class="product__breadcrumbs-item breadcrumbs__item">
        <a href="/collections/all">Collections</a>
      </li>
      <li class="product__breadcrumbs-item breadcrumbs__item">
        {{ collection.title | link_to: collection.url }}
      </li>
    {%- else -%}
      <li class="product__breadcrumbs-item breadcrumbs__item">
        <a href="/">Home</a>
      </li>
    {%- endif -%}
      <li class="product__breadcrumbs-item breadcrumbs__item">
        <a class="breadcrumbs__link" href="#" aria-current="page">{{ product.title }}</a>
      </li>
    </ul>
  {% endif %}
  <div class="product grid grid--1-col {{patchClass}} {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %} {% unless enableBackInStock %} disable-back-in-stock {% endunless %} {% if enableBackInStock %} enable-back-in-stock {% endif %}">
    <div class="grid__item product__media-wrapper">
      <script type="application/json">
        [
          {%- for handle in seasonalProductHandles -%}
            {%- assign seasonalProduct = all_products[handle] -%}
            {%- assign seasonalVariant = '' -%}
            {%- assign loopNum = forloop.index0 -%}
            {%- for variant in seasonalProduct.variants -%}
              {%- assign variantId = seasonalVariantIds[loopNum] | plus: 0 -%}
              {%- if variant.id == variantId -%}
                {%- assign seasonalVariant = variant -%}
              {%- endif -%}
            {%- endfor -%}
            {%- assign images = seasonalVariant.metafields.global.gallery_images | map: "src" | reverse -%}
            {%- capture ss_compare_at_price -%}{%- render 'price', product: seasonalProduct, use_variant: true, only_compare_at_price: true -%}{%- endcapture -%}
            {%- capture ss_price -%}{%- render 'price', product: seasonalProduct, use_variant: true, only_price: true -%}{%- endcapture -%}
            {
              "id": "{{seasonalVariant.id}}",
              "price": "{{ seasonalProduct.price | money_with_currency }}",
              "ss_price": "{{ss_price | strip}}",
              "ss_compare_at_price": "{{ss_compare_at_price | strip}}",
              "compare_at_price": "{{ seasonalProduct.compare_at_price | money_with_currency }}",
              "productTitle": "{{ seasonalProduct.title }}",
              "media": [
              {%- for image in images -%}
                {% comment %} "{{ image | file_img_url: '1500x' }}"{%- unless forloop.last -%},{%- endunless -%} {% endcomment %}
                "{{ image | append: 'w_1500,h_1500'  }}"{%- unless forloop.last -%},{%- endunless -%}
              {%- endfor -%}
              ]
            },
          {%- endfor -%}
          {%- for variant in product.variants -%}
            {% comment %} {% assign images = variant.metafields.global.images | split : '|' %} {% endcomment %}
            {% assign images = variant.metafields.global.gallery_images | map: "src" | reverse %}
            {%- capture ss_compare_at_price -%}{%- render 'price', product: product, use_variant: true, only_compare_at_price: true -%}{%- endcapture -%}
            {%- capture ss_price -%}{%- render 'price', product: product, use_variant: true, only_price: true -%}{%- endcapture -%}
            {
              "id": "{{variant.id}}",
              "price": "{{ variant.price | money_with_currency }}",
              "compare_at_price": "{{ variant.compare_at_price | money_with_currency }}",
              "productTitle": "{{ product.title }}",
              "ss_price": "{{ss_price | strip}}",
              "ss_compare_at_price": "{{ss_compare_at_price | strip}}",
              "media": [
              {%- for image in images -%}
                {% comment %} "{{ image | file_img_url: '1500x' }}"{%- unless forloop.last -%},{%- endunless -%} {% endcomment %}
                "{{ image | append: 'w_1500,h_1500'  }}"{%- unless forloop.last -%},{%- endunless -%}
              {%- endfor -%}
              ]
            }{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
        ]
      </script>


      <slider-component id="ProductSlider" class="slider-mobile-gutter desktop-slider">
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile product-thumbnails__slider" role="list">
          {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
          <!-- {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
            </li>
          {%- endif -%} -->


          {% comment %} {% assign currentImages = product.selected_or_first_available_variant.metafields.global.images | split: '|' %} {% endcomment %}
          {% assign currentImages = product.selected_or_first_available_variant.metafields.global.gallery_images | map: "src" %}

          {% comment %} {% for media in galleryImages %}
            {{ media.src }}
            <li data-metafield-media class="product__media-item grid__item slider__slide {% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %} {% if media.src == product.featured_image %} mobile-main-image {% endif %}" data-media-id="{{ section.id }}-{{ product.selected_or_first_available_variant.id }}-{{forloop.index}}">
              {% render 'product-thumbnail', media: media.src, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
              {%- if product_badge %}
                <img class="product__badge" src="{{ product_badge }}" alt="{{ product_badge_alt | default: "Sale badge" }}">
              {%- endif %}
            </li>
          {% endfor %} {% endcomment %}

          {% for media in currentImages %}
            <li data-metafield-media class="product__media-item grid__item slider__slide {% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %} {% if media.src == product.featured_image %} mobile-main-image {% endif %}" data-media-id="{{ section.id }}-{{ product.selected_or_first_available_variant.id }}-{{forloop.index}}">
              {% render 'product-thumbnail-external', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
              {%- if product_badge %}
                <img class="product__badge" src="{{ product_badge }}" alt="{{ product_badge_alt | default: "Sale badge" }}">
              {%- endif %}
            </li>
          {% endfor %}
          {% if currentImages.size %}
            {% assign index = currentImages.size | plus: 1 %}
          {% endif %}

          {% assign variant_images_2 = product.variants | map: 'image' %}
          {% assign break_after_first_variant = false %}

          {%- for media in product.media -%}
            {% if product.metafields.product.hide_variant_images %}
              {%- for image in variant_images_2 -%}
                {% if image.src == media.preview_image.src %}
                  {% assign break_after_first_variant = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if break_after_first_variant %}
              {% break %}
            {% endif %}

            {% unless index %}
              {% assign index = forloop.index %}
            {% endunless %}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %} {% if media.src == product.featured_image %} mobile-main-image {% endif %}" data-media-id="{{ section.id }}-{{ media.id }}" data-variant-id="true">
                {% render 'product-thumbnail', media: media, position: index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
                <div class="product__badge-wrapper">
                  {%- if product_badge and product.selected_or_first_available_variant.available %}
                    <img class="product__badge" src="{{ product_badge }}" alt="{{ product_badge_alt | default: "Sale badge" }}">
                  {%- endif -%}
                  {% unless product.selected_or_first_available_variant.available %}
                    <svg class="product__badge" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M41.7669 9.88515C50.567 -2.88755 69.433 -2.88754 78.2331 9.88515C93.1403 5.82253 107.539 17.8413 106.207 33.2346L106.168 33.6867C120.261 40.3528 123.444 59.0493 112.5 70.1528L112.667 70.516C119.143 84.6033 109.711 100.855 94.2669 102.221C90.3301 117.164 72.5908 123.845 60 114.885C47.4092 123.845 29.6699 117.164 25.7331 102.221C10.2887 100.855 0.856934 84.6033 7.33305 70.516L7.5 70.1528C-3.44373 59.0493 -0.260886 40.3527 13.8323 33.6867L13.7932 33.2347C12.4606 17.8413 26.8597 5.82253 41.7669 9.88515Z" fill="#CBCBCB"/>
                      <path d="M45.5204 18.5706C52.6794 8.11277 68.1101 8.11277 75.2691 18.5706C87.4242 15.2366 99.1831 25.0299 98.1031 37.5876L98.0579 38.113C109.584 43.6 112.155 58.9329 103.224 68.0535L103.417 68.4763C108.679 79.9976 100.966 93.2601 88.3493 94.3829L88.2624 94.7151C85.0699 106.911 70.6443 112.122 60.3947 104.781C50.1452 112.122 35.7196 106.911 32.5271 94.7151L32.4401 94.3829C19.8238 93.2601 12.1102 79.9976 17.3727 68.4763L17.5658 68.0535C8.63401 58.9329 11.2053 43.6 22.7316 38.113L22.6864 37.5876C21.6063 25.0299 33.3652 15.2366 45.5204 18.5706Z" fill="#F1F1F1"/>
                      <path d="M37.8559 59.3939C36.9435 59.3939 36.1186 59.2378 35.3811 58.9256C34.6561 58.6134 34.0812 58.1638 33.6562 57.5769C33.2312 56.9899 33.0125 56.2968 33 55.4975H35.8123C35.8498 56.0345 36.0373 56.4591 36.3748 56.7713C36.7248 57.0836 37.1997 57.2397 37.7997 57.2397C38.4122 57.2397 38.8934 57.0961 39.2434 56.8088C39.5933 56.5091 39.7683 56.1219 39.7683 55.6474C39.7683 55.2602 39.6496 54.9418 39.4121 54.692C39.1746 54.4422 38.8746 54.2487 38.5122 54.1113C38.1622 53.9614 37.6747 53.7991 37.0497 53.6242C36.1998 53.3745 35.5061 53.1309 34.9686 52.8937C34.4437 52.6439 33.9874 52.2755 33.6 51.7884C33.225 51.2889 33.0375 50.627 33.0375 49.8028C33.0375 49.0285 33.2312 48.3541 33.6187 47.7796C34.0062 47.2051 34.5499 46.768 35.2499 46.4683C35.9498 46.1561 36.7498 46 37.6497 46C38.9996 46 40.0933 46.3309 40.9308 46.9928C41.7807 47.6422 42.2494 48.5539 42.3369 49.7278H39.4496C39.4246 49.2782 39.2309 48.9098 38.8684 48.6226C38.5184 48.3229 38.0497 48.173 37.4622 48.173C36.9498 48.173 36.5373 48.3041 36.2248 48.5664C35.9248 48.8286 35.7748 49.2095 35.7748 49.7091C35.7748 50.0588 35.8873 50.3522 36.1123 50.5895C36.3498 50.8143 36.6373 51.0017 36.9748 51.1515C37.3247 51.2889 37.8122 51.4512 38.4372 51.6386C39.2871 51.8883 39.9808 52.1381 40.5183 52.3879C41.0557 52.6376 41.5182 53.0123 41.9057 53.5118C42.2932 54.0114 42.4869 54.667 42.4869 55.4788C42.4869 56.1781 42.3057 56.8275 41.9432 57.427C41.5807 58.0264 41.0495 58.5073 40.3495 58.8694C39.6496 59.2191 38.8184 59.3939 37.8559 59.3939Z" fill="#2C272D"/>
                      <path d="M53.6495 59.3939C52.4246 59.3939 51.2996 59.1067 50.2747 58.5322C49.2498 57.9578 48.4373 57.1647 47.8374 56.1532C47.2374 55.1291 46.9374 53.9739 46.9374 52.6876C46.9374 51.4138 47.2374 50.2711 47.8374 49.2595C48.4373 48.2354 49.2498 47.4362 50.2747 46.8617C51.2996 46.2872 52.4246 46 53.6495 46C54.8869 46 56.0118 46.2872 57.0243 46.8617C58.0492 47.4362 58.8554 48.2354 59.4429 49.2595C60.0429 50.2711 60.3428 51.4138 60.3428 52.6876C60.3428 53.9739 60.0429 55.1291 59.4429 56.1532C58.8554 57.1647 58.0492 57.9578 57.0243 58.5322C55.9994 59.1067 54.8744 59.3939 53.6495 59.3939ZM53.6495 57.0523C54.4369 57.0523 55.1307 56.8775 55.7306 56.5278C56.3306 56.1657 56.7993 55.6536 57.1368 54.9917C57.4743 54.3298 57.643 53.5618 57.643 52.6876C57.643 51.8134 57.4743 51.0516 57.1368 50.4022C56.7993 49.7403 56.3306 49.2345 55.7306 48.8848C55.1307 48.5352 54.4369 48.3603 53.6495 48.3603C52.862 48.3603 52.1621 48.5352 51.5496 48.8848C50.9497 49.2345 50.4809 49.7403 50.1435 50.4022C49.806 51.0516 49.6372 51.8134 49.6372 52.6876C49.6372 53.5618 49.806 54.3298 50.1435 54.9917C50.4809 55.6536 50.9497 56.1657 51.5496 56.5278C52.1621 56.8775 52.862 57.0523 53.6495 57.0523Z" fill="#2C272D"/>
                      <path d="M67.7328 57.1835H72.045V59.2628H65.108V46.1873H67.7328V57.1835Z" fill="#2C272D"/>
                      <path d="M81.1004 46.1873C82.4753 46.1873 83.6815 46.4558 84.7189 46.9928C85.7689 47.5298 86.5751 48.2979 87.1376 49.297C87.7125 50.2836 88 51.4325 88 52.7438C88 54.0551 87.7125 55.204 87.1376 56.1906C86.5751 57.1647 85.7689 57.9203 84.7189 58.4573C83.6815 58.9943 82.4753 59.2628 81.1004 59.2628H76.5257V46.1873H81.1004ZM81.0067 57.0336C82.3816 57.0336 83.444 56.659 84.194 55.9096C84.9439 55.1603 85.3189 54.1051 85.3189 52.7438C85.3189 51.3826 84.9439 50.321 84.194 49.5592C83.444 48.7849 82.3816 48.3978 81.0067 48.3978H79.1505V57.0336H81.0067Z" fill="#2C272D"/>
                      <path d="M45.6062 80C44.3813 80 43.2563 79.7128 42.2314 79.1383C41.2064 78.5638 40.394 77.7708 39.794 76.7592C39.1941 75.7352 38.8941 74.58 38.8941 73.2937C38.8941 72.0198 39.1941 70.8771 39.794 69.8656C40.394 68.8415 41.2064 68.0422 42.2314 67.4678C43.2563 66.8933 44.3813 66.6061 45.6062 66.6061C46.8436 66.6061 47.9685 66.8933 48.981 67.4678C50.0059 68.0422 50.8121 68.8415 51.3996 69.8656C51.9995 70.8771 52.2995 72.0198 52.2995 73.2937C52.2995 74.58 51.9995 75.7352 51.3996 76.7592C50.8121 77.7708 50.0059 78.5638 48.981 79.1383C47.956 79.7128 46.8311 80 45.6062 80ZM45.6062 77.6584C46.3936 77.6584 47.0873 77.4836 47.6873 77.1339C48.2873 76.7717 48.756 76.2597 49.0935 75.5978C49.4309 74.9359 49.5997 74.1679 49.5997 73.2937C49.5997 72.4195 49.4309 71.6577 49.0935 71.0083C48.756 70.3464 48.2873 69.8406 47.6873 69.4909C47.0873 69.1412 46.3936 68.9664 45.6062 68.9664C44.8187 68.9664 44.1188 69.1412 43.5063 69.4909C42.9063 69.8406 42.4376 70.3464 42.1001 71.0083C41.7627 71.6577 41.5939 72.4195 41.5939 73.2937C41.5939 74.1679 41.7627 74.9359 42.1001 75.5978C42.4376 76.2597 42.9063 76.7717 43.5063 77.1339C44.1188 77.4836 44.8187 77.6584 45.6062 77.6584Z" fill="#2C272D"/>
                      <path d="M59.652 66.7934V74.8859C59.652 75.7726 59.8832 76.4533 60.3457 76.9278C60.8082 77.3899 61.4581 77.6209 62.2956 77.6209C63.1455 77.6209 63.8017 77.3899 64.2642 76.9278C64.7267 76.4533 64.9579 75.7726 64.9579 74.8859V66.7934H67.6015V74.8672C67.6015 75.9787 67.3578 76.9216 66.8703 77.6959C66.3953 78.4577 65.7516 79.0321 64.9391 79.4193C64.1392 79.8064 63.2455 80 62.2581 80C61.2831 80 60.3957 79.8064 59.5957 79.4193C58.8083 79.0321 58.1833 78.4577 57.7209 77.6959C57.2584 76.9216 57.0271 75.9787 57.0271 74.8672V66.7934H59.652Z" fill="#2C272D"/>
                      <path d="M81.8556 66.7934V68.9102H78.3683V79.8689H75.7435V68.9102H72.2562V66.7934H81.8556Z" fill="#2C272D"/>
                      </svg>

                  {% endunless %}
                </div>

              </li>
            {% assign index = index | plus: 1 %}
          {%- endfor -%}
        </ul>
      </slider-component>
    </div>

    <div class="main-image-wrap">
      {% if product.selected_or_first_available_variant.media[0] %}
        {% render 'product-thumbnail', media: product.selected_or_first_available_variant.media[0], position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
      {% elsif product.selected_or_first_available_variant.metafields.global.gallery_images %}
        {% comment %} {% assign currentImages = product.selected_or_first_available_variant.metafields.global.images | split: '|' %} {% endcomment %}
        {% assign currentImages = product.selected_or_first_available_variant.metafields.global.gallery_images | map: "src" %}
        {% render 'product-thumbnail-external', media: currentImages[0], position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
      {% else %}
        {% render 'product-thumbnail', media: product.media[0], position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
      {% endif %}
      <div class="product__badge-wrapper">
        {%- if product_badge and product.selected_or_first_available_variant.available %}
          <img class="product__badge" src="{{ product_badge }}" alt="{{ product_badge_alt | default: "Sale badge" }}">
        {%- endif -%}
        {% unless product.selected_or_first_available_variant.available %}
          <svg class="product__badge" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M41.7669 9.88515C50.567 -2.88755 69.433 -2.88754 78.2331 9.88515C93.1403 5.82253 107.539 17.8413 106.207 33.2346L106.168 33.6867C120.261 40.3528 123.444 59.0493 112.5 70.1528L112.667 70.516C119.143 84.6033 109.711 100.855 94.2669 102.221C90.3301 117.164 72.5908 123.845 60 114.885C47.4092 123.845 29.6699 117.164 25.7331 102.221C10.2887 100.855 0.856934 84.6033 7.33305 70.516L7.5 70.1528C-3.44373 59.0493 -0.260886 40.3527 13.8323 33.6867L13.7932 33.2347C12.4606 17.8413 26.8597 5.82253 41.7669 9.88515Z" fill="#CBCBCB"/>
            <path d="M45.5204 18.5706C52.6794 8.11277 68.1101 8.11277 75.2691 18.5706C87.4242 15.2366 99.1831 25.0299 98.1031 37.5876L98.0579 38.113C109.584 43.6 112.155 58.9329 103.224 68.0535L103.417 68.4763C108.679 79.9976 100.966 93.2601 88.3493 94.3829L88.2624 94.7151C85.0699 106.911 70.6443 112.122 60.3947 104.781C50.1452 112.122 35.7196 106.911 32.5271 94.7151L32.4401 94.3829C19.8238 93.2601 12.1102 79.9976 17.3727 68.4763L17.5658 68.0535C8.63401 58.9329 11.2053 43.6 22.7316 38.113L22.6864 37.5876C21.6063 25.0299 33.3652 15.2366 45.5204 18.5706Z" fill="#F1F1F1"/>
            <path d="M37.8559 59.3939C36.9435 59.3939 36.1186 59.2378 35.3811 58.9256C34.6561 58.6134 34.0812 58.1638 33.6562 57.5769C33.2312 56.9899 33.0125 56.2968 33 55.4975H35.8123C35.8498 56.0345 36.0373 56.4591 36.3748 56.7713C36.7248 57.0836 37.1997 57.2397 37.7997 57.2397C38.4122 57.2397 38.8934 57.0961 39.2434 56.8088C39.5933 56.5091 39.7683 56.1219 39.7683 55.6474C39.7683 55.2602 39.6496 54.9418 39.4121 54.692C39.1746 54.4422 38.8746 54.2487 38.5122 54.1113C38.1622 53.9614 37.6747 53.7991 37.0497 53.6242C36.1998 53.3745 35.5061 53.1309 34.9686 52.8937C34.4437 52.6439 33.9874 52.2755 33.6 51.7884C33.225 51.2889 33.0375 50.627 33.0375 49.8028C33.0375 49.0285 33.2312 48.3541 33.6187 47.7796C34.0062 47.2051 34.5499 46.768 35.2499 46.4683C35.9498 46.1561 36.7498 46 37.6497 46C38.9996 46 40.0933 46.3309 40.9308 46.9928C41.7807 47.6422 42.2494 48.5539 42.3369 49.7278H39.4496C39.4246 49.2782 39.2309 48.9098 38.8684 48.6226C38.5184 48.3229 38.0497 48.173 37.4622 48.173C36.9498 48.173 36.5373 48.3041 36.2248 48.5664C35.9248 48.8286 35.7748 49.2095 35.7748 49.7091C35.7748 50.0588 35.8873 50.3522 36.1123 50.5895C36.3498 50.8143 36.6373 51.0017 36.9748 51.1515C37.3247 51.2889 37.8122 51.4512 38.4372 51.6386C39.2871 51.8883 39.9808 52.1381 40.5183 52.3879C41.0557 52.6376 41.5182 53.0123 41.9057 53.5118C42.2932 54.0114 42.4869 54.667 42.4869 55.4788C42.4869 56.1781 42.3057 56.8275 41.9432 57.427C41.5807 58.0264 41.0495 58.5073 40.3495 58.8694C39.6496 59.2191 38.8184 59.3939 37.8559 59.3939Z" fill="#2C272D"/>
            <path d="M53.6495 59.3939C52.4246 59.3939 51.2996 59.1067 50.2747 58.5322C49.2498 57.9578 48.4373 57.1647 47.8374 56.1532C47.2374 55.1291 46.9374 53.9739 46.9374 52.6876C46.9374 51.4138 47.2374 50.2711 47.8374 49.2595C48.4373 48.2354 49.2498 47.4362 50.2747 46.8617C51.2996 46.2872 52.4246 46 53.6495 46C54.8869 46 56.0118 46.2872 57.0243 46.8617C58.0492 47.4362 58.8554 48.2354 59.4429 49.2595C60.0429 50.2711 60.3428 51.4138 60.3428 52.6876C60.3428 53.9739 60.0429 55.1291 59.4429 56.1532C58.8554 57.1647 58.0492 57.9578 57.0243 58.5322C55.9994 59.1067 54.8744 59.3939 53.6495 59.3939ZM53.6495 57.0523C54.4369 57.0523 55.1307 56.8775 55.7306 56.5278C56.3306 56.1657 56.7993 55.6536 57.1368 54.9917C57.4743 54.3298 57.643 53.5618 57.643 52.6876C57.643 51.8134 57.4743 51.0516 57.1368 50.4022C56.7993 49.7403 56.3306 49.2345 55.7306 48.8848C55.1307 48.5352 54.4369 48.3603 53.6495 48.3603C52.862 48.3603 52.1621 48.5352 51.5496 48.8848C50.9497 49.2345 50.4809 49.7403 50.1435 50.4022C49.806 51.0516 49.6372 51.8134 49.6372 52.6876C49.6372 53.5618 49.806 54.3298 50.1435 54.9917C50.4809 55.6536 50.9497 56.1657 51.5496 56.5278C52.1621 56.8775 52.862 57.0523 53.6495 57.0523Z" fill="#2C272D"/>
            <path d="M67.7328 57.1835H72.045V59.2628H65.108V46.1873H67.7328V57.1835Z" fill="#2C272D"/>
            <path d="M81.1004 46.1873C82.4753 46.1873 83.6815 46.4558 84.7189 46.9928C85.7689 47.5298 86.5751 48.2979 87.1376 49.297C87.7125 50.2836 88 51.4325 88 52.7438C88 54.0551 87.7125 55.204 87.1376 56.1906C86.5751 57.1647 85.7689 57.9203 84.7189 58.4573C83.6815 58.9943 82.4753 59.2628 81.1004 59.2628H76.5257V46.1873H81.1004ZM81.0067 57.0336C82.3816 57.0336 83.444 56.659 84.194 55.9096C84.9439 55.1603 85.3189 54.1051 85.3189 52.7438C85.3189 51.3826 84.9439 50.321 84.194 49.5592C83.444 48.7849 82.3816 48.3978 81.0067 48.3978H79.1505V57.0336H81.0067Z" fill="#2C272D"/>
            <path d="M45.6062 80C44.3813 80 43.2563 79.7128 42.2314 79.1383C41.2064 78.5638 40.394 77.7708 39.794 76.7592C39.1941 75.7352 38.8941 74.58 38.8941 73.2937C38.8941 72.0198 39.1941 70.8771 39.794 69.8656C40.394 68.8415 41.2064 68.0422 42.2314 67.4678C43.2563 66.8933 44.3813 66.6061 45.6062 66.6061C46.8436 66.6061 47.9685 66.8933 48.981 67.4678C50.0059 68.0422 50.8121 68.8415 51.3996 69.8656C51.9995 70.8771 52.2995 72.0198 52.2995 73.2937C52.2995 74.58 51.9995 75.7352 51.3996 76.7592C50.8121 77.7708 50.0059 78.5638 48.981 79.1383C47.956 79.7128 46.8311 80 45.6062 80ZM45.6062 77.6584C46.3936 77.6584 47.0873 77.4836 47.6873 77.1339C48.2873 76.7717 48.756 76.2597 49.0935 75.5978C49.4309 74.9359 49.5997 74.1679 49.5997 73.2937C49.5997 72.4195 49.4309 71.6577 49.0935 71.0083C48.756 70.3464 48.2873 69.8406 47.6873 69.4909C47.0873 69.1412 46.3936 68.9664 45.6062 68.9664C44.8187 68.9664 44.1188 69.1412 43.5063 69.4909C42.9063 69.8406 42.4376 70.3464 42.1001 71.0083C41.7627 71.6577 41.5939 72.4195 41.5939 73.2937C41.5939 74.1679 41.7627 74.9359 42.1001 75.5978C42.4376 76.2597 42.9063 76.7717 43.5063 77.1339C44.1188 77.4836 44.8187 77.6584 45.6062 77.6584Z" fill="#2C272D"/>
            <path d="M59.652 66.7934V74.8859C59.652 75.7726 59.8832 76.4533 60.3457 76.9278C60.8082 77.3899 61.4581 77.6209 62.2956 77.6209C63.1455 77.6209 63.8017 77.3899 64.2642 76.9278C64.7267 76.4533 64.9579 75.7726 64.9579 74.8859V66.7934H67.6015V74.8672C67.6015 75.9787 67.3578 76.9216 66.8703 77.6959C66.3953 78.4577 65.7516 79.0321 64.9391 79.4193C64.1392 79.8064 63.2455 80 62.2581 80C61.2831 80 60.3957 79.8064 59.5957 79.4193C58.8083 79.0321 58.1833 78.4577 57.7209 77.6959C57.2584 76.9216 57.0271 75.9787 57.0271 74.8672V66.7934H59.652Z" fill="#2C272D"/>
            <path d="M81.8556 66.7934V68.9102H78.3683V79.8689H75.7435V68.9102H72.2562V66.7934H81.8556Z" fill="#2C272D"/>
          </svg>

        {% endunless %}
      </div>

    </div>

    <!-- sticky section -->


    <div class="sticky-info-bar{% if product.selected_variant.available == false %} sticky-info-bar--sold-out{% endif %} hiddenSection">
      <div class="hiddenRow">
        <div class="oneColumn firstColumn">
          <h1 class="product__title">{{product.title | escape}}</h1>
          <span>{%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}</span>
        </div>
        <div class="oneColumn secondColumn">
          <a class="notify-button" href="#">Email Me When Available</a>
          <div class="product-form__input product-form__quantity {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}" {{ block.shopify_attributes }}>
            <quantity-input class="quantity multiple-inputs">
              <button class="quantity__button no-js-hidden" name="minus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                {% render 'icon-minus' %}
              </button>
              <input class="quantity__input"
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  min="1"
                  value="1"
                  form="product-form-{{ section.id }}"
                >
              <button class="quantity__button no-js-hidden" name="plus" type="button">
                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                {% render 'icon-plus' %}
              </button>
            </quantity-input>
          </div>
          <div {{ block.shopify_attributes }} class="product__form">
            <product-form class="product-form">
              <div class="product-form__error-message-wrapper" role="alert" hidden>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"/>
                </svg>
                <span class="product-form__error-message"></span>
              </div>

              {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {%- if product.available and product.tags contains "pre-order" or  product.tags contains "preorder"-%}
                  <input type="hidden" name="properties[Pre-order]" value="Yes">
                {%- endif -%}
                <div class="product-form__buttons" id="NavAddToCart">
                  <button
                    type="submit"
                    name="add"
                    class="add-to-cart__button product-form__submit button button--full-width  {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %} {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                  {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                  >
                      <span class="text-label ">
                        {%- if product.available and product.tags contains "pre-order" or  product.tags contains "preorder"-%}
                          {{ 'products.product.preorder' | t }}
                        {%- else -%}
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        {%- endif -%}
                      </span>
                      <div class="loading-overlay__spinner hidden">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                  </button>
                  {%- if block.settings.show_dynamic_checkout -%}
                    {{ form | payment_button }}
                  {%- endif -%}
                </div>
              {%- endform -%}
            </product-form>
            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

            <pickup-availability class="product__pickup-availabilities no-js-hidden"
              {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
              data-base-url="{{ shop.url }}{{ routes.root_url }}"
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              data-has-only-default-variant="{{ product.has_only_default_variant }}"
            >
              <template>
                <pickup-availability-preview class="pickup-availability-preview">
                  {% render 'icon-unavailable' %}
                  <div class="pickup-availability-info">
                    <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                    <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                  </div>
                </pickup-availability-preview>
              </template>
            </pickup-availability>
          </div>

          {% unless isPatch or product.title == "Digital Gift Card" %}
            {% for tag in product.tags %}
              {% if tag contains 'Customize' %}
                {% unless tag contains 'Pre-Customized' %}
                <div class="customizeSection">
                  <a class="customize__button button button--full-width " href="{{ product.url }}?view=customizer">
                    <span class="text-label">CUSTOMIZE</span>
                  </a>
                </div>
                {% break %}
                {% endunless %}
              {% endif %}
            {% endfor %}

          {% endunless %}
        </div>
      </div>
    </div>

    <!-- sticky section end -->

    <div class="product__info-wrapper grid__item">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}{% if product.selected_variant.available == false %} product__info-container--sold-out{% endif %}{% if product_is_gwp == true %} product_info--gwp{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="product__title" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'price' -%}
            <div class="no-js-hidden pricebox" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}

              {%- comment -%} Final Sale {%- endcomment -%}
              {% if settings.final_sale_enabled %}
                {% if product.tags contains settings.final_sale_tag %}
                  <span class="final-sale__text">{{ settings.final_sale_message  }}</span>
                {% endif %}
              {% endif %}
            </div>
            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__tax caption rte">
                {%- if shop.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}

          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion" {{ block.shopify_attributes }}>
              <details>
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
          {%- when 'embroidered_name' -%}

            <div class="grid product-form__custom-fields">
              {%- if product.tags contains 'embroidered' -%}
                <fieldset class="js product-form__input">
                  <legend class="form__label optionName">{{ block.settings.label_text }}</legend>
                  <input class="embroidered__input product-form__input-text"
                    type="text"
                    name="properties[Name]"
                    id="Embroidered-{{ section.id }}"
                    form="product-form-{{ section.id }}"
                  />
                </fieldset>
              {%- endif -%}
            </div>

          {%- when 'quantity_selector' -%}

            <div class="grid product-form__input-wrapper">
            <div class="product-form__input product-form__quantity {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}" {{ block.shopify_attributes }}>
              <quantity-input class="quantity multiple-inputs">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="product-form-{{ section.id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
          {%- when 'share' -%}
            <share-button class="share-button" {{ block.shopify_attributes }}>
              <button class="share-button__button hidden">
                {% render 'icon-share' %}
                {{ block.settings.share_label | escape }}
              </button>
              <details>
                <summary class="share-button__button">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </summary>
                <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                  <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                    <input type="text"
                          class="field__input"
                          id="url"
                          value="{{ shop.url | append: product.url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="share-button__close hidden no-js-hidden">
                    {% render 'icon-close' %}
                    <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                  </button>
                  <button class="share-button__copy no-js-hidden">
                    {% render 'icon-clipboard' %}
                    <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                  </button>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios id="variant-radios" class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <fieldset class="js product-form__input">
                      <legend class="form__label optionName" data-option="{{ option.name }}">{{ option.name }}<span class="selectedValue">{{ option.selected_value }}</span></legend>
                      <!-- showing the meta images instead of dropdown -->

                      {% assign currentVariant = product.selected_or_first_available_variant %}
                      {% assign letters = false %}
                      {% for tag in product.tags %}
                        {% if tag contains 'Letters & Numbers' %}
                          {% assign letters = true %}
                        {% endif %}
                      {% endfor %}

                      {% comment %} color swatches {% endcomment %}
                      {% if product.variants[0].metafields.general.swatch_image != blank %}
                        <div class="swatches">
                          {%- for value in option.values -%}
                            {%- for variant in product.variants -%}
                              {%- unless variant.metafields.global.seasonal %}
                                {%- if variant.metafields.general.swatch_image != blank -%}
                                  {%- if value == variant.title -%}
                                    <div class="swatch {% if variant.available == false %}unavailable{% endif %}">
                                      {%- comment -%} Almost gone variant {%- endcomment -%}
                                      {% assign product_badge = product_badge_default %}
                                      {% if variant.inventory_quantity > 0 and variant.inventory_quantity <= almost_remaining_qy %}
                                        {% assign product_badge = shop.metafields.global.almost_gone_image[0].src %}
                                      {% endif %}
                                      <input data-badge="{{ product_badge }}" data-available="{{ variant.available }}" type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                      data-handle="{{ variant.product.handle }}"
                                      name="{{ option.name }}"
                                      value="{{ value | escape }}"
                                      data-id="{{ variant.id }}"
                                      data-sku="{{ variant.sku }}"
                                      form="product-form-{{ section.id }}"
                                      {% if option.selected_value == value %}checked{% endif %}
                                      >
                                      <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" class="product-swatch__button">
                                        {% for variant_image in variant.metafields.general.swatch_image %}
                                        <img id="{{variant_image['scope']}}" class="productVariations" src="{{variant_image['src']}}">
                                        {% endfor %}
                                      </label>
                                    </div>
                                  {%- endif -%}
                                {%- endif -%}
                              {% endunless %}
                            {%- endfor -%}
                          {%- endfor -%}
                        </div>

                      {% comment %} letters {% endcomment %}
                      {% else %}
                        <div class="variationsContainer letter-list">
                          {% for variant in product.variants %}
                            <div class="letter-option {% if product.title == 'Digital Gift Card'%}wide{% endif %}" >
                              {%- comment -%} Almost gone variant {%- endcomment -%}
                              {% assign product_badge = product_badge_default %}
                              {% if variant.inventory_quantity > 0 and variant.inventory_quantity <= almost_remaining_qy %}
                                {% assign product_badge = shop.metafields.global.almost_gone_image[0].src %}
                              {% endif %}
                              <input data-badge="{{ product_badge }}" data-available="{{ variant.available }}" type="radio" id="{{ option.name }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ variant.title }}"
                                data-id="{{ variant.id }}"
                                form="product-form-{{ section.id }}"
                                {% if letters %}data-image="{{variant.featured_image | img_url: '1500x' }}"{% endif %}
                                {% if variant.id == currentVariant.id %}checked{% endif %}
                                >

                              <label for="{{ option.name }}-{{ forloop.index0 }}" class="{% if product.title == 'Digital Gift Card'%}wide{% endif %} {% unless variant.available %}disabled{% endunless %}">
                                <span class="productVariations letter">{{ variant.title }}</span>
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      {% else %}
                        {% comment %}Same code as elsif above, but here as default case{% endcomment %}
                        <div class="variationsContainer letter-list">
                          {% for variant in product.variants %}
                            <div class="letter-option {% if product.title == 'Digital Gift Card'%}wide{% endif %}" >
                              <input data-available="{{ variant.available }}" type="radio" id="{{ option.name }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ variant.title }}"
                                data-id="{{ variant.id }}"
                                form="product-form-{{ section.id }}"
                                {% if letters %}data-image="{{variant.featured_image | img_url: '1500x' }}"{% endif %}
                                {% if variant.id == currentVariant.id %}checked{% endif %}
                                >

                              <label for="{{ option.name }}-{{ forloop.index0 }}" class="{% if product.title == 'Digital Gift Card'%}wide{% endif %} {% unless variant.available %}disabled{% endunless %}">
                                <span class="productVariations">{{ variant.title }}</span>
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}
                    </fieldset>

                    {% comment %} seasonal color swatches {% endcomment %}
                    {% if hasSeasonalVariants %}
                      <fieldset class="js product-form__input">
                        <legend class="form__label optionName" data-option="Seasonal">Seasonal</legend>

                        {% if product.variants[0].metafields.general.swatch_image != blank %}
                          <div class="swatches">
                            {%- for value in option.values -%}
                              {%- for variant in product.variants -%}
                                {% if variant.metafields.global.seasonal %}
                                  {%- if variant.metafields.general.swatch_image != blank -%}
                                    {%- if value == variant.title -%}
                                      <div class="swatch {% if variant.available == false %}unavailable{% endif %}">
                                        {%- comment -%} Almost gone variant {%- endcomment -%}
                                        {% assign product_badge = product_badge_default %}
                                        {% if variant.inventory_quantity > 0 and variant.inventory_quantity <= almost_remaining_qy %}
                                          {% assign product_badge = shop.metafields.global.almost_gone_image[0].src %}
                                        {% endif %}
                                        <input data-badge="{{ product_badge }}" data-available="{{ variant.available }}" type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                        data-handle="{{ variant.product.handle }}"
                                        name="{{ option.name }}"
                                        value="{{ value | escape }}"
                                        data-id="{{ variant.id }}"
                                        data-sku="{{ variant.sku }}"
                                        form="product-form-{{ section.id }}"
                                        {% if option.selected_value == value %}checked{% endif %}
                                        >
                                        <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" class="product-swatch__button">
                                          {% for variant_image in variant.metafields.general.swatch_image %}
                                          <img id="{{variant_image['scope']}}" class="productVariations" src="{{variant_image['src']}}">
                                          {% endfor %}
                                        </label>
                                      </div>
                                    {%- endif -%}
                                  {%- endif -%}
                                {% endif %}
                              {%- endfor -%}
                            {%- endfor -%}

                            {%- for handle in seasonalProductHandles -%}
                              {% assign seasonalProduct = all_products[handle] %}
                              {% assign seasonalVariant = '' %}
                              {% assign loopNum = forloop.index0 %}
                              {% for variant in seasonalProduct.variants %}
                                {% assign variantId = seasonalVariantIds[loopNum] | plus: 0 %}
                                {% if variant.id == variantId %}
                                  {% assign seasonalVariant = variant %}
                                {% endif %}
                              {% endfor %}
                              {% comment %}Product Badge{% endcomment %}
                              {% for tag_name in shop.metafields.global.product_badge_image_tag_name %}
                                {% assign badge = shop.metafields.global.product_badge_image[forloop.index0][0].src %}
                                {% for tag in seasonalProduct.tags %}
                                  {% if tag == tag_name %}
                                    {% assign seasonal_product_badge = badge %}
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                              {% comment %}End of Product Badge{% endcomment %}
                              {% if seasonalVariant.available %}
                                <div class="swatch {% if seasonalVariant.available == false %}unavailable{% endif %}">
                                  <input data-badge="{{ seasonal_product_badge }}" data-available="{{ seasonalVariant.available }}" type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}-seasonal"
                                  data-handle="{{ seasonalVariant.product.handle }}"
                                  data-seasonal="true"
                                  name="{{ option.name }}"
                                  value="{{ seasonalVariant.title | escape }}"
                                  data-id="{{ seasonalVariant.id }}"
                                  data-sku="{{ seasonalVariant.sku }}"
                                  form="product-form-{{ section.id }}"
                                  {% if option.selected_value == value %}checked{% endif %}
                                  >
                                  <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}-seasonal" class="product-swatch__button">
                                    {% for variant_image in seasonalVariant.metafields.general.swatch_image %}
                                    <img id="{{variant_image['scope']}}" class="productVariations" src="{{variant_image['src']}}">
                                    {% endfor %}
                                  </label>
                                </div>
                              {% endif %}
                            {%- endfor -%}
                          </div>
                        {% endif %}
                      </fieldset>
                    {% endif %}
                  {%-  endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>

                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

            <select class="product-select" style="display: none;">
              {%- for variant in product.variants -%}
                <option value="{{ variant.id }}" data-sku="{{ variant.sku }}">
                  {{ variant.title }}
                </option>
              {%- endfor -%}
            </select>

            {% if product.type contains 'Gift' %}
              {% render 'gift-card-pdp-inputs' %}
            {% endif %}
            
            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'buy_buttons' -%}
            <div {{ block.shopify_attributes }} class="product__form">
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {%- if product.available and product.tags contains "pre-order" or  product.tags contains "preorder"-%}
                    <input type="hidden" name="properties[Pre-order]" value="Yes">
                  {%- endif -%}
                  <div class="product-form__buttons" id="MainAddToCart">
                    <button
                      type="submit"
                      name="add"
                      class="add-to-cart__button product-form__submit button button--full-width {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %} {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span class=" text-label">
                          {%- if product.available and product.tags contains "pre-order" or  product.tags contains "preorder"-%}
                            {{ 'products.product.preorder' | t }}
                          {%- else -%}
                            {%- if product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>
              {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>
            </div>

            {% unless isPatch or product.title == "Digital Gift Card" %}
              {% for tag in product.tags %}
                {% if tag contains 'Customize' %}
                  {% unless tag contains 'Pre-Customized' %}
                    <div class="customizeSection">
                      <a class="customize__button button button--full-width  " href="{{ product.url }}?view=customizer">
                        <span class="text-label">CUSTOMIZE</span>
                      </a>
                    </div>
                    {% break %}
                  {% endunless %}
                {% endif %}
              {% endfor %}

            {% endunless %}

            {% render 'swym-button' %}

            <div class="form-wrapper shop-pay-terms" {{ block.shopify_attributes }}>
              {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>

            <div class="productDetailsDimensions">
              <p class="dimensionsTitle">Description</p>
              <div class="productDescription">{{product.description}}</div>
              {% if product.metafields.global.measurements %}
              <p class="dimensionsTitle">Dimensions</p>
              <p class="productDimensions">{{ product.metafields.global.measurements }}</p>
              {% endif %}
              {% if product.metafields.product.details %}
              <p class="detailsTitle">Materials</p>
              <p class="productDetails">{{ product.metafields.product.details }}</p>
              {% endif %}
            </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          {%- when 'rating' -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
              </p>
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <div class="product-modal__content">
        <div class="product-modal__title"><h3>{{ product.title }}</h3></div>
        <div class="product-modal__description">{{ product.description }}</div>
      </div>
      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="modal__images {{patchClass}}">

        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign media = product.selected_or_first_available_variant.featured_media -%}
          <div class="modal-image-wrapper">
            {%- render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants -%}
          </div>
        {%-  endif -%}

        {%- for media in product.media -%}
          <div class="modal-image-wrapper">
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
          </div>
        {%- endfor -%}
        </div>


      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}
</section>


<script>
  var preorderEnabled = '{{ preorderEnabled | json }}';

  function isIE() {
    const ua = window.navigator.userAgent;
    const msie = ua.indexOf('MSIE ');
    const trident = ua.indexOf('Trident/');
    return (msie > 0 || trident > 0);
  }



  function isMobile() {
    try{ document.createEvent("TouchEvent"); return true; }
    catch(e){ return false; }
  }


  function removeBorder(){
    document.querySelectorAll('.product__media-toggle').forEach((singleMedia) => {
      singleMedia.style.borderBottom = "unset";
    });

  }


  function addActiveBorder(){
    document.querySelectorAll('.product__media-toggle').forEach((productMedia) => {
    productMedia.addEventListener('click', () => {
      removeBorder();
      productMedia.style.borderBottom = "2px solid #ff6491";
      });
    })
  }

  //add to first item on load
  addActiveBorder();

  var mutationObserver = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutation) {
      /*
      let featuredImage = document.querySelector(".main-image-wrap img");
      let variationImages = document.querySelectorAll(".product__media");
      let clickedImage = variationImages[0].childNodes[1];
      featuredImage["srcset"] = clickedImage["srcset"];
      featuredImage.src = clickedImage.src;
      */
    });
  });

  mutationObserver.observe(document.querySelector(".product__media-list"), {
    attributes: true,
    characterData: true,
    childList: true,
    subtree: true,
    attributeOldValue: true,
    characterDataOldValue: true
  });


  document.onscroll = function(){
    let stickyBar = document.querySelector('.sticky-info-bar');
    if(!stickyBar) return;
    let header = document.querySelector('.header--middle-left');
    let cta = document.querySelector('.product__info-wrapper .customize__button')
    let ctaOffset = cta.getBoundingClientRect().top + cta.clientHeight
    let flag = isMobile()
    if (flag == false){
      if (ctaOffset < 0) {
        stickyBar.classList.add("active");
        header.classList.add('hidden');
      } else {
        stickyBar.classList.remove("active");
        header.classList.remove('hidden');
      }
    } else {
      if (ctaOffset < 0) {
        stickyBar.classList.add("active")
        document.querySelector(".secondMobileMenu").style.display = "none";
        if(!header) return;
        header.style.display = "none";
      } else {
        stickyBar.classList.remove("active")
        document.querySelector(".secondMobileMenu").style.display = "block";
        if(!header) return;
        header.style.display = "grid";
      }
    }
  }

  window.changeFeaturedImage = function() {
    console.log("change featured Image")
    // script for changing the featuredImage and showing the badge on the PDP
    let originalFeaturedImage = {{product.featured_media | json}};
    let originalFeaturedImageSrc = originalFeaturedImage.src;
    let originalFeaturedImageSrcParsed = originalFeaturedImageSrc.substring(originalFeaturedImageSrc.indexOf("/products/") + 1);
    originalFeaturedImageSrcParsed = originalFeaturedImageSrcParsed.substring(originalFeaturedImageSrcParsed.indexOf("/") + 1);
    let remove_after = originalFeaturedImageSrcParsed.indexOf('.');
    let productBadge = document.querySelectorAll(".product__badge");
    lastProductBadge = productBadge[productBadge.length - 1];
    firstProductBadge = productBadge[0];
    originalFeaturedImageSrcParsed = originalFeaturedImageSrcParsed.substring(0, remove_after);

    const slides = document.querySelectorAll('.slider__slide');
    slides.forEach((slide,index) => {

      slide.addEventListener('click', () => {
        let featuredImage = document.querySelector(".main-image-wrap img");
        let modalButton = document.querySelector(".main-image-wrap button");
        let slideButton = slide.querySelector("button");
        let ismob = isMobile()
        let slideButtonModalId = slideButton.getAttribute("data-media-id");

        modalButton.setAttribute("data-media-id", slideButtonModalId);
        let slideImage = slide.querySelector(".product__media img");

        featuredImage["srcset"] = slideImage["srcset"];
        featuredImage.src = slideImage.src;

        if(ismob == false && lastProductBadge){
          if(!lastProductBadge) return;
          if(featuredImage.src.includes(originalFeaturedImageSrcParsed)) {
            lastProductBadge.style.display = "block";
          } else {
            lastProductBadge.style.display = "none";
          }
        } else {
          document.querySelectorAll('.product__badge').forEach((badge) => {
            if(!badge) return
            badge.style.display = "none";
            firstProductBadge.style.display = "block";
          });
        }
        const mainBadge = document.querySelector('.main-image-wrap .product__badge')
        if (index === 0)
        {
          if(!mainBadge) return;
          mainBadge.style.display = "block"
        }
      });
    });

    //variations swatches
    document.querySelectorAll('.productVariations:not(.letter)').forEach((variation) => {
      variation.addEventListener('click', () => {
        if (lastProductBadge) {
          lastProductBadge.style.display = "none";
        }

        setTimeout(function() {
          let firstSlide = document.querySelector(".slider__slide button");
          firstSlide.click();
        }, 300);

      });
    });
    addActiveBorder();

    if(preorderEnabled === 'true') {
      var addToCartBtns = document.querySelectorAll('.add-to-cart__button');
      addToCartBtns.forEach(btn => {
        var buttonText = btn.querySelector('span');
        buttonText.textContent = 'Pre-order';
      });
    }
  }

  window.changeFeaturedImage();

  var observeChanges = new MutationObserver(window.changeFeaturedImage);
  const target = document.querySelector("slider-component");
  console.log('target', target)
  observeChanges.observe(target, {
    childList: true,
    subtree: true
  })

  document.addEventListener('DOMContentLoaded', function() {
    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });

</script>

{% javascript %}

  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {

      super.hide();
      window.pauseAllMedia();
      let activeImage = document.querySelector(".active");
      let mainImage = document.querySelector(".main-image-wrap img");
      if(mainImage && activeImage){
        mainImage["srcset"] = activeImage["srcset"];
        mainImage.src = activeImage.src;
      }
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )

      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      if(activeMedia){
        const activeMediaTemplate = activeMedia.querySelector('template');
        const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
        activeMedia.classList.add('active');
        activeMedia.scrollIntoView();
      }

      const container = this.querySelector('[role="document"]');
      container.scrollLeft = (activeMedia.width - container.clientWidth) / 2;

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);

{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ product.selected_or_first_available_variant.featured_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% if product.tags contains 'Juicy Couture Patches' %}
	<style>
		@media screen and (min-width: 1024px) {
			.product__media.media.media--transparent {
				padding-top: 100% !important;
			}
		}		
	</style>
{% endif %}
                      
{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "embroidered_name",
      "name": "t:sections.main-product.blocks.embroidered_name.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label_text",
          "label": "t:sections.main-product.blocks.embroidered_name.fields.label"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "checkbox",
      "id": "breadcrumbs",
      "label": "breadcrumbs",
      "default": true
    }
  ]
}
{% endschema %}
