
{% comment %} REACT ENTRY {% endcomment %}
<div id="customizer-root"></div>

{% comment %} IS LOGGED IN TO SHOW SAVE FOR LATER {% endcomment %}
{% if customer %}
  <script>
    var LOGGED_IN = true;
    var C_ID = {{ customer.id }};
  </script> 
{% endif %}

{%- assign product_ordering = settings.customizer_swatches_categories | strip_html | downcase | split: ',' | json -%}
{%- if settings.enable_hidden_swatches_categories and customer.tags contains 'Admin'-%}
  {%- assign product_ordering = settings.hidden_swatches_categories | strip_html | downcase | split: ',' | json -%}
{%- endif -%}

{% comment %} THEME SETTINGS {% endcomment %}
<script>
  const CALIBRATION = false;
  const DEFAULT_PRODUCT_ORDERING = ["classic", 'Heart Velvet', "Hello Kitty", 'Jewel Tone', 'Maisonette', 'Cozy', 'Fall Colors', "Corduroy", "Clear", "Tie Dye", "Camo", "Camo & Tie Dye", "Denim", "Terry", "Tropical", "Woven", "LoveShackFancy"]
  const PRODUCT_ORDERING = {{ product_ordering }};
  
  const LETTERS_TAG = '{{ settings.letters_tag }}';
  const PATCHES_COLLECTION_HANDLE = '{{ settings.patches_collection_handle }}';
  const SHOW_SOLD_OUT_PATCHES = '{{ settings.show_sold_out_patches }}';

{% if settings.customizer_collab_collections != '' %}
    const COLLAB_COLLECTIONS = {{ settings.customizer_collab_collections | strip_newlines | strip_html | split: ',' | json }};
  {% else %}
    const COLLAB_COLLECTIONS = '';
  {% endif %}

  {% if settings.color_filters != '' %}
    const COLOR_FILTERS = {{ settings.color_filters }};
  {% else %}
    const COLOR_FILTERS = '';
  {% endif %}

  {% if settings.material_filters != '' %}
    const MATERIAL_FILTERS = {{ settings.material_filters | rstrip}};
  {% else %}
    const MATERIAL_FILTERS = '';
  {% endif %}

  {% if settings.collection_filters != '' %}
    const COLLECTION_FILTERS = {{ settings.collection_filters | rstrip }};
  {% else %}
    const COLLECTION_FILTERS = '';
  {% endif %}
</script>

{% comment %} disabling preview bar because this is causing issues with the mobile height on safari for testing {% endcomment %}
<style>
  html{
    padding-bottom:0 !important;
  }
  #preview-bar-iframe{
    display:none !important;
  }
</style>

