<div class="page-careers">
    <section class="careers-listing">
        {% if section.settings.career_image %}
            <img src="{{ section.settings.career_image | img_url: 'master' }}" role="img" />
        {% endif %}
        <div class="careers-content page-width">
            <h1 class="careers-h1">{{section.settings.heading}}</h1>
            {{section.settings.content}}
            <a href="{{ section.settings.button_url }}" class="btn" target="_blank" title="{{section.settings.button_label}}">
                {{section.settings.button_label}}
            </a>
        </div>
    </section>
</div>
{% stylesheet 'scss' %}
    .careers-listing {
        padding-bottom: 30px;
        padding-top: 0;
    }
    section.careers-listing > .careers-h1 {
        margin-top: 10px;
    }
    section.careers-listing .description {
        text-align: center;
        padding: 0 25px;
    }
    #page section.careers-listing a.btn {
        color: #fff;
    }
    #page section.careers-listing a.btn:hover {
        color: #393939;
    }
{% endstylesheet %}
{% schema %}
    {
        "name": "Careers",
        "class": "careers-listing",
        "settings": [
                {
                    "type": "image_picker",
                    "id": "career_image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button Label"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button Url"
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background Color",
					"default": "#fde9f1"
                }
        ]
    }
{% endschema %}