{% layout 'customizer' %}

<div id="customizer-root"></div>



{%- assign product_ordering = settings.customizer_swatches_categories | strip_html | downcase | split: ',' | json -%}
{%- if settings.enable_hidden_swatches_categories and customer.tags contains 'Admin'-%}
  {%- assign product_ordering = settings.hidden_swatches_categories | strip_html | downcase | split: ',' | json -%}
{%- endif -%}

<script>
const CALIBRATION = true;
  const DEFAULT_PRODUCT_ORDERING = ["classic", 'Heart Velvet', "Hello Kitty", 'Jewel Tone', 'Maisonette', 'Cozy', 'Fall Colors', "Corduroy", "Clear", "Tie Dye", "Camo", "Camo & Tie Dye", "Denim", "Terry", "Tropical", "Woven", "LoveShackFancy"]
  const PRODUCT_ORDERING = {{ product_ordering }};

  const LETTERS_TAG = '{{ settings.letters_tag }}';
  const PATCHES_COLLECTION_HANDLE = '{{ settings.patches_collection_handle }}';
  const SHOW_SOLD_OUT_PATCHES = '{{ settings.show_sold_out_patches }}';

  {% if settings.color_filters != '' %}
    const COLOR_FILTERS = {{ settings.color_filters }};
  {% else %}
    const COLOR_FILTERS = '';
  {% endif %}

  {% if settings.material_filters != '' %}
    const MATERIAL_FILTERS = {{ settings.material_filters | rstrip}};
  {% else %}
    const MATERIAL_FILTERS = '';
  {% endif %}

  {% if settings.collection_filters != '' %}
    const COLLECTION_FILTERS = {{ settings.collection_filters | rstrip }};
  {% else %}
    const COLLECTION_FILTERS = '';
  {% endif %}
</script>
