
<div class="page-corporate">
  <section>
    <div class="banner">
      <img class="desktop" alt="Corporate-sales-{{ section.settings.bannerImage.alt | escape }}"
          src="{{ section.settings.bannerImage | img_url: 'master' }}"
      />
      <img class="mobile" alt="Corporate-sales-{{ section.settings.bannerImage_mobile.alt | escape }}"
          src="{{ section.settings.bannerImage_mobile | img_url: 'master' }}"
      />
      {% comment %} <div class="contentWrapper">
        {% if section.settings.title != blank %}
          <h1 class="bannerTitle">{{ section.settings.title}}</h1>
        {% endif %}

        {% if section.settings.description != blank %}
          <p>{{ section.settings.description}}</p>
        {% endif %}

        {% if section.settings.button_label != blank %}
          {% if section.settings.button_link != blank %}
            <a class="bannerButton" href="{{ section.settings.button_link }}" title={{ section.settings.button_label }}>
              {{ section.settings.button_label }}
            </a>
          {% endif %}
        {% endif %}
      </div> {% endcomment %}
    </div>
    {% if section.blocks.size > 0 %}
      <div class="landingGrid">
        {% for block in section.blocks %}
          <a class="landingItem" href={{block.settings.link}} title="Corporate-options- {{ block.settings.image.alt | escape }}">
            {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img alt="Corporate-option- {{ block.settings.image.alt | escape }}" class="lazyload lazyload--fade-in"
                  data-src="{{ image_url }}"
                  data-optimumx="1.2"
                  data-widths="[570, 1140, 1710]"
                  data-sizes="auto"
              />
          </a>
        {% endfor %}
    </div>
    {% endif %}
  </section>

  <div class="corporateLanding contentTitleWrapper">

   {% if section.settings.title != blank %}
      <h1 class="bannerTitle">{{ section.settings.title}}</h1>
    {% endif %}


    {% if section.settings.description != blank %}
      <p>{{ section.settings.description}}</p>
    {% endif %}

    <div class="landingWrapper">
      {% if section.settings.form_id != blank %}

        <div class="formWrapper">         
          <div id='aaa-form-builder' data-form-id={{section.settings.form_id}}> </div> <script> function isMyScriptLoaded() { var url = 'https://shopifycdn.aaawebstore.com/formbuilder/appfiles/aaa_form_builder_script_minify_v1.js?shop=stoneycloverlane.myshopify.com'; var jsFound = 0; var scripts = document.getElementsByTagName('script');  for (var i = scripts.length; i--;) { if (scripts[i].src == url) { jsFound = 1; } } if(!jsFound) { var headTag = document.getElementsByTagName('head')[0]; var jqTag = document.createElement('script'); jqTag.type = 'text/javascript'; jqTag.src = url; jqTag.onload = ''; headTag.appendChild(jqTag); } } isMyScriptLoaded(); </script>  </div>          
        </div>


        {% if section.settings.featured_image %}
          <div class="featuredImage">
            <p>Past Partners</p>
            <img class="desktop" alt="{{ section.settings.featured_image.alt | escape }}" src="{{ section.settings.featured_image | img_url: '800x' }}"/>
            <img class="mobile" alt="{{ section.settings.featured_image.alt | escape }}" src="{{ section.settings.featured_image_mobile | img_url: '500x'}}"/>
            <p>And many more</p>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>


<style>
.shopify-section {
  --overlap: -{{ section.settings.form_overlap }}px;
  --header-height: {{ section.settings.header_height }}px;
  --header-fit: {% if section.settings.fill_header %}cover{% else %}contain{% endif %};
}

.featuredImage {
  max-width: 600px;
  margin: 0 auto;
}

.fb-text.form-group.field-text-1624467730072::after {
  position: absolute;
  content: 'Option to add in-line patches, embroidery, or custom patch';
  font-size: 14px;
  margin-top: 12px;
  max-width: 360px;
}

.fb-text.form-group.field-text-1624467686533::after {
  position: absolute;
  content: 'Stoney Clover Lane in-line product only';
  font-size: 14px;
  margin-top: 12px;
  max-width: 360px;
}

@media screen and (max-width: 768px) {
  .fb-text.form-group.field-text-1624467730072,
  .fb-text.form-group.field-text-1624467686533 {
    margin-bottom: 60px;
  }
  .aaaformbuilder_form, .landingGrid {
    gap: 0;
  }

  .landingItem {
    grid-column:span 12;
    overflow:hidden;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 640px) {
  .fb-text.form-group.field-text-1624467730072::after,
  .fb-text.form-group.field-text-1624467686533::after {
    max-width: 280px;
  }
  #page .corporateLanding a.bannerButton {
   width:260px;
  }
  body #aaa-form-builder .aaaformbuilder_form .fb-submit button {
   font-size:16px !important;
  }
}
</style>

{% schema %}
{
"name":"Corporate Sales",
"class": "corporate-sales-landing",
"max_blocks": 3,
"settings":[
  {
    "type":"image_picker",
    "id":"bannerImage",
    "label":"Image"
  },
  {
    "type":"image_picker",
    "id":"bannerImage_mobile",
    "label":"Image Mobile"
  },
  {
    "type": "number",
    "id": "form_overlap",
    "label": "Dekstop Form Orverlap (pixels)",
    "default": 256
  },
  {
    "type": "number",
    "id": "header_height",
    "label": "Dekstop Header Height (pixels)",
    "default": 700
  },
   {
    "type": "checkbox",
    "id": "fill_header",
    "label": "Hero Image Fills Area"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "text",
    "id": "description",
    "label": "Description"
  },
  {
    "type": "text",
    "id": "button_label",
    "label": "Button label"
  },
  {
    "type":"url",
    "id":"button_link",
    "label":"Button Link"
  },
  {
    "type": "image_picker",
    "id": "button_bg",
    "label": "Background button"
  },
  {
    "type": "header",
    "content": "Contact Information"
  },
  {
    "type": "text",
    "id": "contact_title",
    "label": "Title"
  },
  {
    "type": "color",
    "id": "form_background",
    "label": "Form background"
  },
  {
    "type": "checkbox",
    "id": "decoration",
    "label": "Show decoration title",
    "default": true
  },
  {
    "type": "text",
    "id": "contact_subtitle",
    "label": "Subtitle"
  },
  {
    "type": "text",
    "id": "form_id",
    "label": "Form ID"
  },
  {
    "type": "image_picker",
    "id": "featured_image",
    "label": "Featured Image"
  },
  {
    "type": "image_picker",
    "id": "featured_image_mobile",
    "label": "Featured Image Mobile"
  }
],
"blocks":[
  {
    "type":"image",
    "name":"Grid",
    "settings":[
    {
      "type":"image_picker",
      "id":"image",
      "label":"Image"
    },
    {
      "type":"url",
      "id":"link",
      "label":"Link"
    }
    ]
  }
]
}
{% endschema %}