<link rel="stylesheet" href="{{ 'component-faq-sales.css' | asset_url }}" media="all">

{% render 'faq-blocks' title: section.settings.title blocks: section.blocks %}

{% schema %}
{
  "name":"FAQ",
  "class":"faq-type",
  "settings":[
    {
      "type":"text",
      "id":"title",
      "label":"Title",
      "default":"FAQ"
    }
  ],
  "blocks":[
    {
      "type":"faqQuestion",
      "name":"Question",
      "settings":[
        {
          "type":"checkbox",
          "id":"show",
          "label":"Show Question",
          "default":true
        },
        {
          "type":"text",
          "id":"question",
          "label":"Question"
        },
        {
          "type":"richtext",
          "id":"answer",
          "label":"Answer"
        }
      ]
    }
  ]
}
{% endschema %}
