{%- assign bg_color = "#ffeef3" -%}
{%- if section.settings.bg_color -%}
    {%- assign bg_color = section.settings.bg_color -%}
    {%- assign content_color = section.settings.content_color -%}
{%- endif -%}

{% style %}
  :root {
    {% if section.settings.bg_image != blank %}
      --background-image: url("{{ section.settings.bg_image | img_url: 'master' }}");
    {% endif %}
    {% if section.settings.bg_image_mobile != blank %}
      --background-image-mobile: url("{{ section.settings.bg_image_mobile | img_url: 'master' }}");
    {% endif %}
    {% if section.settings.bg_color %}
      --background-color: {{ section.settings.bg_color }};
    {% endif %}
    {% if section.settings.content_color %}
      --text-color: {{ section.settings.content_color }};
    {% endif %}
  }
{% endstyle %}

<div class="password-page__container page-width">
    
    <div class="password-page__image">
        {%- if section.settings.desktop_image != blank -%}
        {%- assign desktop_image = section.settings.desktop_image | img_url: 'master' -%}
        <div class="visible--small-up object-media">
            <img class="object-media--fit-contain object-media--position-left-top" src="{{ desktop_image }}" alt="Stoney Clover Lane - Maintenance Page" />
        </div>
        {%- endif -%}
        {%- if section.settings.mobile_image != blank -%}
        {%- assign mobile_image = section.settings.mobile_image | img_url: 'master' -%}
        <div class="visible--small">
            <img src="{{ mobile_image }}" alt="Stoney Clover Lane - Maintenance Page" />
        </div>
        {%- endif -%}
    </div>

    <div class="password-page__content">
        <div class="password-page__title">
            {%- if section.settings.title -%}
                <h1>{{ section.settings.title }}</h1>
            {%- endif -%}
        </div>
        <div class="password-page__description">
            {%- if section.settings.description -%}
                <p>{{ section.settings.description }}</p>
            {%- endif -%}
        </div>
    </div>
    
</div>

{% schema %}
{
  "name":"Password Page",
  "class":"section-password-page",
  "settings": [
  {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#efd1e1"
  },
  {
    "type": "color",
    "id": "content_color",
    "label": "Text Color",
    "default": "#000000"
  },
  {
    "type": "image_picker",
    "id": "bg_image",
    "label": "Background Desktop Image"
  },
  {
    "type": "image_picker",
    "id": "bg_image_mobile",
    "label": "Background mobile Image"
  },
  {
    "type": "image_picker",
    "id": "desktop_image",
    "label": "Foreground Desktop Image"
  },
  {
    "type": "image_picker",
    "id": "mobile_image",
    "label": "Foreground Mobile Image"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "textarea",
    "id": "description",
    "label": "Description"
  }
  ]
}
{% endschema %}