<div id="press-section-{{ section.id }}" class="press" data-section-type="press" data-section-id="{{ section.id }}">
  {% if section.settings.eyebrow != blank %}
    <h2 class="press__eyebrow">{{ section.settings.eyebrow | escape }}</h2>
  {% endif %}

  {% for block in section.blocks %}
    <div class="press__title {% if forloop.first %} is-active{% endif %}" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
      {{ block.settings.title }}
    </div>
  {% endfor %} 

  <div class="press__list">
    {% for block in section.blocks %}
      <div class="press__image-wrapper {% if forloop.first %} is-active{% endif %}" data-index="{{ forloop.index0 }}" aria-label="Press image" {{ block.shopify_attributes }}>
        {% if block.settings.image != blank %}
          <img class="press__image" 
              src={{ block.settings.image | img_url: '200x'}}
              srcset={{ block.settings.image | img_url: '200x' }}1x, {{ block.settings.image | img_url: '200x', scale: 2 }}2x
              loading="lazy"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}">
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag }}
        {% endif %}
      </div>
    {% endfor %}
  </div> 

  {% if section.settings.cta_url != blank and section.settings.cta_text != blank %}
    <a href="{{ section.settings.cta_url }}" class="press__button shop-color__button">{{ section.settings.cta_text }}</a>
  {% endif %}

</div>
{% schema %}
{
  "name": "t:sections.press.name",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "t:sections.press.settings.eyebrow.label",
      "default": "Recent Press"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "t:sections.press.settings.cta_text.label"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "t:sections.press.settings.cta_link.label"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "t:sections.press.blocks.heading.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.press.blocks.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.press.blocks.settings.title.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Press"
    }
  ]
}
{% endschema %}