{% if section.blocks.size > 0 %}
<div class="page-width page-seasonal-collections">  
  {%- if section.settings.title != blank -%}
  <h2 class="page-title">    
  	{{ section.settings.title | escape }}
  </h2> 
  {%- endif -%}
  <div class="four-col {{section.settings.number_columns}}">
    {% for block in section.blocks %}
    {% unless collections[block.settings.link] %}
    {% continue %}
    {% endunless %}
    {%- assign img_url = '' -%}
      <div class="{{block.settings.link}} item-product col" {{ block.shopify_attributes }}>
      {% if block.settings.image != blank %}
      {%- assign img_url = block.settings.image | img_url: 'large' -%}
      {% else %}
      {%- assign img_url = collections[block.settings.link].image | img_url: 'large' -%}
      {% endif %}
      {% if block.settings.link != blank and img_url != blank %}
        <a href="{{ collections[block.settings.link].url }}">
      {% else %}
          <div class="image-bar__item">
      {% endif %}
            <span>
              {% if img_url == blank %}
                {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
              {% else %}
                <img src="{{ img_url }}" alt="{{ collections[block.settings.link].title }} Collection"/>
              {% endif %}
              </span>
            <h4>{{ block.settings.custom_title | default: collections[block.settings.link].title }}</h4>
          {% if block.settings.link != blank and img_url != blank %}
            </a>
          {% else %}
          </div>
        {% endif %}
      </div>
      {% endfor %}
  </div>
</div>

<style>
  @media screen and (min-width: 800px) {
    .four-col.columns-3x3 {
      justify-content: flex-start;
      gap: 20px;
    }

    .four-col.columns-3x3 .col {
      width: calc(33.33% - 1rem);
    }
  }
</style>

{% endif %}

{% schema %}
  {
    "name":"Collection List",
    "class":"four-col-container",
    "settings": [
      {
        "type": "select",
        "id": "number_columns",
        "label": "Number of columns",
        "default": "columns-4x4",
        "options": [
          {
            "value": "columns-3x3",
            "label": "3x3"
          },
          {
            "value": "columns-4x4",
            "label": "4x4"
          }
        ]
      },
	  {	
		"type": "text",
		"id": "title",
		"label": "Pate Title (Optional)"
	  }
    ],
    "blocks":[
      {
      "type":"collaboration-item",
      "name":"Collection",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"collection",
          "id":"link",
          "label":"Link"
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Title"
        }
      ]
    }
    ],
    "presets":[
    {
      "name":"Seasonal Collections",
      "category":"Collections",
      "blocks":[
      {
        "type":"collaboration-item"
      }
      ]
    }
    ]
  }
  {% endschema %}