
<div id="shop-color-seller-{{ section.id }}" class="shop-color shop-color__darken" data-section-type="shop-color" data-section-id="{{ section.id }}">
  <div class="shop-color__container">
    <div class="shop-color__header">
      <h2 class="shop-color__title">{{section.settings.title | escape}}</h2>
      <div class="shop-color__subtitle">{{section.settings.subtitle | escape}}</div>
    </div>
    <div class="shop-color__main shop-color__main_box">
      <div class="shop-color__slider swiper">
        <div class="swiper-wrapper shop-color__slider_wrapper">
          {% for block in section.blocks %}
            {%if block.settings.image != blank and block.settings.image_m != blank %}
              <div class="shop-color_slide swiper-slide" data-item={{forloop.index}}>
                <div class="shop-color__image active">
                    <img src="{{block.settings.image | img_url: "master"}}" 
                                loading="lazy"
                                class="shop-color__image_desk"
                                alt="{{ block.settings.image.alt | escape }}">
                    <img src="{{block.settings.image_m | img_url: "master"}}" 
                                loading="lazy"
                                class="shop-color__image_mobile"
                                alt="{{ block.settings.image_m.alt | escape }}">
                  {%if block.settings.slide_url != blank and block.settings.image != blank and block.settings.image_m != blank %}
                    <a href="{{block.settings.slide_url}}" class="shop-color__button shop-color__button_d  active" data-item={{forloop.index}}>{{section.settings.slide_label}}</a> 
                  {%endif%}
                </div>
              </div>
            {%endif%}
          {% endfor %}
        </div>
      </div>
      {% if section.settings.image_badge != blank %}
      <div class="shop-color__badge">
        <img src="{{section.settings.image_badge | img_url: "master"}}" 
                      loading="lazy"
                      alt="{{ block.settings.image_badge.alt | escape }}">
      </div>
      {%endif%}
    
    </div>
    <div class="shop-color__footer">
      <div class="shop-color__colors">
        {% for block in section.blocks %}
          {% if block.settings.image != blank and block.settings.image_m != blank %}
            <div class="shop-color__item {%if forloop.index == 1%} active{%endif%}" data-item={{forloop.index}}>
              <span class="shop-color__single" style="background:{{block.settings.slide_color }};"></span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% for block in section.blocks %}
        {%if block.settings.slide_url != blank and block.settings.image != blank and block.settings.image_m != blank %}
          <a href="{{block.settings.slide_url}}" class="shop-color__button shop-color__button_m {%if forloop.index == 1%} active{%endif%}" data-item={{forloop.index}}>{{section.settings.slide_label}}</a>
        {%endif%}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Shop color",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_badge",
      "label": "shop badge"
    },
    {
      "type": "text",       
      "id": "title",
      "label": "Section title"
    }, 
    {
      "type": "text",       
      "id": "slide_label",
      "label": "slide button label"
    },
    {
      "type": "text",       
      "id": "subtitle",
      "label": "Section text"
    }  
  ],
  "blocks": [
  {
    "name": "Slide",
    "type": "slide",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_m",
        "label": "Image mobile"
      },
      {
        "type": "color",       
        "id": "slide_color",
        "label": "Color"
      },
      {
        "type": "url",
        "id": "slide_url",
        "label": "Slide button link"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Shop color"
    }
  ]
}
{% endschema %}

