<div class="shop__categories" data-section-type="shop-categories" data-section-id="{{ section.id }}">
  <h3 class="shop__categories_title shop__categories_center">{{section.settings.title}}</h3>
  <div class="shop__categories_container">
    <a href="#" class="shop__categories_next">
      <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25.3365" r="24" transform="rotate(-180 25 25.3365)" stroke="#FFE2E8" stroke-width="2"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 25.2962C37.2204 25.3096 37.2207 25.323 37.2207 25.3365C37.2207 25.8888 36.773 26.3365 36.2207 26.3365C30.4725 26.3365 25.8373 30.926 25.8373 36.5573C25.8373 37.1095 25.3896 37.5573 24.8373 37.5573C24.285 37.5573 23.8373 37.1095 23.8373 36.5573C23.8373 32.2763 26.0643 28.5183 29.4302 26.3365L13.7791 26.3365C13.2269 26.3365 12.7791 25.8888 12.7791 25.3365C12.7791 24.7842 13.2269 24.3365 13.7791 24.3365L29.4302 24.3365C26.0644 22.1547 23.8373 18.3967 23.8373 14.1157C23.8373 13.5634 24.285 13.1157 24.8373 13.1157C25.3896 13.1157 25.8373 13.5634 25.8373 14.1157C25.8373 19.7469 30.4725 24.3365 36.2207 24.3365C36.7595 24.3365 37.1988 24.7626 37.2199 25.2962Z" fill="#2C272D"/>
        </svg>               
    </a>
    <a href="#" class="shop__categories_prev hidden">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="24" transform="rotate(-180 25 25)" stroke="#FFE2E8" stroke-width="2"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.78 25.0403C12.7794 25.0269 12.7792 25.0135 12.7792 25C12.7792 24.4477 13.2269 24 13.7792 24C19.5274 24 24.1626 19.4105 24.1626 13.7792C24.1626 13.2269 24.6103 12.7792 25.1626 12.7792C25.7149 12.7792 26.1626 13.2269 26.1626 13.7792C26.1626 18.0602 23.9355 21.8182 20.5696 24L36.2207 24C36.773 24 37.2207 24.4477 37.2207 25C37.2207 25.5523 36.773 26 36.2207 26L20.5696 26C23.9355 28.1818 26.1626 31.9398 26.1626 36.2208C26.1626 36.7731 25.7148 37.2208 25.1626 37.2208C24.6103 37.2208 24.1626 36.7731 24.1626 36.2208C24.1626 30.5895 19.5274 26 13.7792 26C13.2404 26 12.8011 25.5739 12.78 25.0403Z" fill="#2C272D"/>
        </svg>                
    </a>
    <div class="shop__categories_slider swiper swiper1">
      <div class="shop__categories_slider_wrapper swiper-wrapper" data-autoplay-time="1000">
        {% for block in section.blocks %}
          <div class="swiper-slide shop__categories_slide">
            <div class="shop__categories_slide_content">
              <a href="{{block.settings.slide_url}}" class="shop__categories_slide_link"></a>
              <div class="shop__categories_slide_img">
                <img src="{{block.settings.image | img_url: "large"}}" 
                loading="lazy"
                alt="{{ block.settings.image.alt | escape }}">
              </div>
              <div class="shop__categories_slide_label">
                {{block.settings.slide_label}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% schema %}
{
  "name": "shop-categories",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width shop__categories",
  "settings": [       
    {
      "type": "text",       
      "id": "title",
      "label": "Section title"
    }
  ],
    
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",       
          "id": "slide_label",
          "label": "slide label"
        },
        {
          "type": "url",
          "id": "slide_url",
          "label": "Slide link"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "shop-categories"
  }
]
}
{% endschema %}
