<div class="tabs__section" data-section-type="tabs-section" data-section-id="{{ section.id }}">

  <h3 class="tabs__section_title shop__categories_center">{{section.settings.title}}</h3>
  <div class="tabs__section_container">
    <div class="tabs__section_group">
      {% assign tabsGroup = section.settings.tabs | split: "," %}
      {% for tab in tabsGroup %}
        <a href="tab_{{forloop.index}}" class="tabs__section_btn {%if forloop.index == 1%} active {%endif%}">{{ tab }}</a>
      {%endfor%}
    </div>
    <div class="tabs__section_tab_box">
      {% for tab in tabsGroup %}
        <div class="tabs__section_tab tab_{{forloop.index}} {%if forloop.index == 1%} active {%endif%}">
          <a href="#" class="tabs__section_next tabs__section_next_{{forloop.index}}">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="25" fill="#FFE2E8"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 24.9598C37.2204 24.9732 37.2207 24.9866 37.2207 25.0001C37.2207 25.5524 36.773 26.0001 36.2207 26.0001C30.4725 26.0001 25.8373 30.5896 25.8373 36.2208C25.8373 36.7731 25.3896 37.2208 24.8373 37.2208C24.285 37.2208 23.8373 36.7731 23.8373 36.2208C23.8373 31.9399 26.0643 28.1818 29.4302 26.0001L13.7791 26.0001C13.2269 26.0001 12.7791 25.5524 12.7791 25.0001C12.7791 24.4478 13.2269 24.0001 13.7791 24.0001L29.4302 24.0001C26.0644 21.8183 23.8373 18.0602 23.8373 13.7793C23.8373 13.227 24.285 12.7793 24.8373 12.7793C25.3896 12.7793 25.8373 13.227 25.8373 13.7793C25.8373 19.4105 30.4725 24 36.2207 24C36.7595 24 37.1988 24.4262 37.2199 24.9598Z" fill="#2C272D"/>
              </svg>        
          </a>
            <div class="tabs__section_cards_mobile">
              
                  {%for block in section.blocks %}
                    {%if tab == block.settings.slide_label%} 
                      <div class="tabs__section_card">
                          <div class="tabs__section_card_img">
                            <a href="{{block.settings.slide_url}}" class="tabs__section_card_link"></a>
                            {%if block.settings.image_badge != blank %}
                              <div class="tabs__section_card_badge">
                                <img src="{{block.settings.image_badge | img_url: "master"}}" 
                                    loading="lazy"
                                    class="tabs__section_badge"
                                    alt="{{ block.settings.image_badge.alt | escape }}">
                              </div>
                            {%endif%}
                            <img src="{{block.settings.image | img_url: "master"}}" 
                                loading="lazy"
                                class="tabs__section_card_image"
                                alt="{{ block.settings.image.alt | escape }}">
                          </div>
                      </div>
                    {%endif%}
                {% endfor %}
                  
            </div>
            <div class="tabs__section_slider swiper tabs__section_slider{{forloop.index}}">
              <div class="tabs__section_slider_wrapper swiper-wrapper">
                {%for block in section.blocks %}
                    {%if tab == block.settings.slide_label%} 
                      <div class="tabs__section_slide swiper-slide">
                          <div class="tabs__section_slide_img">
                            <a href="{{block.settings.slide_url}}" class="tabs__section_slide_link"></a>
                            {%if block.settings.image_badge != blank %}
                              <div class="tabs__section_slide_badge ">
                                <img src="{{block.settings.image_badge | img_url: "master"}}" 
                                loading="lazy"
                                class="tabs__section_badge"
                                alt="{{ block.settings.image_badge.alt | escape }}">
                              </div>
                            {%endif%}
                            <img src="{{block.settings.image | img_url: "master"}}" 
                                loading="lazy"
                                class="tabs__section_img"
                                alt="{{ block.settings.image.alt | escape }}">
                          </div>
                      </div>
                    {%endif%}
                {% endfor %}
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>


</div>
{% schema %}
{
  "name": "Tabs section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width shop__categories",
  "settings": [       
    {
      "type": "text",       
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "text",       
      "id": "tabs",
      "label": "List of tabs"
    }
  ],
    
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_badge",
          "label": "Badge image"
        },
        {
          "type": "text",       
          "id": "slide_label",
          "label": "slide tab group"
        },
        {
          "type": "url",
          "id": "slide_url",
          "label": "Slide link"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Tabs section"
  }
]
}
{% endschema %}
