<div id="pdp-text-image-section-{{ section.id }}" class="pdp-text-image-section">
  <div class="pdp-text-image-section__container">
    <div class="pdp-text-image-section__box pdp-text-image-section__box_mr pdp-text-image-section__box_top">
      <div class="pdp-text-image-section__image">
        {% if section.settings.image_l != blank %}
          <img src="{{section.settings.image_l | img_url: "master"}}" 
          loading="lazy"
          alt="{{ section.settings.image_l.alt | escape }}">
        {%endif%}
        <div class="pdp-text-image-section__content">
          <h2 class="pdp-text-image-section__title" style="color:{{ section.settings.color_title_l }};">{{section.settings.title_l | escape}}</h2>
          {%if section.settings.slide_url_l != blank %}
            <div class="pdp-text-image-section__button_box">
              <a href="{{ section.settings.slide_url_l }}" class="pdp-text-image-section__button shop-color__button">{{ section.settings.slide_label_l }}</a>
            </div>
          {%endif%}
        </div>
      </div>
    </div>
    <div class="pdp-text-image-section__box pdp-text-image-section__box_bot">
        <div class="pdp-text-image-section__image">
          {% if section.settings.image_r != blank %}
            <img src="{{section.settings.image_r | img_url: "master"}}" 
              loading="lazy"
              alt="{{ section.settings.image_r.alt | escape }}">
          {%endif%}
          <div class="pdp-text-image-section__content">
            <h2 class="pdp-text-image-section__title" style="color:{{ section.settings.color_title_r }};">{{section.settings.title_r | escape}}</h2>
            {%if section.settings.slide_url_r != blank %}
              <div class="pdp-text-image-section__button_box">
                <a href="{{ section.settings.slide_url_r }}" class="pdp-text-image-section__button">{{ section.settings.slide_label_r }}</a>
              </div>
            {%endif%}
          </div>
        </div>
    </div>
  </div>  
</div>

{% schema %}
{
  "name": "PDP Text image section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_l",
      "label": "Left box image"
    },
    {
      "type": "text",       
      "id": "title_l",
      "label": "Left box title"
    }, 
    {
      "type": "color",
      "id": "color_title_l",
      "label": "Heading Left color",
      "default": "#FFFFFF"
    },
    {
      "type": "text",       
      "id": "slide_label_l",
      "label": "Left box link label"
    },
    {
      "type": "url",
      "id": "slide_url_l",
      "label": "Left box link"
    },
    {
      "type": "image_picker",
      "id": "image_r",
      "label": "Right box image"
    },
    {
      "type": "text",       
      "id": "title_r",
      "label": "Right box title"
    }, 
    {
      "type": "color",
      "id": "color_title_r",
      "label": "Heading Right color",
      "default": "#FFFFFF"
    },
    {
      "type": "text",       
      "id": "slide_label_r",
      "label": "Right box link label"
    },
    {
      "type": "url",
      "id": "slide_url_r",
      "label": "Right box link"
    }
  ],
  "presets": [
    {
      "name": "PDP Text image section"
    }
  ]
}
{% endschema %}

