<div id="text-image-section-{{ section.id }}" class="text-image-section">
  <div class="text-image-section__container">
    <div class="text-image-section__box text-image-section__box_mr text-image-section__box_top">
      {% if section.settings.image_l != blank %}
      <div class="text-image-section__image">
        <img src="{{section.settings.image_l | img_url: "master"}}" 
        loading="lazy"
        alt="{{ section.settings.image_l.alt | escape }}">
      </div>
      {%endif%}
      <h2 class="text-image-section__title">{{section.settings.title_l | escape}}</h2>
      <div class="text-image-section__overview">{{section.settings.subtext_l | escape}}</div>
      {%if section.settings.slide_url_l != blank %}
        <div class="text-image-section__button_box">
          <a href="{{ section.settings.slide_url_l }}" class="text-image-section__button shop-color__button">{{ section.settings.slide_label_l }}</a>
        </div>
        {%endif%}
    </div>
    <div class="text-image-section__box text-image-section__box_bot">
      {% if section.settings.image_r != blank %}
        <div class="text-image-section__image">
          <img src="{{section.settings.image_r | img_url: "master"}}" 
          loading="lazy"
          alt="{{ section.settings.image_r.alt | escape }}">
        </div>
      {%endif%}
      <h2 class="text-image-section__title">{{section.settings.title_r | escape}}</h2>
      <div class="text-image-section__overview">{{section.settings.subtext_r | escape}}</div>
      {%if section.settings.slide_url_r != blank %}
        <div class="text-image-section__button_box">
          <a href="{{ section.settings.slide_url_r }}" class="text-image-section__button">{{ section.settings.slide_label_r }}</a>
        </div>
      {%endif%}
    </div>
  </div>  
</div>

{% schema %}
{
  "name": "Text image section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_l",
      "label": "Left box image"
    },
    {
      "type": "text",       
      "id": "title_l",
      "label": "Left box title"
    }, 
    {
      "type": "text",       
      "id": "subtext_l",
      "label": "Left box text"
    },
    {
      "type": "text",       
      "id": "slide_label_l",
      "label": "Left box link label"
    },
    {
      "type": "url",
      "id": "slide_url_l",
      "label": "Left box link"
    },
    {
      "type": "image_picker",
      "id": "image_r",
      "label": "Right box image"
    },
    {
      "type": "text",       
      "id": "title_r",
      "label": "Right box title"
    }, 
    {
      "type": "text",       
      "id": "subtext_r",
      "label": "Right box text"
    },
    {
      "type": "text",       
      "id": "slide_label_r",
      "label": "Right box link label"
    },
    {
      "type": "url",
      "id": "slide_url_r",
      "label": "Right box link"
    }
  ],
  "presets": [
    {
      "name": "Text image section"
    }
  ]
}
{% endschema %}

