{% assign handles = collection.metafields.global.subcategories | split: "|" %}
{% assign showSubCategories = collection.metafields.global.show_subcategories %}
{% unless showSubCategories %}

<div class="tile-carousel" data-section-type="tile-carousel" data-section-id="{{ section.id }}">
  {% if section.settings.title %}
  <div class="page-width">
    <h2>{{section.settings.title}}</h2>
  </div>
  {% endif %}

  <div class="container">
    <a href="#" class="next">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="25" fill="#ffffff"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 24.9598C37.2204 24.9732 37.2207 24.9866 37.2207 25.0001C37.2207 25.5524 36.773 26.0001 36.2207 26.0001C30.4725 26.0001 25.8373 30.5896 25.8373 36.2208C25.8373 36.7731 25.3896 37.2208 24.8373 37.2208C24.285 37.2208 23.8373 36.7731 23.8373 36.2208C23.8373 31.9399 26.0643 28.1818 29.4302 26.0001L13.7791 26.0001C13.2269 26.0001 12.7791 25.5524 12.7791 25.0001C12.7791 24.4478 13.2269 24.0001 13.7791 24.0001L29.4302 24.0001C26.0644 21.8183 23.8373 18.0602 23.8373 13.7793C23.8373 13.227 24.285 12.7793 24.8373 12.7793C25.3896 12.7793 25.8373 13.227 25.8373 13.7793C25.8373 19.4105 30.4725 24 36.2207 24C36.7595 24 37.1988 24.4262 37.2199 24.9598Z" fill="#2C272D"/>
      </svg>        
    </a>

    <a href="#" class="prev">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="25" cy="25" r="25" fill="#ffffff"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.2199 24.9598C37.2204 24.9732 37.2207 24.9866 37.2207 25.0001C37.2207 25.5524 36.773 26.0001 36.2207 26.0001C30.4725 26.0001 25.8373 30.5896 25.8373 36.2208C25.8373 36.7731 25.3896 37.2208 24.8373 37.2208C24.285 37.2208 23.8373 36.7731 23.8373 36.2208C23.8373 31.9399 26.0643 28.1818 29.4302 26.0001L13.7791 26.0001C13.2269 26.0001 12.7791 25.5524 12.7791 25.0001C12.7791 24.4478 13.2269 24.0001 13.7791 24.0001L29.4302 24.0001C26.0644 21.8183 23.8373 18.0602 23.8373 13.7793C23.8373 13.227 24.285 12.7793 24.8373 12.7793C25.3896 12.7793 25.8373 13.227 25.8373 13.7793C25.8373 19.4105 30.4725 24 36.2207 24C36.7595 24 37.1988 24.4262 37.2199 24.9598Z" fill="#2C272D"/>
      </svg>        
    </a>

    <div class="tile-carousel-swiper swiper">
      <div class="swiper-wrapper" data-autoplay-time="1000">

        {% comment %} slides from metafields {% endcomment %}
        {% comment %} {% for handle in handles %}
          {% assign col = collections[handle] %}
          <div class="swiper-slide tile_carousel_slide">
            <div class="slide">
              
              <div class="image-wrapper">
                <a href="{{col.url}}">
                  <img src="{{col.metafields.global.subcategory_image[0].src}}" 
                  loading="lazy"
                  alt="{{ col.title }}">
                </a>
              </div>
              <div class="label">
                <a href="{{col.url}}">
                  {% unless col.metafields.global.subcategory_title_override == blank %}
                    {{col.metafields.global.subcategory_title_override}}
                  {% else %}
                    {{col.title}}
                  {% endunless %}
                </a>
              </div>
            </div>
          </div>
        {% endfor %} {% endcomment %}

        {% comment %} slides from blocks {% endcomment %}
        {% for block in section.blocks %}
          <div class="swiper-slide tile_carousel_slide">
            <div class="slide">
              
              <div class="image-wrapper">
                <a href="{{block.settings.slide_url}}">
                  <img src="{{block.settings.image | img_url: "master"}}" 
                  loading="lazy"
                  alt="{{ block.settings.image.alt | escape }}">
                </a>
              </div>
              <div class="label">
                <a href="{{block.settings.slide_url}}">
                  {{block.settings.slide_label}}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

</div>
{% endunless %}


{% schema %}
{
  "name": "tile-carousel",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "max_blocks": 15,
  "settings": [       
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",       
          "id": "slide_label",
          "label": "slide label"
        },
        {
          "type": "url",
          "id": "slide_url",
          "label": "Slide link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subcategories",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "image": "shopify:\/\/shop_images\/single_product-13-removebg-preview_1.png",
            "slide_label": "Large Pouches",
            "slide_url": "shopify:\/\/collections\/large-pouch"
          }
        },
        {
          "type": "slide",
          "settings": {
            "image": "shopify:\/\/shop_images\/single_product-16-removebg-preview_1.png",
            "slide_label": "Tote Bags",
            "slide_url": "shopify:\/\/collections\/totes"
          }
        },
        {
          "type": "slide",
          "settings": {
            "image": "shopify:\/\/shop_images\/single_product-14-removebg-preview_1.png",
            "slide_label": "Small Pouches",
            "slide_url": "shopify:\/\/collections\/small-pouch"
          }
        },
        {
          "type": "slide",
          "settings": {
            "image": "shopify:\/\/shop_images\/single_product_89e02069-a4b6-40e9-bce3-64747b1b1c4c.png",
            "slide_label": "Mini Pouches",
            "slide_url": "shopify:\/\/collections\/mini-pouch"
          }
        },
        {
          "type": "slide",
          "settings": {
            "image": "shopify:\/\/shop_images\/single_product-17-removebg-preview_1.png",
            "slide_label": "Backpacks",
            "slide_url": "shopify:\/\/collections\/backpacks"
          }
        },
        {
          "type": "slide",
          "settings": {
            "image": "shopify:\/\/shop_images\/single_product-18-removebg-preview_1.png",
            "slide_label": "Duffle Bags",
            "slide_url": "shopify:\/\/collections\/duffle-bag"
          }
        }
      ]
    }
  ]
}
{% endschema %}
