
<div id="video-{{ section.id }}" class="video__container video_container_darken" data-section-type="video-section" data-section-id="{{ section.id }}">
  <div class="video__box_large">
    <a href="#" class="video__play_btn active video__control_btn">
      <svg class="pause_svg" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        
        <line x1="22.25" y1="19.25" x2="22.25" y2="33.75" stroke="#2C272D" stroke-width="2.5" stroke-linecap="round"/>
        <line x1="31.75" y1="33.75" x2="31.75" y2="19.25" stroke="#2C272D" stroke-width="2.5" stroke-linecap="round"/>
        
      </svg>

      <svg class="play_svg" width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
      
        <path d="M24.5 18.3046C25.1667 18.6895 25.1667 19.6518 24.5 20.0367L16.25 24.7998C15.5833 25.1847 14.75 24.7036 14.75 23.9338L14.75 14.4075C14.75 13.6377 15.5833 13.1566 16.25 13.5415L24.5 18.3046Z" fill="#2C272D"/>
      
      </svg>
        
    </a>
    <a href="#" class="video__volume_btn video__control_btn active">
      <svg class="volume_svg" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        
        <path d="M17.6712 22.371H16C15.4477 22.371 15 22.8187 15 23.371V28.7742C15 29.3265 15.4477 29.7742 16 29.7742H17.6784C17.8875 29.7742 18.0914 29.8397 18.2613 29.9616L23.7029 33.8647C24.3645 34.3393 25.2857 33.8664 25.2857 33.0521V18.9795C25.2857 18.1593 24.3526 17.6879 23.6923 18.1746L18.2646 22.1759C18.0927 22.3026 17.8848 22.371 17.6712 22.371Z" fill="#2C272D"/>
        <path d="M29.4715 31.1212C31.2962 29.2959 31.7643 28.06 31.7449 26.3927C31.7255 24.7253 31.2962 23.3443 29.3613 21.645" stroke="#2C272D" stroke-width="2" stroke-linecap="round"/>
        <path d="M34.1431 33.7938C37.0468 30.8892 37.7916 28.9225 37.7607 26.2693C37.7298 23.6161 37.0468 21.4184 33.9678 18.7144" stroke="#2C272D" stroke-width="2" stroke-linecap="round"/>
        
        </svg>
        {%- render 'icon-mute' -%}
    </a>
    <video class="video__player" autoplay muted playsinline>
      <source src={{section.settings.video_url}}
            type="video/mp4">
    </video>
  </div>
  <div class="video__box_medium">
    <div class="video__content">
      <h2 class="video__title">{{ section.settings.heading_title | escape }}</h2>
      <p class="video__text">{{ section.settings.section_text | escape }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video section",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "id": "video_url",
      "type": "text",
      "label": "Video URL for Desktop"
      },
    {
      "type": "text",
      "id": "heading_title",
      "default": "Heading title",
      "label": "Heading title left",
      "info": "Heading title"
    },
    {
      "type": "text",
      "id": "section_text",
      "default": "Section text",
      "label": "Section text"
    }
  ],
  "presets": [
    {
      "name": "Video section"
    }
  ]
}
{% endschema %}

