{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}


<div id="Banner-{{ section.id }}" class="hero_banner">
  {%- if section.settings.image != blank -%}
    <div class="banner__image banner__media-sixty banner__image_mr">
      <img
      class="banner__image_desk"
        src="{{ section.settings.image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
      >
      <img
      class="banner__image_mobile"
      src="{{ section.settings.image_m | img_url: '1500x' }}"
      loading="lazy"
      alt="{{ section.settings.image_m.alt | escape }}"
      >
      <div class="banner__image_content">
        <h2 class="banner__image_title scl_title {%if section.settings.color_white == true %} scl_title_light{% endif %}">{{ section.settings.heading_title | escape }}</h2>
        {%- if section.settings.button_label_1 != blank -%}
        <a{% if section.settings.button_link_1 != blank %} href="{{ section.settings.button_link_1 }}"{% endif %} class="banner__image_link {%if section.settings.color_white == true %} banner__image_link_light{% endif %}" {% if section.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ section.settings.button_label_1 | escape }}</a>
      {%- endif -%}
      </div>
    </div> 
    {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__image banner__media-foty banner__image_ml">
      <img
        class="banner__image_desk"
        src="{{ section.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image_2.alt | escape }}"
      >
      <img
      class="banner__image_mobile"
      src="{{ section.settings.image_2_m | img_url: '1500x' }}"
      loading="lazy"
      alt="{{ section.settings.image_2_m.alt | escape }}"
    >
      <div class="banner__image_content">
        <h2 class="banner__image_title scl_title {%if section.settings.color_white == true %} scl_title_light{% endif %}">{{ section.settings.heading_title_2 | escape }}</h2>
        <a{% if section.settings.button_link_2 != blank %} href="{{ section.settings.button_link_2 }}"{% endif %} class="banner__image_link {%if section.settings.color_white == true %} banner__image_link_light{% endif %}" {% if section.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ section.settings.button_label_2 | escape }}</a>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Video section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "image_picker",
      "id": "image_m",
      "label": "mobile first img"
    },
    {
      "type": "image_picker",
      "id": "image_2_m",
      "label": "mobile second img"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "default": "Button label",
      "label": "button first name",
      "info": "button first name"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "button first link"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "default": "Button label",
      "label": "button second name ",
      "info": "button second name"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "button second label"
    },
    {
      "type": "text",
      "id": "heading_title",
      "default": "Heading title",
      "label": "Heading title left",
      "info": "Heading title"
    },
    {
      "type": "text",
      "id": "heading_title_2",
      "default": "Heading title",
      "label": "Heading title right",
      "info": "Heading title right"
    },
    {
      "type": "checkbox",
      "id": "color_white",
      "label": "white color of text",
      "default": false,
      "info": "white color of text"
      }
  ],
  "presets": [
    {
      "name": "Video section"
    }
  ]
}
{% endschema %}

