{%- if product.metafields.product.whatfits_video_section_checkbo == 'true' -%}

  {{ 'section-compare.css' | asset_url | stylesheet_tag }}


  <div id="video-icons-{{ section.id }}" class="video-icons-section" data-section-type="video-icons-section" data-section-id="{{ section.id }}">
    <div class="video-icons__container">
      <div class="video-icons__col video-icons__col-md {% unless product.metafields.global.what_fits_video %}no-width{% endunless %}">
        <div class="video-icons__header_md">
          {%- if product.metafields.product.whatfits_title != blank -%}
            <h2 class="video-icons__title ">{{ product.metafields.product.whatfits_title }}</h2>
          {%- endif -%}
          {%- if product.metafields.product.whatfits_description != blank -%}
            <div class="video-icons__description"><p>{{ product.metafields.product.whatfits_description }}</p></div>
          {%- endif -%}  
        </div>
        <div class="video-icons__player_wrapper">
          {% if product.metafields.global.what_fits_video %}
            <div class="video-icons__player">
              <a href="#" class="video__play_btn video__control_btn">
                <svg class="pause_svg" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="22.25" y1="19.25" x2="22.25" y2="33.75" stroke="#2C272D" stroke-width="2.5" stroke-linecap="round"/>
                  <line x1="31.75" y1="33.75" x2="31.75" y2="19.25" stroke="#2C272D" stroke-width="2.5" stroke-linecap="round"/>
                </svg>
                <svg class="play_svg" width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M24.5 18.3046C25.1667 18.6895 25.1667 19.6518 24.5 20.0367L16.25 24.7998C15.5833 25.1847 14.75 24.7036 14.75 23.9338L14.75 14.4075C14.75 13.6377 15.5833 13.1566 16.25 13.5415L24.5 18.3046Z" fill="#2C272D"/>
                </svg>
              </a>
              <a href="#" class="video__volume_btn video__control_btn">
                {%- render 'icon-volume' -%}
                {%- render 'icon-mute' -%}
              </a>
              <video class="video__player" playsinline preload="metadata" {% if product.metafields.product.whatfits_placeholder_image %}poster="{{ product.metafields.product.whatfits_placeholder_image[0].src }}"{% endif %}>
                <source src={{product.metafields.global.what_fits_video | append: "#t=0.001"}}
                      type="video/mp4">
              </video>
              {% if product.metafields.product.whatfits_placeholder_image %}
                <img
                  class="video-icons__image"
                  src="{{ product.metafields.product.whatfits_placeholder_image[0].src }}"
                  loading="lazy"
                  alt="{{ product.metafields.product.whatfits_title }}"
                >
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="video-icons__col video-icons__col-lg">
        <div class="video-icons__content">
          <div class="video-icons__header">
            {%- if product.metafields.product.whatfits_title != blank -%}
              <h2 class="video-icons__title ">{{ product.metafields.product.whatfits_title }}</h2>
            {%- endif -%}
            {%- if product.metafields.product.whatfits_description != blank -%}
              <div class="video-icons__description"><p>{{ product.metafields.product.whatfits_description }}</p></div>
            {%- endif -%}  
          </div>
          <div class="video-icons__main">
            <div class="video-icons__blocks">
              
                <div class="video-icons__block video-icons__block_mr">
                  <div class="video-icons__block-header">
                    <div class="video-icons__block-img-wrapper">
                      <img
                        class="video-icons__block-img"
                        src="{{ product.metafields.product.whatfits_icon_image_1[0].src }}"
                        loading="lazy"
                        alt="{{ product.metafields.product.whatfits_icon_title_1 }}"
                      >
                    </div>
                  </div>
                  <div class="video-icons__block-main">
                    <a href="{{product.metafields.product.whatfits_icon_url_1}}" class="video-icons__block-url"> 
                      {{product.metafields.product.whatfits_icon_title_1}}
                      {% if product.metafields.product.whatfits_icon_url_1 != blank %}
                        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.40002 9.2499C2.40002 9.0566 2.55672 8.8999 2.75002 8.8999L11.7733 8.8999C9.67385 7.84765 8.23333 5.71661 8.23333 3.2499C8.23333 3.0566 8.39003 2.8999 8.58333 2.8999C8.77663 2.8999 8.93333 3.0566 8.93333 3.2499C8.93333 6.35737 11.5218 8.89343 14.7377 8.8999L14.7378 8.8999C14.7419 8.8999 14.7459 8.89989 14.75 8.89989C14.8233 8.89989 14.8913 8.92239 14.9475 8.96086C15.0396 9.0239 15.1 9.12984 15.1 9.2499C15.1 9.40319 15.0015 9.53346 14.8643 9.58082C14.8285 9.5932 14.79 9.59991 14.75 9.59991L14.738 9.5999C11.522 9.60623 8.93335 12.1424 8.93335 15.2499C8.93335 15.4432 8.77665 15.5999 8.58335 15.5999C8.39005 15.5999 8.23335 15.4432 8.23335 15.2499C8.23335 12.7832 9.67387 10.6522 11.7733 9.5999L2.75002 9.5999C2.55672 9.5999 2.40002 9.4432 2.40002 9.2499Z" fill="#2C272D"/>
                        </svg>
                      {% endif %}                
                    </a>
                    <div class="video-icons__block-description">{{product.metafields.product.whatfits_icon_description_1}}</div>
                  </div>
                </div>

                <div class="video-icons__block ">
                  <div class="video-icons__block-header">
                    <div class="video-icons__block-img-wrapper">
                      <img
                        class="video-icons__block-img"
                        src="{{ product.metafields.product.whatfits_icon_image_2[0].src }}"
                        loading="lazy"
                        alt="{{ product.metafields.product.whatfits_icon_title_2 }}"
                      >
                    </div>
                  </div>
                  <div class="video-icons__block-main">
                    <a href="{{product.metafields.product.whatfits_icon_url_2}}" class="video-icons__block-url"> 
                      {{product.metafields.product.whatfits_icon_title_2}}
                      {% if product.metafields.product.whatfits_icon_url_2 != blank %}
                        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.40002 9.2499C2.40002 9.0566 2.55672 8.8999 2.75002 8.8999L11.7733 8.8999C9.67385 7.84765 8.23333 5.71661 8.23333 3.2499C8.23333 3.0566 8.39003 2.8999 8.58333 2.8999C8.77663 2.8999 8.93333 3.0566 8.93333 3.2499C8.93333 6.35737 11.5218 8.89343 14.7377 8.8999L14.7378 8.8999C14.7419 8.8999 14.7459 8.89989 14.75 8.89989C14.8233 8.89989 14.8913 8.92239 14.9475 8.96086C15.0396 9.0239 15.1 9.12984 15.1 9.2499C15.1 9.40319 15.0015 9.53346 14.8643 9.58082C14.8285 9.5932 14.79 9.59991 14.75 9.59991L14.738 9.5999C11.522 9.60623 8.93335 12.1424 8.93335 15.2499C8.93335 15.4432 8.77665 15.5999 8.58335 15.5999C8.39005 15.5999 8.23335 15.4432 8.23335 15.2499C8.23335 12.7832 9.67387 10.6522 11.7733 9.5999L2.75002 9.5999C2.55672 9.5999 2.40002 9.4432 2.40002 9.2499Z" fill="#2C272D"/>
                        </svg>
                      {% endif %}                
                    </a>
                    <div class="video-icons__block-description">{{product.metafields.product.whatfits_icon_description_2}}</div>
                  </div>
                </div>

                <div class="video-icons__block  video-icons__block_mr">
                  <div class="video-icons__block-header">
                    <div class="video-icons__block-img-wrapper">
                      <img
                        class="video-icons__block-img"
                        src="{{ product.metafields.product.whatfits_icon_image_3[0].src }}"
                        loading="lazy"
                        alt="{{ product.metafields.product.whatfits_icon_title_3 }}"
                      >
                    </div>
                  </div>
                  <div class="video-icons__block-main">
                    <a href="{{product.metafields.product.whatfits_icon_url_3}}" class="video-icons__block-url"> 
                      {{product.metafields.product.whatfits_icon_title_3}}
                      {% if product.metafields.product.whatfits_icon_url_3 != blank %}
                        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.40002 9.2499C2.40002 9.0566 2.55672 8.8999 2.75002 8.8999L11.7733 8.8999C9.67385 7.84765 8.23333 5.71661 8.23333 3.2499C8.23333 3.0566 8.39003 2.8999 8.58333 2.8999C8.77663 2.8999 8.93333 3.0566 8.93333 3.2499C8.93333 6.35737 11.5218 8.89343 14.7377 8.8999L14.7378 8.8999C14.7419 8.8999 14.7459 8.89989 14.75 8.89989C14.8233 8.89989 14.8913 8.92239 14.9475 8.96086C15.0396 9.0239 15.1 9.12984 15.1 9.2499C15.1 9.40319 15.0015 9.53346 14.8643 9.58082C14.8285 9.5932 14.79 9.59991 14.75 9.59991L14.738 9.5999C11.522 9.60623 8.93335 12.1424 8.93335 15.2499C8.93335 15.4432 8.77665 15.5999 8.58335 15.5999C8.39005 15.5999 8.23335 15.4432 8.23335 15.2499C8.23335 12.7832 9.67387 10.6522 11.7733 9.5999L2.75002 9.5999C2.55672 9.5999 2.40002 9.4432 2.40002 9.2499Z" fill="#2C272D"/>
                        </svg>
                      {% endif %}                
                    </a>
                    <div class="video-icons__block-description">{{product.metafields.product.whatfits_icon_description_3}}</div>
                  </div>
                </div>
          
                <div class="video-icons__block ">
                  <div class="video-icons__block-header">
                    <div class="video-icons__block-img-wrapper">
                      <img
                        class="video-icons__block-img"
                        src="{{ product.metafields.product.whatfits_icon_image_4[0].src }}"
                        loading="lazy"
                        alt="{{ product.metafields.product.whatfits_icon_title_4 }}"
                      >
                    </div>
                  </div>
                  <div class="video-icons__block-main">
                    <a href="{{product.metafields.product.whatfits_icon_url_4}}" class="video-icons__block-url"> 
                      {{product.metafields.product.whatfits_icon_title_4}}
                      {% if product.metafields.product.whatfits_icon_url_4 != blank %}
                        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.40002 9.2499C2.40002 9.0566 2.55672 8.8999 2.75002 8.8999L11.7733 8.8999C9.67385 7.84765 8.23333 5.71661 8.23333 3.2499C8.23333 3.0566 8.39003 2.8999 8.58333 2.8999C8.77663 2.8999 8.93333 3.0566 8.93333 3.2499C8.93333 6.35737 11.5218 8.89343 14.7377 8.8999L14.7378 8.8999C14.7419 8.8999 14.7459 8.89989 14.75 8.89989C14.8233 8.89989 14.8913 8.92239 14.9475 8.96086C15.0396 9.0239 15.1 9.12984 15.1 9.2499C15.1 9.40319 15.0015 9.53346 14.8643 9.58082C14.8285 9.5932 14.79 9.59991 14.75 9.59991L14.738 9.5999C11.522 9.60623 8.93335 12.1424 8.93335 15.2499C8.93335 15.4432 8.77665 15.5999 8.58335 15.5999C8.39005 15.5999 8.23335 15.4432 8.23335 15.2499C8.23335 12.7832 9.67387 10.6522 11.7733 9.5999L2.75002 9.5999C2.55672 9.5999 2.40002 9.4432 2.40002 9.2499Z" fill="#2C272D"/>
                        </svg>
                      {% endif %}                
                    </a>
                    <div class="video-icons__block-description">{{product.metafields.product.whatfits_icon_description_4}}</div>
                  </div>
                </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{%- endif -%}

{% schema %}
{
  "name": "Video icons section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width"
}
{% endschema %}

