<script src="{{ 'account-saved-items.js' | asset_url }}" defer="defer"></script>

<!-- Swym Wishlist on Existing Page -->
<div class="wish-list" data-section-type="wish-list-section" data-section-id="{{ section.id }}">
  <div>
      
<!-- Section Heading -->
    <div class="wish-list__button-container">
      <div class="wish-list__button-toggle-container">
        <button id="button1" active="true">Wishlist</button>
        <button id="button2">Saved Customizations</button>
      </div>
      <button class="button add-to-cart-button button--primary add-all-button">Add all to Bag</button>
    </div>

    <div>
      <h5 class="wish-list-message" style="display:none;">Your item has successfully been removed from your wishlist.</h5>
    </div>

<!-- Render Wishlisted Products -->
    <div>
      <div id="wishlist-items-container"></div>
    </div>

    <!-- Saved designs -->
    <div id="saved" class="saved-items" data-customer-id="{{ customer.id }}" style="display: none;">
      {% assign sfl = customer.metafields.scl-save_for_later.save_for_later %}
  
      {% if sfl.size > 0 and customer %}
        <div class="swym-wishlist-grid grid grid--2-col negative-margin product-grid grid--3-col-tablet grid--one-third-max grid--3-col-desktop grid--quarter-max">
          {% for item in sfl reversed %}
          <div class="swym-wishlist__item product">
            <div class="swym-wishlist__image-container">
              <img src='{{ item.screenshot }}' loading="lazy">
            </div>
            <div class="swym-wishlist-info-wrapper">
              <div class="swym-wishlist-info-wrapper__description">
                <div>
                <h3>{{ item.name }}</h3>
                <time>{{ item.date | date: "%B %e, %Y | %l:%M %p" }}</time>
                </div>
              </div>
              <div class="swym-wishlist-info-wrapper__button-container">
                <a class="return customize__button button" data-saved-id="{{ item.id }}" data-link-id="{{ item.link_id }}">Customize</a>
                <a class="remove button add-to-cart-button button--primary" data-saved-id="{{ item.id }}">Delete</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% elsif customer == blank %}
        <p class="desc">You need to have an account to see your saved items. Sign in <a href="/account">here<a></p>
      {% else %}
        <p class="desc">You haven't saved any items yet. <a href="/collections/customize">Start customizing here.<a></p>
      {% endif %}
    </div>
  </div>
</div>

<style>
  #button1, #button2 {
    color: #2C272D;
  }
</style>

{% render 'nosto-element', id:'frontpage-nosto-1' %}