.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 7rem 0;
}

.cart__empty-text {
  margin: 4.5rem 0 5.5rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 10rem 0 15rem;
  }

  .cart__empty-text {
    margin: 5rem 0 6rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  display: block;
}

.cart__note label {
  display: flex;
  align-items: flex-start;
  line-height: 1;
  margin-bottom: 2rem;
}

.cart__note .field__input {
  padding: 0.6rem;
  background-color: var(--payment-terms-background-color);
  box-shadow: none;
  border: 1px solid #eee;
  font-size: 14px;
}
.cart__note__messages {
  line-height: 1.4;
}

.cart__note .field__input::placeholder {
  color: #acacac;
}
.text-area {
  min-height: 5rem;
}
.cart__note__error {
  display: none;
  font-weight: 600;
}
.cart__note__messages.error {
  color: #fe597b;
}
.cart__note__messages.error .cart__note__error {
  display: block;
}

.other-buttons .button {
  min-height: 40px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: 0;
  line-height: 20px;
  padding: 0 !important;
  height: 40px;
  margin-bottom: 12px;
  background: #ddd;
  column-rule: #393939;
  box-shadow: none !important;
}

@media screen and (min-width: 1072px) {
  .cart__items {
    
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 27rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role="button"] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: 2;
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
  min-height: 40px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500 !important;
  font-size: 14px !important;
  letter-spacing: 0;
  line-height: 20px;
  padding: 0 !important;
  height: 40px;
  color: #fff;
  background: #393939;
  box-shadow: none !important;
}
.cart__checkout-button:hover {
  background: #edb9d0;
  color: #393939;
  box-shadow: none !important;
  border: 1px solid #393939;
}
.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.7rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    flex-direction: column;
  }
}
