.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.footer-block__newsletter h2 {
	font-size: 26px !important;
	line-height: 1;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  line-height: 30px;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 50rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    bottom: -65%;
  }
}

.newsletter-form__button {
  margin-left: 1.4rem;
}

.footer-block__newsletter form button.needsclick {
  left: auto;
  top: inherit;
  right: 0;
}

.footer-block__newsletter form h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.footer-block__newsletter form > div {
  min-height: auto !important;
}

.footer-block__newsletter .klaviyo-form-YxvD87 form > div > div:first-child {
  display: block;
  margin-bottom: 20px;
  margin-top: 24px;
}

.footer-block__newsletter form > div > div.needsclick:nth-child(3) {
  justify-content: flex-end;
}

.footer-block__newsletter .klaviyo-form-YxvD87 button[aria-label="Search Countries"] {
  background: none;
  left: 0;
}

.footer-block__newsletter .klaviyo-form-YxvD87 button[aria-label="Search Countries"] img {
  display: inline-block !important;
  width: 16px !important;
  height: 16px !important;
  margin-left: -8px;
  margin-top: 1px;
}

.footer-block__newsletter .klaviyo-form-YxvD87 button[aria-label="Search Countries"]::after {
  display: none;
}

.footer-block__newsletter .klaviyo-form-YxvD87 input.needsclick {
  padding-left: 80px !important;
}

.footer-block__newsletter .klaviyo-form-YxvD87 .needsclick.go3170944021.kl-private-reset-css-Xuajs1 {
  background: none !important;
  border: none !important;
}

.footer-block__newsletter .klaviyo-form-YxvD87 button[aria-label="Search Countries"] img {
  display: inline-block !important;
  width: 16px !important;
  height: 16px !important;
  margin-left: -8px;
  margin-top: 1px;
}


.footer-block__newsletter .klaviyo-form-YxvD87 form > div > div:last-child {
  margin-top: 24px;
}

.footer-block__newsletter .klaviyo-form-YxvD87 form > div > div:last-child p,
.footer-block__newsletter .klaviyo-form-YxvD87 form > div > div:last-child span,
.footer-block__newsletter .klaviyo-form-YxvD87 form > div > div:last-child a {
  font-family: Poppins, sans-serif !important;
  letter-spacing: normal;
}

.footer-block__newsletter form input.needsclick {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.footer-block__newsletter .klaviyo-form-YxvD87 [role="listbox"] {
  border: none !important;
  padding: 20px 30px !important;
  border-radius: 36px !important;
  min-height: 200px;
  margin-top: -10px;
  z-index: 2 !important;
}

.footer-block__newsletter .klaviyo-form-YxvD87 button.needsclick {
  top: -5px;
}

@media screen and (max-width: 989px) {
  .newsletter-form__button {
    width: 100%;
    margin: 1.4rem 0 0 0;
  }
}

@media screen and (max-width: 1400px) {
  .footer-block__newsletter .klaviyo-form-YxvD87 button.needsclick {
    top: 4px;
  }
}