:root {
  --faq-max-width: 1100px;
  --faq-margin: 0 auto 5rem;
}

.faq-container {
  max-width: var(--faq-max-width);
  margin: var(--faq-margin, 0 auto);
}

.faq-item {
  border-top: 1px solid #e4e4e4;
  position: relative;
}

.faq-item:last-child {
  border-bottom: 1px solid #e4e4e4;
}

#faq .question {
  position: relative;
  margin: 0;
  padding: 23px 20px 20px 50px;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

/*Answer*/
#faq .answers {
  padding: 0px 15px;
  width:100%;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  transition: .3s ease;
}

#faq .answers a {
  color: #ff6491;
}

#faq .questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

#faq .plus {
  position: absolute;
  margin-left: 10px;
  z-index: 1;
  width: 1.5rem;
  line-height: 100%;
  user-select: none;
  transition: .3s ease;
  top: 22px;
  pointer-events: none;
}

#faq .questions:checked ~ .plus {
  transform: rotate(45deg);
}

#faq .questions {
  display: none;
}