.product-grid .grid__item {
  padding-bottom: 2rem;
}

.product-grid.negative-margin {
  margin-bottom: 0;
}

.ss__inline-banner.ss__inline-banner--grid {
  place-content: flex-start;
}

@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: 5rem;
  }

  .product-grid.negative-margin {
    margin-bottom: 0;
  }

  .product-grid.negative-margin--small {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1800px) {
  /* force 4 col on large desktop */
  .product-grid .ss__results.grid .grid__item{
    width:calc(25% - 10px * 3 / 4);
  }
}
