.collection-hero {
}

.collection-hero--with-image {
  background-color: rgba(var(--color-foreground), 0.04);
}

.collection-hero__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: 4rem 0 4rem;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0 0;
    margin-top: 32px;
    margin-bottom: 0;
  }


  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 1rem;
    padding-left: 66px;
    padding-right: 66px;
  }

  .collection-hero--with-image .collection-hero__inner {
    margin-bottom: 0;
  }
}

.collection-hero__title {
  margin: 30px 0 0 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (min-width: 750px) {
  .collection-hero__title {
    margin-top: 2rem;
  }
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
  .collection-hero__inner {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
}
