nav.header__inline-menu .list-menu--inline li:last-child a span {
	color: #ba0b22 !important;
}

nav.header__inline-menu .list-menu--inline li:first-child span {
  color: #2c272d !important;
}

/* description font-size collection */
body .collection-hero__title+.collection-hero__description {
  font-size: 1.1rem;
}