.customer-wrapper .customer.register {
  background: #fff8fa;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.customer:not(.account, .order) {
  margin: 0 auto;
  max-width: 100%;
  padding: 1.5rem 0.5rem;
  text-align: center;
}

.customer h1,
.customer-wrapper .customer h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 24px;
  color: #2C272D;
}
.customer h1 {
  font-family: 'Quincy CF';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
}
.customer h1:focus {
  outline: none;
  box-shadow: none;
}

.customer form {
  margin-top: 10px;
  padding: 0;
  max-width: 344px;
  margin-left: auto;
  margin-right: auto;
}

.customer button {
  min-width: 300px;
  min-height: 44px;
  height: 44px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px;
  background: #ffe2e8;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2c272d;
  font-family: var(--font-body-family);
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.register.customer button,
.login.customer button {
  min-width: 100%;
}

.register.customer button {
  margin-top: 5px;
}

.customer button:hover,
.customer button:active,
.customer button:focus {
  background-color: #fff1f5;
  box-shadow: none;
}

.customer ul {
  line-height: 1.6;
  padding-left: 4.4rem;
  text-align: left;
  margin-bottom: 4rem;
}

.customer ul a {
  display: inline;
}

.customer strong {
  font-weight: normal;
  color: rgb(var(--color-foreground));
}

.customer h2.form__message {
  font-size: 1.8rem;
}

@media only screen and (min-width: 750px) {
  .customer form {
    padding: 0;
    max-width: 495px;
  }
  .customer h2.form__message {
    font-size: 2.2rem;
  }
  .login.customer button,
  .register.customer button {
    min-width: 100%;
  }
  .login h3.form__message {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    justify-content: center;
  }
  .login h3.form__message svg {
    display: none;
  }
}

.customer .field {
  margin: 2rem auto 0;
  text-align: left;
}

.customer .field:first-of-type {
  margin-top: 0;
}

/* Customer Table */
.customer table {
  table-layout: auto;
  border-collapse: collapse;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
  box-shadow: none;
  width: 100%;
  font-size: 1.6rem;
  position: relative;
}

@media screen and (min-width: 750px) {
  .customer table {
    border: none;
    box-shadow: 0 0 0 1px rgba(var(--color-foreground), 0.2);
  }
}

.customer th,
.customer td {
  font-weight: 400;
  line-height: 1;
  border: none;
  padding: 0;
  font-size: 14px;
}

.customer .customer-subtitle {
  margin-top: 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 750px) {
  .customer h1 {
    font-family: 'Quincy CF';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 62px;
  }
  .customer-wrapper .customer h3 {
    font-size: 38px;
  }
  .customer td {
    padding-right: 2.2rem;
  }
  .customer th,
  .customer td {
    font-size: 16px;
  }
}

.customer tbody td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--font-body-family);
  letter-spacing: 0px;
}

.customer td:empty {
  display: initial;
}

.customer thead th {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: var(--font-body-family);
}

.customer tbody td:first-of-type {
  padding-top: 4rem;
}

@media screen and (min-width: 750px) {
  .customer th,
  .customer td:first-of-type {
    text-align: left;
    padding-left: 0;
    padding-right: 2.2rem;
  }

  .customer thead th,
  .customer tbody td {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .customer th:first-of-type,
  .customer td:first-of-type {
    padding-left: 2.2rem;
  }

  .customer tbody td {
    vertical-align: top;
  }

  .customer tbody td:first-of-type {
    padding-top: 2.4rem;
  }
}

.customer tbody td:last-of-type {
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tbody td:last-of-type {
    padding-bottom: 0;
  }
}

.customer tbody tr {
  border-top: 0.01rem solid rgba(var(--color-foreground), 0.2);
}

/* component-form */
.field__input,
.select__select,
.customer .field input:not([type="checkbox"]),
.customer select {
  -webkit-appearance: none;
  appearance: none;
  padding: 18px 33px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 100px;
  color: rgb(var(--color-foreground));
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  width: 100%;
  height: 50px;
  box-shadow: none;
  box-sizing: border-box;
  transition: box-shadow var(--duration-short) ease;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 18px;
  height: 18px;
  border: 1px solid #2c272d;
  border-radius: 3px;
  margin-right: 0.5rem;
  display: grid;
  place-content: center;
}

.customer .field input[type="checkbox"] {
  position: absolute;
  border: none;
}
.customer .field input[type="checkbox"] + label {
  display: flex;
  position: relative;
  align-items: center;
}
.customer .field input[type="checkbox"]:checked + label .check {
  background: #ffe2e8;
  border: none;
}

.customer .field input[type="checkbox"]:checked + label .check svg {
  opacity: 1;
  stroke: black;
}

.customer .field input[type="checkbox"] + label .check {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid black;
  transition: background 0.2s;
  margin-right: 10px;
  color: white;
}

.customer .field input[type="checkbox"] + label .check svg {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.customer .field-check a {
  font-size: 12px;
  margin-left: 5px;
}

.select__select {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1.2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.field__input:hover,
.select__select:hover,
.customer .field input:hover,
.customer select:hover,
.localization-form__select:hover {
  box-shadow: none;
}

.field__input:focus-visible,
.select__select:focus-visible,
.field input:focus-visible {
  box-shadow: none;
  outline: none;
}

.field__input:focus,
.select__select:focus,
.field input:focus,
.customer select:focus {
  box-shadow: none;
  outline: none;
}

.text-area,
.select {
  display: inline-block;
  position: relative;
  width: 100%;
}

/* Select */

.select .icon-caret,
.customer select + svg {
  height: 0.6rem;
  pointer-events: none;
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 1.5rem;
}

.select__select,
.customer select {
  cursor: pointer;
  line-height: 1.6;
  padding: 0 4rem 0 1.5rem;
}

/* Field */

.field {
  position: relative;
  width: 100%;
  display: flex;
}

.customer .field {
  display: block;
  margin-top: 30px;
}

.field--with-error {
  flex-wrap: wrap;
}

.field__input,
.customer .field input:not([type="checkbox"]) {
  flex-grow: 1;
  text-align: left;
  padding: 1.5rem;
}

.field__label,
.customer .field label {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
  pointer-events: none;
  color: #2c272d;
  letter-spacing: 0;
  font-family: var(--font-body-family);
  margin-bottom: 10px;
}

.customer.register .field label {
  pointer-events: initial;
}

.customer .field.has-error input:not([type="checkbox"]) {
  border: 2px solid #d22d47;
}

.field.has-error .messages {
  color: #d22d47;
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.field.has-error .messages p {
  margin: 0;
  text-align: center;
}

.customer.register .errors ul {
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 750px) {
  .field.has-error .messages {
    font-size: 16px;
  }
}

.field__button {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: currentColor;
  cursor: pointer;
  display: flex;
  /*   height: 4.4rem; */
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.4rem;
}

.field__button > svg {
  height: 20px;
  width: 20px;
}

/* Text area */

.text-area {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  padding: 1.2rem;
  min-height: 10rem;
  resize: none;
}

.text-area--resize-vertical {
  resize: vertical;
}

/* Form global */

.form__label {
  display: block;
  margin-bottom: 0.6rem;
}

.form__message {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 1rem;
}

.form__message--large {
  font-size: 1.6rem;
}

.customer .field .form__message {
  font-size: 1.4rem;
  text-align: left;
}

.form__message .icon,
.customer .form__message svg {
  flex-shrink: 0;
  height: 1.3rem;
  margin-right: 0.5rem;
  width: 1.3rem;
}

.form__message--large .icon,
.customer .form__message svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.customer .field .form__message svg {
  align-self: start;
}

.form-status {
  margin: 0;
  font-size: 1.6rem;
}

.form-status-list {
  padding: 0;
  margin: 2rem 0 4rem;
}

.form-status-list li {
  list-style-position: inside;
}

.form-status-list .link::first-letter {
  text-transform: capitalize;
}

.login a[href="#recover"] {
  font-family: var(--font-body-family);
  font-size: 14px;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 750px) {
  .customer tbody tr:first-of-type {
    border-top: none;
  }
}

.customer tfoot td:first-of-type,
.customer tfoot td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-family: var(--font-body-family);
  letter-spacing: 0;
}

.customer tfoot td:first-of-type {
  text-align: left;
}

.customer tfoot tr:first-of-type td {
  padding-top: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:first-of-type td,
  .customer tfoot tr:first-of-type th {
    padding-top: 2.4rem;
  }
}

.customer tfoot tr:last-of-type td {
  padding-bottom: 4rem;
  font-family: var(--font-body-family);
  letter-spacing: 0;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:last-of-type td,
  .customer tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

/* works around colspan phantom border issues */
.customer thead::after,
.customer tfoot::before {
  content: " ";
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  background: rgba(var(--color-foreground), 0.2);
}

/* mobile table overrides */
@media screen and (max-width: 749px) {
  .customer thead,
  .customer th,
  .customer tfoot td:first-of-type {
    display: none;
  }

  .customer td {
    display: flex;
    text-align: right;
  }

  .customer td::before {
    color: #2c272d;
    content: attr(data-label);
    font-size: 14px;
    padding-right: 2rem;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
    font-family: var(--font-heading-family);
  }

  .customer td:first-of-type {
    display: flex;
    align-items: center;
  }

  .customer tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .customer-wrapper {
    display: flex;
  }

  .customer-wrapper .login,
  .customer-wrapper .register {
    flex-basis: 50%;
    max-width: 50%;
  }

  .customer-wrapper .login form,
  .customer-wrapper .customer form {
    max-width: 395px;
    margin: 0 auto;
  }
  .customer-wrapper .customer.register {
    padding: 3rem 1.5rem 3.75rem;
  }
  .customer .field label {
    font-size: 14px;
  }
  .customer:not(.account, .order) {
    max-width: 50%;
    padding: 3rem 1.5rem 9rem;
  }

  .customer .field-check a {
    font-size: 14px;
  }

  .customer h1,
  .customer-wrapper .customer h2 {
    margin-bottom: 2.375rem;
    line-height: 1.1;
  }
  h1.reset_title {
    font-family: 'Quincy CF';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 56px;
    color: #2C272D;
    margin-bottom: 16px;
  }
}

/* Pagination */
.customer .pagination {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

@media screen and (min-width: 990px) {
  .customer .pagination {
    margin-top: 7rem;
    margin-bottom: 10rem;
  }
}

.customer .pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.customer .pagination li {
  flex: 1 1;
  max-width: 4rem;
}

.customer .pagination li:not(:last-child) {
  margin-right: 1rem;
}

.customer .pagination li :first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.customer .pagination li :first-child svg {
  height: 0.6rem;
}

.customer .pagination li:first-of-type svg {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.customer .pagination li:last-of-type svg {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.customer .pagination li [aria-current]::after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.01rem;
  position: absolute;
  bottom: 0.08rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

/* Login */
.login a {
  display: block;
  margin: 0 auto;
  width: fit-content;
  color: #2c272d;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #2c272d;
  text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.customer a {
  font-family: var(--font-body-family);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #2c272d;
  text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.customer a:hover,
.underlined-link:hover {
  text-decoration-thickness: 1px;
}

.login a[href="#recover"] {
  margin-left: 0;
  margin-right: 0;
}

.login .field + a {
  margin-top: 0.5rem;
}

.login p {
  font-family: var(--font-body-family);
  margin: 1.5rem 0;
  line-height: 1.5;
  letter-spacing: 0.01em;
}


#customer_login_guest button {
  margin-top: 0;
}

#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: inline-block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

.activate button[name="decline"],
.addresses li > button,
.addresses form button[type] {
  background-color: #ffeef3;
  color: #2c272d;
}

.activate button[name="decline"]:hover,
.addresses li > button:hover,
.addresses form button[type]:hover {
  box-shadow: none;
  background-color: #ffe2e8;
}

@media only screen and (min-width: 750px) {
  .activate button[name="decline"] {
    margin-top: inherit;
    margin-left: 1rem;
  }
}

/* Account/Order */
:is(.account, .order) {
  margin: 3rem auto;
  max-width: var(--page-width);
  padding: 0 2rem;
}

@media screen and (min-width: 750px) {
  :is(.account, .order) {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) {
    display: flex;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) > div:first-of-type {
    flex-grow: 1;
    padding-right: 3.2rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .order > div:nth-of-type(2) > div:last-of-type {
    display: flex;
  }

  .order > div:nth-of-type(2) > div:last-of-type div {
    padding-right: 3.2rem;
  }
}

:is(.account, .order) p {
  margin: 0 0 2rem;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-body-family);
  letter-spacing: 0.01em;
}

:is(.account, .order) h1 {
  margin-bottom: 1rem;
  font-family: 'Quincy CF';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  text-transform: capitalize;
  color: #2C272D;
  text-align: center;
}

:is(.account, .order) h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 32px;
  line-height: 28px;
  color: #2C272D;
}

@media screen and (min-width: 990px) {
  :is(.account, .order) {
    margin: 6rem auto 9rem;
  }
  :is(.account, .order) h2 {
    margin-top: 0;
    font-family: 'Quincy CF';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 56px;
    text-transform: capitalize;
    color: #2C272D;
  }
  :is(.account, .order) h1 {
    font-family: 'Quincy CF';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 62px;
    text-align: center;
  }
}

.account h1 + a,
.customer-wrapper h2 + a {
  display: inline-flex;
  align-items: center;
}

.account a svg {
  width: 1.5rem;
  margin-bottom: -0.03rem;
  margin-right: 1rem;
}

@media screen and (min-width: 750px) {
  .account thead th:last-child,
  .account td:last-child {
    text-align: right;
  }

  .account table td:first-of-type {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.account table td:first-of-type a {
  padding: 1.1rem 1.5rem;
  text-decoration: none;
  box-shadow: 0 0 0 1px rgba(var(--color-link), 0.2);
  font-size: 1.2rem;
}

.account table td:first-of-type a:hover {
  box-shadow: 0 0 0 1px rgba(var(--color-link), 0.8);
}

.order td:first-of-type {
  align-items: initial;
}

@media screen and (min-width: 750px) {
  .order thead th:nth-last-child(-n + 3),
  .order td:nth-last-child(-n + 3) {
    text-align: right;
  }
}

.order tbody td:nth-of-type(3) dd:nth-of-type(2) {
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  line-height: 1.2;
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: var(--color-foreground-70);
}

.order tfoot tr:last-of-type td,
.order tfoot tr:last-of-type th {
  font-size: 24px;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .order tfoot tr:last-of-type td,
  .order tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

.order tfoot tr:last-of-type td:before {
  font-size: 2.2rem;
}

.order table p,
.order > div:nth-of-type(2) > div:first-of-type h2,
.order > div:nth-of-type(2) > div:last-of-type h2 + p {
  margin-bottom: 0;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p {
  margin-bottom: 0;
  font-size: 14px;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p:last-of-type {
  margin-bottom: 3rem;
}

.order .item-props {
  font-size: 1.4rem;
  margin-top: 0.05px;
  display: flex;
  flex-direction: column;
}

.order .item-props > span {
  word-break: break-all;
  line-height: 1.2;
}

.order .fulfillment {
  width: fit-content;
  border: 1px solid rgba(var(--color-foreground), 0.2);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: left;
}

.order .fulfillment a {
  margin: 0.7rem 0;
}

.order .fulfillment span {
  display: block;
}

.order .cart-discount {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
  .order td .cart-discount {
    display: none;
  }
}

.order tbody ul {
  list-style: none;
  font-size: 1.2rem;
  text-align: right;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .order tbody ul {
    text-align: left;
  }
}

.order tbody tr:first-of-type td:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 750px) {
  .order tbody tr:first-of-type td:first-of-type > div {
    align-items: flex-start;
  }
}

.order .properties {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.order .properties span {
  display: block;
  line-height: 1.2;
}

.order svg {
  width: 1.1rem;
  color: rgb(var(--color-base-accent-2));
  margin-right: 0.5rem;
}

.order dl {
  margin: 0;
}

.order dd {
  margin-left: 0;
  line-height: 1.3;
}

.order dd s {
  color: rgba(var(--color-foreground), 0.7);
}

/* Addresses */
.addresses li > button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.addresses li > button + button,
.addresses form button + button {
  margin-top: 0rem;
}

@media screen and (min-width: 750px) {
  .addresses li > button:first-of-type {
    margin-top: 3rem;
  }
}

label[for="AddressCountryNew"],
label[for="AddressProvinceNew"] {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}
label[for="AddressProvinceNew"] {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    pointer-events: none;
    color: #2c272d;
    letter-spacing: 0;
    font-family: var(--font-body-family);
    margin-bottom: 10px;
}
.addresses form {
  display: flex;
  flex-flow: row wrap;
}

.addresses form > div {
  width: 100%;
  text-align: left;
}

.addresses ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

li[data-address] {
  margin-top: 5rem;
}

.addresses li[data-address] h2 {
  text-align: center;
}

.addresses [aria-expanded="false"] ~ div[id] {
  display: none;
}

.addresses [aria-expanded="true"] ~ div[id] {
  display: block;
}

.addresses h2 {
  text-align: center;
}

li[data-address] > h2 {
  text-align: center;
  font-family: 'Quincy CF';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 0;
}

@media only screen and (min-width: 750px) {
  li[data-address] > h2 {
    font-family: 'Quincy CF';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 56px;
  }
}

.addresses ul p {
  margin-bottom: 0;
  font-family: var(--font-body-family);
  letter-spacing: 0.01em;
}

.addresses input[type="checkbox"] {
  margin-left: 0;
}

.field-check {
  display: flex;
  justify-content: flex-start;
  margin-top: 34px;
  font-size: 14px;
}

.addresses label {
  font-family: var(--font-body-family);
  letter-spacing: 0;
}

@media only screen and (min-width: 750px) {
  .addresses form > div:nth-of-type(1) {
    padding-right: 2rem;
  }

  .addresses form > div:nth-of-type(2) {
    margin-top: 0;
  }

  .addresses form > div:nth-of-type(1),
  .addresses form > div:nth-of-type(2) {
    flex-basis: 50%;
    box-sizing: border-box;
  }
}

.addresses form > div:nth-of-type(7),
.addresses form > div:nth-of-type(7) + div[id] {
  margin-top: 1.5rem;
}

.addresses-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addresses-buttons button {
  margin-right: 0;
  margin-left: 0;
}

@media only screen and (min-width: 990px) {
  .addresses-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }

  .addresses-buttons button {
    min-width: 235px;
  }

  .addresses form button:first-of-type {
    margin-right: 1rem;
  }
}
.customer_title_wrapper {
  text-align: center;
}
h3#recover {
  margin-bottom: 0;
}
.login h3.form__message svg {
  display: none;
}
.login h3.form__message {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  justify-content: center;
}
.login .errors ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

}
.login .errors ul li  {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    justify-content: center;
    text-align: center;
}
.help-block.error {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #D22D47; 
  text-align: center; 
  margin-top: 8px;
  margin-bottom: 0;
}
.reset_subtitle {
  margin-bottom: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}
.customer .field input::placeholder {
  color: transparent;
}