.banner,
.hero_banner {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: initial;
}
.hero_banner img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__image_mobile {
  display: none;
}
.banner__image_desk {
  display: block;
}
.hero_banner {
  position: relative;
  z-index: 1;
}
.scl_title {
  font-family: "Quincy CF";
  font-size: 68px;
  line-height: 62px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 17px;
  margin-top: 0;
  color: #2c272d;
}
.scl_title_light {
  color: #fff;
}
.banner__image_link {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #2c272d;
  text-transform: capitalize;
  text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.01em;
}
.banner__image_link_light {
  color: #ffff;
}

.banner__media {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
}

.banner__media-half {
  width: 50%;
}
.banner__media-sixty {
  width: 60%;
  padding-top: 48.6%;
}
.banner__image {
  position: relative;
  z-index: 1;
}
.banner__media-foty {
  width: 40%;
  padding-top: 48.6%;
}
.banner__image_content {
  position: absolute;
  z-index: 1;
  max-width: 510px;
  width: 100%;
  bottom: 61px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}
.banner__image_mr {
  margin-right: 5px;
}
.banner__image_ml {
  margin-left: 5px;
}
.banner--adapt {
  height: auto;
}

@media screen and (max-width: 1200px) {
  .scl_title {
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .banner__image_content {
    bottom: 32px;
    max-width: 355px;
  }
}
@media screen and (max-width: 749px) {
  .banner__image_mobile {
    display: block;
  }
  .banner__image_desk {
    display: none;
  }
  .banner__image_mr {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .banner__image_ml {
    margin-left: 0;
  }
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .banner__media-foty,
  .banner__media-sixty {
    width: 100%;
  }
  .banner__media-sixty {
    padding-top: 124%;
  }
  .banner__media-foty {
    padding-top: 100%;
  }
  .banner__image_content {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    min-height: 72rem;
    flex-direction: row;
  }
  .hero_banner {
    flex-direction: row;
  }
}

@media screen and (max-width: 749px) {
  .banner--stacked {
    height: auto;
  }

  .banner--stacked .banner__media {
    flex-direction: column;
  }
}

@media screen and (max-width: 749px) {
  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }

  .banner:not(.banner--adapt):not(.banner--stacked) > .banner__media {
    height: 39rem;
  }
}

@media screen and (min-width: 750px) {
  .banner__media {
    position: absolute;
    height: 100%;
  }
}

@media screen and (max-width: 749px) {
  .banner--stacked:not(.banner--adapt) .banner__media {
    height: 39rem;
  }
  .banner__image_link {
    font-size: 14px;
  }
  .banner::before {
    display: none !important;
  }

  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}

.banner__media .placeholder-svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner__content {
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .banner__content {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

.banner__box {
  border: 0;
  padding: 4rem 3.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
}

.banner__box > * + .banner__buttons {
  margin: 0 auto;
  margin-top: 2.3rem;
  transform: translateX(1rem);
}

.banner__box > * + .banner__buttons--multiple {
  display: flex;
  max-width: 45rem;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__buttons {
    margin-top: 2rem;
  }
}

.banner__content .button + .button {
  margin-top: 1.5rem;
}

.banner__content .button {
  height: auto;
  margin-right: 2rem;
}

.banner__box > * + .banner__text {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__text {
    margin-top: 2rem;
  }
}

.banner__box > * + * {
  margin-top: 1rem;
}

.banner__box > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .banner__content .button {
    flex-grow: 1;
  }

  .banner--stacked .banner__box {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .banner__box {
    padding: 4rem;
    width: 54.8rem;
  }

  .banner__box > .banner__buttons:only-child .button {
    margin-top: 0;
  }
}

.banner__heading > *,
.banner__text > * {
  word-wrap: break-word;
}

.banner__heading {
  margin-bottom: 0;
}
