.page-title {
  margin-top: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 56px;
}

.main-page-title {
  margin-bottom: 1.25rem;
  color: #2c272d;
}
.rte {
  max-width: 864px;
  margin-right: auto;
  margin-left: auto;
}
.rte h5 {
  font-size: 1rem;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #2c272d;
}
.rte p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-top: 0;
  color: #2c272d;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1440px) {
  .page-title {
    font-size: calc(32px + (60 - 32) * ((100vw - 375px) / (1440 - 375)));
    line-height: calc(28px + (56 - 28) * ((100vw - 375px) / (1440 - 375)));
  }
}
@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 750px) {
  .page-title {
    text-align: left;
  }
}
.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
@media screen and (max-width: 440px) {
  .rte {
    max-width: 343px;
  }
  .page-title {
    text-align: left;
    max-width: 343px;
    margin-right: auto;
    margin-left: auto;
  }
}
