{% comment%}
This template is used to provide json of all patches for the customizer v2
{%endcomment%}

{% layout none %} 

{% paginate collection.products by 1000 %}
{
  {% comment %} "collection":{{ collection | json }}, {% endcomment %}
  "products":[
    {% for item in collection.products %}
      {% assign product_collections = '' %}

      {% for col in item.collections %}
        {% if col.metafields.customizer.product_collections %}
          {% assign product_collections = col.metafields.customizer.product_collections | split: '|' %}
          {% break %}
        {% endif %}
      {% endfor %}

      {
        "id": {{ item.id }},
        "title":{{ item.title | json }},
        "handle":{{ item.handle | json }},
        "description":{{ item.description | json }},
        "vendor":{{ item.vendor | json }},
        "type":{{ item.type | json }},
        "tags":{{ item.tags | json }},
        "price":{{ item.price | json }},
        "price_min":{{ item.price_min | json }},
        "price_max":{{ item.price_max | json }},
        "available":{{ item.available | json }},
        "price_varies":{{ item.price_varies | json }},
        "featured_image":{{ item.featured_image | json }},
        "metafields": {{ item.metafields.global | json }},
        "published_at":{{ item.published_at | json }},
        {% if product_collections %}
          "excluded_product_collections": [
            {% for handle in product_collections %}
              {{ handle | json }}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          ],
        {% endif %}
        "variants": [
          {% for variant in item.variants %}
            {
              "id": {{ variant.id }}, 
              "title": {{ variant.title | json }},
              "option1": {{ variant.option1 | json }},
              "option2": {{ variant.option2 | json }},
              "option3": {{ variant.option3 | json }},
              "sku": {{ variant.sku | json }},
              "requires_shipping": {{ variant.requires_shipping | json }},
              "taxable": {{ variant.taxable | json }},
              "featured_image": {{ variant.featured_image | json }},
              "available": {{ variant.available | json }},
              "name": {{ variant.name | json }},
              "public_title": {{ variant.public_title | json }},
              "options": {{ variant.options | json }},
              "price": {{ variant.price | json }},
              "metafields": {{ variant.metafields.global | json }},
              "swatch_image": {{ variant.metafields.general.swatch_image | json }}
            }
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
        ],
        "collections": [
          {% for col in item.collections %}
            "{{col.handle}}"
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
        
        
      } 
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
{% endpaginate %}










