<div id="letters-gallery-tag">
    <div class="galleryBox" data-open="false" data-tag="letters">
    {% render 'isc-letters' %}
    </div>
    <div class="scroll-btn-holder" data-tag="letters">
        <span class="left-scroll" data-tag="letters">LEFT</span>
        <span class="right-scroll" data-tag="letters">RIGHT</span>
    </div>
</div>
