{% comment%}
This template is used to provide json for bags for the customizer v2
{%endcomment%}

{% layout none %}

{% comment %} Get the collection that this product is part of i.e. the classic small pouch is part of the "Customizer Small pouch Collection" {% endcomment %}
{% for c in product.collections %}
  {% if c.title contains 'Customizer' %}
    {
      "products":[
        {% for item in c.products %}
            {
              "id": {{ item.id }},
              "title":{{ item.title | json }},
              "handle":{{ item.handle | json }},
              "description":{{ item.description | json }},
              "vendor":{{ item.vendor | json }},
              "type":{{ item.type | json }},
              "tags":{{ item.tags | json }},
              "price":{{ item.price | json }},
              "price_min":{{ item.price_min | json }},
              "price_max":{{ item.price_max | json }},
              "available":{{ item.available | json }},
              "price_varies":{{ item.price_varies | json }},
              "featured_image":{{ item.featured_image | json }},
              "metafields": {{ item.metafields.global | json }},
              "published_at":{{ item.published_at | json }},
              "collections": [
                {% for col in item.collections %}
                  {{ col.handle | json }}
                  {% unless forloop.last %},{% endunless %}
                {% endfor %}
              ],
              "variants": [
                {% for variant in item.variants %}
                  {
                    "id": {{ variant.id }}, 
                    "title": {{ variant.title | json }},
                    "option1": {{ variant.option1 | json }},
                    "option2": {{ variant.option2 | json }},
                    "option3": {{ variant.option3 | json }},
                    "sku": {{ variant.sku | json }},
                    "requires_shipping": {{ variant.requires_shipping | json }},
                    "taxable": {{ variant.taxable | json }},
                    "featured_image": {{ variant.featured_image | json }},
                    "available": {{ variant.available | json }},
                    "name": {{ variant.name | json }},
                    "public_title": {{ variant.public_title | json }},
                    "options": {{ variant.options | json }},
                    "price": {{ variant.price | json }},
                    "metafields": {{ variant.metafields.global | json }},
                    "swatch_image": {{ variant.metafields.general.swatch_image | json }}
                  }
                  {% unless forloop.last %},{% endunless %}
                {% endfor %}
              ]
            } 
            {% unless forloop.last %},{% endunless %}
          
        {% endfor %}
      ]
    }
    {% break %}
  {% endif %}
{% endfor %}